﻿@model UTEP.Web.Areas.Admin.Models.CompanyViewModels.EditCompanyViewModel

@{
    ViewData["Title"] = "Company Edit";
}



@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Edit</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Company</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-controller="Company" asp-action="Edit" asp-area="admin" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Adı</label>
                                            <input asp-for="CompanyName" class="form-control" required />
                                            <span asp-validation-for="CompanyName" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Emali</label>
                                            <input asp-for="CompanyEmail" class="form-control" required />
                                            <span asp-validation-for="CompanyEmail" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Telefonu</label>
                                            <input asp-for="CompanyPhone" class="form-control" required />
                                            <span asp-validation-for="CompanyPhone" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Adresi</label>
                                            <input asp-for="CompanyAddress" asp-is-invariant="true" class="form-control" required />
                                            <span asp-validation-for="CompanyAddress" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Logosu</label>
                                            <input asp-for="Logo" type="file" onchange="UploadPhoto.call(this)" class="form-control" />
                                            @*<span asp-validation-for="Fax" class="text-danger" required></span>*@
                                        </div>
                                        <div style="text-align:center;">
                                            <img src="~/uploads/company/logo/@Model.Logo" id="logo" alt="Company Logo" style="height:100px;" />
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">Company tipi</label>
                                            <select asp-for="CompanyTypeId" asp-items="Model.CompanyTypes" class="form-control" required>
                                                <option value="">...</option>
                                            </select>
                                            <span asp-validation-for="CompanyTypeId" class="text-danger" required></span>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">Adı</label>
                                            <input asp-for="EditUser.FirstName" class="form-control" />
                                            <span asp-validation-for="EditUser.FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Soyadı</label>
                                            <input asp-for="EditUser.LastName" class="form-control" />
                                            <span asp-validation-for="EditUser.LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input asp-for="EditUser.Email" class="form-control" />
                                            <span asp-validation-for="EditUser.Email" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Telefon nömrəsi</label>
                                            <input asp-for="EditUser.PhoneNumber" class="form-control">
                                            <span asp-validation-for="EditUser.PhoneNumber" class="text-danger"></span>
                                        </div>

                                        <input type="hidden" asp-for="OldCompanyEmail" />
                                        <input type="hidden" asp-for="OldCompanyName" />
                                        <input type="hidden" asp-for="OldUserEmail" />


                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="Admin" asp-controller="Company" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function UploadPhoto() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("logo");
                    image.src = data.target.result;
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
    </script>
}