﻿@model UTEP.Web.Models.AccountViewModels.RegisterCompanyViewModel
@inject IViewLocalizer Localizer
@{
    var btnValue = Localizer["complete_register"].Value;
}
<style>
    .register-fields {
        margin: 0px auto 15px !important;
    }

    .error {
        color: red;
    }
</style>
<!-- MODALS SIGN UP -->
<div class="modals modal-sign-up" style="display:block">
    <div class="modal-register">
        <span class="close">&times;</span>
        <h3>@Localizer["register"]</h3>
        <form asp-controller="Account" asp-action="RegisterCompany" method="post" id="registerForm">

            <div id="mes" style="margin: 0 auto;text-align:center;"></div>

            <div class="register-fields register-form">
                <label for="companyName">@Localizer["company_name"]</label>
                <input type="text" name="CompanyName" id="companyName" placeholder="@Localizer["company_name"]" required>
            </div>

            <div class="register-fields register-form">
                <label for="voen">@Localizer["voen"]</label>
                <input type="text" name="VOEN" id="voen" placeholder="@Localizer["voen"]">
            </div>

            <div class="register-fields register-form">
                <label for="registerEmail">@Localizer["email"]</label>
                <input type="email" name="Email" id="registerEmail" placeholder="@Localizer["enter_email"]" required>
            </div>
            <div class="register-fields register-form">
                <label for="registerEmail">@Localizer["phone"]</label>
                <input type="text" name="Phone" id="registerPhone" placeholder="@Localizer["enter_phone"]" required>
            </div>
            <div class="register-fields register-form">
                <label for="registerEmail">@Localizer["firstname"]</label>
                <input type="text" name="FirstName" id="registerFirstName" placeholder="@Localizer["enter_firstname"]" required>
            </div>
            <div class="register-fields register-form">
                <label for="registerEmail">@Localizer["lastname"]</label>
                <input type="text" name="LastName" id="registerLastName" placeholder="@Localizer["enter_lastname"]" required>
            </div>

            <div class="register-fields register-form">
                <label for="registerPassword">@Localizer["password"]</label>
                <input type="password" name="Password" id="registerPassword" placeholder="@Localizer["enter_password"]" required>
            </div>

            <div class="register-fields register-form">
                <label for="registerPasswordAgain">@Localizer["password_confirm"]</label>
                <input type="password" name="ConfirmPassword" id="registerPasswordAgain" placeholder="@Localizer["password_confirm"]" required>
            </div>

            <div class="register-btn login-btn">
                <a href="javascript:void(0);" class="submitRegisterForm">@Localizer["complete_register"]</a>
            </div>
            <div class="register-hr">
                <hr>
                <span>@Localizer["or"]</span>
            </div>

            <div class="register-btn signup-btn">
                <a href="javascript:void(0);" class="loginFromRegisterForm">@Localizer["login"]</a>
            </div>
        </form>
    </div>
</div>
<!-- MODALS SIGN UP END -->

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(".close").click(function () {
        //$(this).parent().parent().removeAttr("style");
        $(".modal-section").html("");
    });

    $(".loginFromRegisterForm").click(function () {
        //$(this).parent().parent().parent().parent().removeAttr("style");
        $(".modal-section").html("");
        $.ajax({
            url: "/" + lang + "/account/login",
            method: "get"
        })
            .done(function (data) {
                $(".modal-section").append(data);
            });
    });

    $(".submitRegisterForm").on("click", function () {
            $("#mes").empty();
        if ($("#registerForm").valid()) {
            $(this).html(lang === "az" ? 'Gözləyin' : 'Подождите');
            $.ajax({
                url: $(this).parent().parent().attr('action'),
                method: "post",
                data: $("#registerForm").serialize()
            }).done(function (data) {
                if (data.status) {
                    //location.reload();
                    window.location.replace(lang + "/account/checkemail");
                } else {
                    var $mes = $("#mes");
                    $mes.append(data.message).css("color", "red");
                    $(".submitRegisterForm").html("@btnValue");
                }
            }).catch(function (data) {
                console.log(data);
            });
        }
    });

</script>