﻿@model UTEP.Web.Areas.Admin.Models.SiteTextViewModels.EditSiteTextViewModel

@{
    ViewData["Title"] = "Haqqımızda";
}


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Düzəliş</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Haqqımızda</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    @foreach (var language in Model.SiteLanguages)
                                    {
                                        if (language.LanguageCode.ToLower() == Model.LanguageCode)
                                        {
                                            <a asp-area="admin" asp-controller="SiteText" asp-action="About" asp-route-language="@language.LanguageCode" class="btn btn-success" style="text-transform:none; width:150px; margin:3px;"> @language.Name</a>
                                        }
                                        else
                                        {
                                            <a asp-area="admin" asp-controller="SiteText" asp-action="About" asp-route-language="@language.LanguageCode" class="btn btn-default" style="text-transform:none; width:150px; margin:3px;"> @language.Name</a>
                                        }
                                    }
                                    @* <img src="~/uploads/site/main/@Model.ImageForView1" width="300" height="150" style="object-fit:cover;" />*@
                                    <form asp-area="Admin" asp-controller="SiteText" asp-action="About" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Əsas Başlıq</label>
                                            <input asp-for="Title1" class="form-control" required />
                                            <span asp-validation-for="Title1" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Əsas Mətn</label>
                                            <textarea lang="az" asp-for="Body1" class="form-control" required></textarea>
                                            <span asp-validation-for="Body1" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Kiçik Mətn</label>
                                            <textarea lang="az" asp-for="Body2" class="form-control" required></textarea>
                                            <span asp-validation-for="Body2" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Başlıq Şəkli (1904 x 355)</label>
                                            <input type="file" name="file1" accept="image/*" onchange="showImage1.call(this)" />
                                            <img style="display:inline; width:400px;" src="~/uploads/site/about/@Model.ImageForView1" id="aboutImage1" />
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label bold">Şüar</label>
                                            <input asp-for="Title2" class="form-control" required />
                                            <span asp-validation-for="Title2" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Orta Şəkli (1630 x 540)</label>
                                            <input type="file" name="file2" accept="image/*" onchange="showImage2.call(this)" />
                                            <img style="display:inline; width:400px;" src="~/uploads/site/about/@Model.ImageForView2" id="aboutImage2" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Aşağıdakı Şəkil (1904 x 550)</label>
                                            <input type="file" name="file3" accept="image/*" onchange="showImage3.call(this)" />
                                            <img style="display:inline; width:400px;" src="~/uploads/site/about/@Model.ImageForView3" id="aboutImage3" />
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">Əlaqə başlıq</label>
                                            <input asp-for="Title3" class="form-control" />
                                            <span asp-validation-for="Title3" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Əlaqə Mətn</label>
                                            <input asp-for="Body3" class="form-control" />
                                            <span asp-validation-for="Body3" class="text-danger"></span>
                                        </div>

                                        @*<div class="form-group">
                <label class="control-label">Şəkil (1600 x 626)</label>
                <input type="file" name="file" title="Şəkli seçin" accept="image/*" class="form-control">
            </div>*@
                                        <input type="hidden" asp-for="Id" />
                                        <input type="hidden" asp-for="LanguageCode" />

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-9 col-md-12">
                                                    <button id="btn-validate-spinner" class="btn green" style="width:66px;height:34px">Saxla</button>
                                                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Body1');
        CKEDITOR.replace('Body2');
    </script>
    <script>
        function showImage1() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("aboutImage1");
                    image.src = data.target.result;
                    image.style.display = "inline";
                }
                obj.readAsDataURL(this.files[0]);
            }
        }

        function showImage2() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("aboutImage2");
                    image.src = data.target.result;
                    image.style.display = "inline";
                }
                obj.readAsDataURL(this.files[0]);
            }
        }

        function showImage3() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("aboutImage3");
                    image.src = data.target.result;
                    image.style.display = "inline";
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
    </script>
}

