﻿@model UTEP.Web.Areas.Admin.Models.SiteTextViewModels.EditSiteTextViewModel

@{
    ViewData["Title"] = "Ana Səhifə";
}


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Düzəliş</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Ana Səhifə</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    @foreach (var language in Model.SiteLanguages)
                                    {
                                        if (language.LanguageCode.ToLower() == Model.LanguageCode)
                                        {
                                            <a asp-area="admin" asp-controller="SiteText" asp-action="Main" asp-route-language="@language.LanguageCode" class="btn btn-success" style="text-transform:none; width:150px; margin:3px;"> @language.Name</a>
                                        }
                                        else
                                        {
                                            <a asp-area="admin" asp-controller="SiteText" asp-action="Main" asp-route-language="@language.LanguageCode" class="btn btn-default" style="text-transform:none; width:150px; margin:3px;"> @language.Name</a>
                                        }
                                    }
                                    <img src="~/uploads/site/main/@Model.ImageForView1" id="mainImage" width="300" height="150" style="object-fit:cover;" />

                                    <form asp-area="Admin" asp-controller="SiteText" asp-action="Main" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Əsas Başlıq</label>
                                            <input asp-for="Title1" class="form-control" required />
                                            <span asp-validation-for="Title1" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Alt Başlıq</label>
                                            <input asp-for="Title2" class="form-control" required />
                                            <span asp-validation-for="Title2" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Şəkil (1600 x 626)</label>
                                            <input type="file" name="file" title="Şəkli seçin" accept="image/*" onchange="showImage.call(this)" class="form-control">
                                        </div>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-9 col-md-12">
                                                    <button id="btn-validate-spinner" class="btn green" style="width:66px;height:34px">Saxla</button>
                                                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" asp-for="LanguageCode" />
                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        function showImage() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("mainImage");
                    image.src = data.target.result;
                    image.style.display = "inline";
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
    </script>
}

