﻿@model UTEP.Web.Models.ManageViewModels.ChangePasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["title"];
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">UTEP</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">@Localizer["title"]</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <form asp-area="CompanyProfile" asp-controller="User" asp-action="ChangePassword" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["old_password"]</label>
                                            <input asp-for="OldPassword" class="form-control" />
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["new_password"]</label>
                                            <input asp-for="NewPassword" class="form-control" />
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["repeat_new_password"]</label>
                                            <input asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <button id="btn-validate-spinner" type="button" class="btn green">@Localizer["confirm"]</button>
                                        <a href="#" onclick="history.go(-1);" class="btn default">@Localizer["cancel"]</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}