﻿@model UTEP.Web.Areas.Admin.Models.VehicleModelViewModels.EditVehicleModelViewModel

@{
    ViewData["Title"] = "VehicleModel Yeni";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Edit</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">VehicleModel</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form asp-area="Admin" asp-controller="VehicleModel" asp-action="Edit" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Adı</label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Vehicle Type</label>
                                            <select asp-for="VehicleTypeId" asp-items="Model.VehicleTypes" class="form-control">
                                                <option value="">...</option>
                                            </select>
                                            <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">VehicleMark</label>
                                            <select asp-for="VehicleMarkId" asp-items="Model.VehicleMarks" class="form-control">
                                                <option value="">...</option>
                                            </select>
                                            <span asp-validation-for="VehicleMarkId" class="text-danger"></span>
                                        </div>
                                        <div class="form-actions text-right">
                                            <button id="btn-validate-spinner" class="btn green">Təsdiqlə</button>
                                            <a asp-area="Admin" asp-controller="VehicleModel" asp-action="Index" asp-route-id="" asp-route-id="" class="btn default">Ləğv et</a>
                                        </div>
                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
