﻿@model UTEP.Web.ViewModels.DesktopMainViewModel

@inject IStringLocalizer<SharedResources> SharedLocalizer

<main class="desktop-main" style="background-image:url(/uploads/site/main/@Model.ImagePath);background-attachment: initial;">
    <!-- TEXT PART -->
    <div class="main-white">
        <div class="main-text">
            <h1>@Model.Title </h1>
            <h4>@Model.Body @*UTEP-lə Texnologiyaya Doğru*@</h4>
            <a asp-area="CompanyProfile" asp-controller="CompanyOrder" asp-action="Create" class="main-btn">@SharedLocalizer["get_announce"]</a>
        </div>
    </div>

    <!-- IMAGE PART -->
    <div class="main-img">
    </div>
</main>

<main class="main-important index-main-important">
    <div class="container">
        <div class="row">

            @*TEXT PART*@
            <div class="col-12">
                <div class="main-mobile-white">
                    <h1>@Model.Title</h1>
                    <h4>@Model.Body</h4>
                    <a asp-area="CompanyProfile" asp-controller="CompanyOrder" asp-action="Create" class="main-btn">@SharedLocalizer["get_announce"]</a>
                </div>
            </div>

        </div>
    </div>
</main>
