﻿@model UTEP.Web.ViewModels.DesktopMainViewModel

@inject IStringLocalizer<SharedResources> SharedLocalizer

<main class="desktop-main" style="background:url(/uploads/site/aboutf4a034debe544e888b039203ccf58b55.jpg) center right;">
    <!-- TEXT PART -->
    <div class="main-white">
        <div class="main-text">
            <h1>@Model.Title @*Unikal Transport Ekspedisiya Platforması*@ </h1>
            <h4>@Model.Body @*UTEP-lə Texnologiyaya Doğru*@</h4>
            <a href="javascript:void(0);" class="main-btn order_btn">@SharedLocalizer["get_announce"]</a>
        </div>
    </div>

    <!-- IMAGE PART -->
    <div class="main-img">
    </div>
</main>

<main class="main-important index-main-important">
    <div class="container">
        <div class="row">

            @*TEXT PART*@
            <div class="col-12">
                <div class="main-mobile-white">
                    <h1>@Model.Title</h1>
                    <h4>@Model.Body</h4>
                    <a class="main-btn order_btn">@SharedLocalizer["get_announce"]</a>
                </div>
            </div>

        </div>
    </div>
</main>
