﻿@model UTEP.Web.ViewModels.StatisticsViewModel
<!-- statistics -->
<section id="statistics" class="padding-50">
    <div class="container">

        <!-- OWL CAROUSEL -->
        <div class="owl-carousel owl-statistics owl-theme">
           
                <div class="item">
                    <div class="stat-about">
                        <span class="stat-number ">
                            @Model.To.Count
                        </span>
                        <span class="stat-word">@Model.To.Name</span>
                    </div>
                </div>
                <div class="item">
                    <div class="stat-about">
                        <span class="stat-number ">
                            @Model.Companies.Count
                        </span>
                        <span class="stat-word">@Model.Companies.Name</span>
                    </div>
                </div>
                <div class="item">
                    <div class="stat-about">
                        <span class="stat-number ">
                            @Model.Orders.Count
                        </span>
                        <span class="stat-word">@Model.Orders.Name</span>
                    </div>
                </div>
            
        </div>
    </div>
</section>
<!-- statistics end -->