﻿@model UTEP.Web.ViewModels.SlideViewModel
<!-- SLIDE -->
<section id="slide">
    <div class="container">
        <!-- LEFT ICON -->
        <div class="slide-icon left-icon">
            <div class="slide-img">
                <img src="~/v2/img/left.png" alt="This is Left arrow of the Utep Page Info Slide">
            </div>
        </div>

        <!-- RIGHT ICON -->
        <div class="slide-icon right-icon">
            <div class="slide-img">
                <img src="~/v2/img/right.png" alt="This is Right arrow of the Utep Page Info Slide">
            </div>
        </div>

        <!-- OWL CAROUSEL -->
        <div class="owl-carousel owl-slide owl-theme owl-main">
            @foreach (var item in Model.Slides)
            {
                <div class="item">
                    <div class="slide-main">
                        <span class="slide-number">
                            @item.Count
                        </span>
                        <span class="slide-word" style="line-height: 40px">@item.Name</span>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- SLIDE END -->