﻿@model UTEP.Web.Models.AccountViewModels.LoginViewModel
@inject IViewLocalizer Localizer
@{
    var url = ViewData["returnUrl"];
    var enter = Localizer["enter"].Value;
}
<style>
    .error {
        color: red;
    }
</style>

<!-- MODALS LOG IN -->
<div class="modals modal-log-in" style="display:block;">
    <div class="modal-register">
        <span class="close">&times;</span>
        <h3>@Localizer["login"]</h3>
        <form asp-area="" asp-controller="Account" asp-action="Login" method="post" id="loginForm">

            <div id="mesLogin" style="margin: 0 auto;text-align:center;"></div>

            <div class="register-fields register-form">
                <label for="registerEmail">@Localizer["email"]</label>
                <input type="email" id="registerEmail" name="EmailOrPhone" placeholder="@Localizer["enter_email"]" required>
            </div>


            <div class="register-fields register-form">
                <label for="registerPassword">@Localizer["password"]</label>
                <input type="password" id="registerPassword" name="Password" placeholder="@Localizer["enter_password"]" required>
            </div>


            <div class="register-fields register-checkbox">
                <input type="checkbox" id="RememberMe" asp-for="RememberMe">
                <span class="register-checkmark"></span>
                <label asp-for="RememberMe">@Localizer["remember"]</label>

                <span class="forgotPasswordLink">
                    <a href="javascript:void(0);">@Localizer["forgot_password"]</a>
                </span>
            </div>

            <div class="register-btn login-btn">
                <a href="javascript:void(0);" class="submitLoginForm">@Localizer["enter"]</a>
            </div>

            <div class="register-hr">
                <hr>
                <span>@Localizer["or"]</span>
            </div>

            <div class="register-btn signup-btn">
                <a href="javascript:void(0)" class="registerFromLoginForm">@Localizer["register"]</a>
            </div>
            <input asp-for="returnUrl" type="hidden" />
        </form>
    </div>
</div>
<!-- MODALS LOG IN END -->

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>

    var lang = window.location.pathname.split("/")[1];

    $(".close").click(function closeForm() {
        $(this).parent().parent().removeAttr("style");
    });

    $(".registerFromLoginForm").click(function () {
        //$(this).parent().parent().parent().parent().removeAttr("style");
        $(".modal-section").html("");
        $.ajax({
            url: "/" + lang + "/account/registerCompany",
            method: "get"
        })
            .done(function (data) {
                $(".modal-section").append(data);
            });
    });

    $(".submitLoginForm").on("click", function () {
        if ($("#loginForm").valid()) {
            $("#mesLogin").empty();
            var url = '@Model.returnUrl' != null ? "/"+lang+"/account/loginfromjs" : $(this).parent().parent().attr('action');
            //$(this).html('<i class="fa fa-spinner fa-pulse" style="font-size:16px"></i>');
            $(this).html(lang === "az" ? 'Gözləyin' : 'Подождите');
            $.ajax({
                url: url,
                method: "post",
                data: $("#loginForm").serialize()
            }).done(function (data) {
                if (data.status) {
                    if (data.returnUrl != null) {
                        window.location.href = data.returnUrl;
                    } else {
                        location.reload();
                    }
                } else {
                    var $mes = $("#mesLogin");
                    $mes.css("color", "red").css("display", "block").append(data.message.Value);
                    $(".submitLoginForm").html("@enter");
                }
            }).catch(function (data) {
                console.log(data);
                });
        }
            //$(this).html('');
    });

    $(".forgotPasswordLink").click(function () {
        //$(this).parent().parent().parent().parent().removeAttr("style");
        $(".modal-section").html("");
        $.ajax({
            url: "/" + lang + "/account/forgotpassword",
            method: "get"
        })
            .done(function (data) {
                $(".modal-section").append(data);
            });
    });

</script>
