﻿@model UTEP.Web.Areas.DriverProfile.Models.DriverResponseViewModels.EditDriverResponseViewModel

@{
    ViewData["Title"] = "DriverResponse Edit";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Edit</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">DriverResponse</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-area="companyprofile" asp-controller="DriverResponse" asp-action="Edit" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Başlanğıc Tarix</label>
                                            <input asp-for="StartDate" autofocus class="form-control" />
                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Son Tarix</label>
                                            <input asp-for="EndDate" asp-is-invariant="true" class="form-control">
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Gün Sayı</label>
                                            <input asp-for="DayCount" asp-is-invariant="true" class="form-control">
                                            <span asp-validation-for="DayCount" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Qiymət</label>
                                            <input asp-for="EstimatePrice" class="form-control">
                                            <span asp-validation-for="EstimatePrice" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Sürücü</label>
                                            <select asp-for="DriverId" asp-items="Model.Drivers" class="form-control"></select>
                                            <span asp-validation-for="DriverId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Truck</label>
                                            <select asp-for="TruckId" asp-items="Model.Trucks" class="form-control"></select>
                                            <span asp-validation-for="TruckId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Yük Hissəsi</label>
                                            <select asp-for="TrailerId" asp-items="Model.Trailers" class="form-control"></select>
                                            <span asp-validation-for="TrailerId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Məhsul</label>
                                            <select asp-for="CompanyOrderId" asp-items="Model.CompanyOrders" class="form-control"></select>
                                            <span asp-validation-for="CompanyOrderId" class="text-danger"></span>
                                        </div>
                                        <div class="form-actions text-right">
                                            <button id="btn-validate-spinner" type="button" class="btn green">Təsdiqlə</button>
                                            <a asp-area="CompanyProfile" asp-controller="DriverResponse" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                        </div>

                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
