﻿@model UTEP.Web.Areas.Admin.Models.DeliveryViewModels.EditDeliveryViewModel

@{
    ViewData["Title"] = "Delivery Edit";
}



@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Edit</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Delivery</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div id="DeliveryImage" class="text-center">
                                        <img src="" width="300" height="150" style="object-fit:contain; display:none; border:1px solid #dddddd" />
                                        <hr />
                                    </div>
                                    <form asp-controller="Delivery" asp-action="Edit" asp-area="admin" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Məhsul</label>
                                            <select asp-for="CompanyOrderId" asp-items="Model.CompanyOrders" autofocus class="form-control" required>
                                                <option value="">...</option>
                                            </select>
                                            <span asp-validation-for="CompanyOrderId" class="text-danger" required></span>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="Admin" asp-controller="Delivery" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

