﻿@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Şəxsi Kabinet";
}
<div class="text-center" style="margin: 200px 0 0 0 ; font-size:50px; font-family:Calibri">
    <span>@Localizer["welcome_to_private"]</span>
</div>
