﻿@model UTEP.Web.Models.HomeViewModels.OwnPageViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["profile"];
}




<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">@Localizer["profile"]</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">@Model.CompanyName</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-controller="Home" asp-action="OwnPage" asp-area="CompanyProfile" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["phone"]</label>
                                            <input asp-for="CompanyPhone" type="tel" placeholder="Məsələn: +994 50 123 45 67" class="form-control" required />
                                            <span asp-validation-for="CompanyPhone" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["address"]</label>
                                            <input asp-for="CompanyAddress" asp-is-invariant="true" class="form-control" required />
                                            <span asp-validation-for="CompanyAddress" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["manager_firstname"]</label>
                                            <input asp-for="ManagerFirstName" class="form-control" required />
                                            <span asp-validation-for="ManagerFirstName" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["manager_lastname"]</label>
                                            <input asp-for="ManagerLastName" class="form-control" required />
                                            <span asp-validation-for="ManagerLastName" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["logo"]</label>
                                            <input type="file" id="logo" name="file" onchange="UploadPhoto.call(this)" class="form-control" accept="image/*" />
                                            @*<span asp-validation-for="Fax" class="text-danger" required></span>*@
                                        </div>
                                        <img id="mainPhoto" src="" width="150" style="display:none;" alt="Logo" />
                                        <div class="text-center" id="photo">
                                            <img src="~/uploads/company/logo/@Model.LogoForView" width="150" alt="Alternate Text" />
                                        </div>


                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">@Localizer["confirm"]</button>
                                                    <a asp-area="Admin" asp-controller="Company" asp-action="Index" asp-route-id="" class="btn default">@Localizer["cancel"]</a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<input type="hidden" asp-for="@Model.UserId" />*@
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function UploadPhoto() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#photo').remove();
                    var image = document.getElementById("mainPhoto");
                    image.src = e.target.result;
                    image.style.display = "inline";
                }
                reader.readAsDataURL(this.files[0]);
            }
        }
    </script>
    <script src="~/js/input-mask.min.js"></script>
    <script>
        $('[type="tel"]').mask("(+999 99) 999 99 99");
    </script>
}

