﻿
@{
    ViewData["Title"] = "Vehicle Mark Index";
}

@section Styles{ <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

}

@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="~/js/date/formatdate.js"></script>
    <script src="~/js/admin/vehicleMark.js"></script>
}


<div class="row margin-top-10">
    <div class="col-md-12 text-center">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    @*<i class="fa fa-users font-dark"></i>*@
                    <img src="~/images/vehiclemark.png" />
                    <span class="caption-subject bold">
                        Nəqliyyat Markası
                        <a asp-controller="VehicleMArk" asp-action="Create" class="btn blue  btn-xs  btn-outline">
                            New <i class="fa fa-plus"></i>
                        </a>
                        <a asp-controller="VehicleMArk" asp-action="Index" class="btn yellow  btn-xs  btn-outline">
                            List <i class="fas fa-list-ul"></i>
                        </a>
                    </span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table id="vehiclemarkTrashTable" class="table table-hover table-striped table-bordered nowrap text-center" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center"><b>Adı</b></th>
                            <th class="text-center"><b>Əlavə olunma tarixi</b></th>
                            <th class="text-center"><b>Əməliyyatlar</b></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="DataTableForm">@Html.AntiForgeryToken()</form>
