﻿@model UTEP.Web.Areas.Admin.Models.CompanyShippingViewModels.CreateCompanyShippingViewModel

@{
    ViewData["Title"] = "CompanyShipping Yeni";
}

@section Styles{ <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
}

@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Company Shipping</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-controller="CompanyShipping" asp-action="create" asp-area="admin" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">DestinationTownLatitude</label>
                                            <input asp-for="DestinationTownLatitude" asp-is-invariant="true" autofocus class="form-control" required />
                                            <span asp-validation-for="DestinationTownLatitude" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">DestinationTownLongitude</label>
                                            <input asp-for="DestinationTownLongitude" asp-is-invariant="true" class="form-control" required />
                                            <span asp-validation-for="DestinationTownLongitude" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">OriginTownLatitude</label>
                                            <input asp-for="OriginTownLatitude" asp-is-invariant="true" class="form-control" required />
                                            <span asp-validation-for="OriginTownLatitude" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">DestinationTownLatitude</label>
                                            <input asp-for="OriginTownLongitude" asp-is-invariant="true" class="form-control" required />
                                            <span asp-validation-for="OriginTownLongitude" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Bitmə tarixi</label>
                                            <div class="input-group input-medium date date-picker" data-date-format="dd.mm.yyyy" data-date-start-date="">
                                                <input type="text" class="form-control" asp-for="Deadline" value="@Model.Deadline">
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span asp-validation-for="Deadline" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Sifarişi</label>
                                            <select asp-for="CompanyOrderId" asp-items="Model.CompanyOrders" class="form-control" min="0" required></select>
                                            <span asp-validation-for="CompanyOrderId" class="text-danger" required></span>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="Admin" asp-controller="CompanyShipping" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script>
            var ComponentsDateTimePickers = function () {

                var handleDatePickers = function () {

                    if (jQuery().datepicker) {
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });
                        //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                    }

                    /* Workaround to restrict daterange past date select: http://stackoverflow.com/questions/11933173/how-to-restrict-the-selectable-date-ranges-in-bootstrap-datepicker */

                    // Workaround to fix datepicker position on window scroll
                    $(document).scroll(function () {
                        $('#form_modal2 .date-picker').datepicker('place'); //#modal is the id of the modal
                    });
                }

                return {
                    //main function to initiate the module
                    init: function () {
                        handleDatePickers();
                    }
                };

            }();

            if (App.isAngularJsApp() === false) {
                jQuery(document).ready(function () {
                    ComponentsDateTimePickers.init();
                });
            }
        </script>
    }
}


