﻿@model UTEP.Web.Models.OrderViewModels.DetailViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Model.ProductName;
    var desc = Model.CompanyName + " " + Model.ProductName + " " + Model.PaletteCount.ToString("#");
    var path = Model.ProductImages.Any() ? Model.ProductImages.First().MainPath : "question-mark.png";
    var i = 0;

    var shareUrl = string.Format("{0}{1}", "http://utep.az", Url.Action("Detail", "Order", new { id = Model.Id }));
    var shareUrlEdited = string.Format("https://www.facebook.com/sharer/sharer.php?u={0}%2F&amp;src=sdkpreparse", shareUrl);
    var shareOnWhatsapp = string.Format("https://api.whatsapp.com/send?text={0}", shareUrl);
}

@section Meta{
    <meta property="og:url" content="@Context.Request.Scheme://@Context.Request.Host/az/order/detail/@Model.Id" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="UTEP" />
    <meta property="og:description" content="@desc" />
    <meta property="og:image" content="@Context.Request.Scheme://@Context.Request.Host/uploads/company/product/@path" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@utep.az" />
    <meta name="twitter:title" content="@Model.ProductName" />
    <meta name="twitter:description" content="@desc" />
    <meta name="twitter:url" content="@Context.Request.Scheme://@Context.Request.Host/az/order/detail/@Model.Id" />
    <meta name="twitter:domain" content="utep.az" />
    <meta name="twitter:creator" content="@@utep.az" />
    <meta name="twitter:image" content="@Context.Request.Scheme://@Context.Request.Host/uploads/company/product/@path" />
}

@await Component.InvokeAsync("DesktopMain")
<!-- DATEPICKER -->
@await Component.InvokeAsync("Search")
<!-- DATEPICKER END -->
<!-- DETAILS -->

<section id="details">
    <div class="container">
        <div class="details-design">
            <div class="row">
                <!-- PHOTO CAROUSEL -->
                <div class="col-lg-5">
                    <div class="owl-carousel owl-details owl-theme owl-loaded owl-drag">

                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1738px;">

                                @for (int j = 0; j < Model.ProductImages.Count(); j++)
                                {
                                    <div class="owl-item active" style="width: 569.234px; margin-right: 10px;">
                                        <div class="item">
                                            <div class="details-img">
                                                <a href="@Context.Request.Scheme://@Context.Request.Host/uploads/company/product/@Model.ProductImages.ToList()[j].MainPath" data-fancybox="gallery">
                                                    <img src="@Context.Request.Scheme://@Context.Request.Host/uploads/company/product/@Model.ProductImages.ToList()[j].MainPath" alt="@Model.ProductName">
                                                </a>
                                            </div>
                                            <div class="counter">@j/@Model.ProductImages.Count()</div>
                                            <div class="zoom">
                                                <img src="/v2/img/zoom.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>

                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
                            <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                        </div>
                        <div class="owl-dots disabled"></div>
                    </div>

                </div>


                <div class="col-lg-7 d-flex flex-wrap product-responsive">
                    <!-- PRODUCT DETAIL -->
                    <div class=" col-md-7">
                        <div class="details-info">
                            <div class="details-name">
                                <h5>@Model.ProductName </h5>
                                <span class="details-location">
                                    <img src="/v2/img/location-grey.png" alt="">
                                    @Model.From - @Model.To
                                </span>
                            </div>

                            <h6>@Localizer["product"]</h6>
                            <p>@Localizer["viewcount"] : <span class="blue-span">@Model.ViewCount</span> </p>
                            <p>@Localizer["count"] : <span class="blue-span">@Model.PaletteCount</span> </p>
                            <p>@Localizer["tonnage"] : <span class="blue-span">@Model.Tonnage.ToString("0.##") @Model.Weight</span> </p>
                            <p>@Localizer["add_date"]: <span class="blue-span">@Model.AddedDate.ToString("dd-MM-yyyy")</span></p>

                            <div class="details-share-icon">
                                <span>@Localizer["share"]:</span>
                                <ul>
                                    <li>
                                        <a href="@shareUrlEdited">
                                            <img src="/v2/img/facebook-logo.svg" alt="">
                                        </a>
                                    </li>
                                    @*<li>
                                            <a href="">
                                                <img src="/v2/img/instagram.svg" alt="">
                                            </a>
                                        </li>*@
                                    <li>
                                        <a href="@shareOnWhatsapp">
                                            <img src="/v2/img/whatsapp.svg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/share?url=@shareUrl">
                                            <img src="/v2/img/twitter.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <hr class="details-hr">
                        </div>
                    </div>

                    <!-- PRODUCT's PRICE & DATE -->
                    <div class=" offset-md-1 offset-lg-0 col-md-4">
                        <div class="details-price">

                            @if (Model.Price != "0")
                            {
                                <span class="details-offered-price">@Localizer["proporsalprice"]</span>
                                <h4>@Model.Price @Model.Currency</h4>
                            }
                            else
                            {
                                <span class="details-offered-price">@Localizer["proporsalprice"]</span>
                                <h4>---</h4>
                            }
                            <p class="details-start-date">
                                @Localizer["begin_date"] <span style="font-weight: 600">
                                    @Model.AddedDate.ToString("dd-MM-yyyy")
                                </span>
                            </p>
                            <p class="details-end-date">
                                @Localizer["end_date"] <span style="font-weight: 600">
                                    @Model.DeadLine.ToString("dd-MM-yyyy")
                                </span>
                            </p>

                            <a href="mailto:@Model.CompanyEmail" class="details-send-email details-link">@Localizer["send_email"]</a>
                            @if (Model.CompanyPhone != "+994")
                            {
                                <a href="tel:@Model.CompanyPhone" class="details-call details-link">@Localizer["phone"]</a>
                            }
                        </div>
                    </div>

                    <!-- PRODUCT's Extra INFO -->
                    <div class="col-12">
                        <div class="details-extra">
                            <h4>@Localizer["description"]</h4>
                            <p style="word-break:break-all;">
                                @Html.Raw(Model.Description)
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- DETAILS END -->
@if (Model.SimiliarProducts.Count > 0)
{
    <!-- FILTER -->
    <section id="filter">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 mb-2">
                    <div class="filter-text">
                        <h3>@Localizer["recent_announces"]</h3>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- FILTER ENDS -->
    <!-- PHOTOS -->
    <section id="photos" class="last-added">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.SimiliarProducts)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <a asp-action="Detail" asp-route-id="@item.OrderId" class="photos-about">
                            <div class="photos-img">
                                <img src="~/uploads/company/product/medium/@item.Image" alt="This is a Utep Trucks photo">
                            </div>
                            <div class="photos-text">
                                <h5>
                                    @if (item.Name.Length > 28)
                                    {
                                        @(item.Name.Substring(0, 28) + "...");
                                    }
                                    else
                                    {
                                        @item.Name
                                    }
                                </h5>
                                <span class="photos-location">
                                    <img src="~/v2/img/location-grey.png" alt="">
                                    @item.From - @item.To
                                </span>
                                <p>
                                    @if (item.Price != "0")
                                    {
                                        @item.Price @UTEP.Settings.Currency.GetCurrency(item.Currency)
                                    }
                                    else
                                    {
                                        @("---")
                                    }
                                </p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
}
<!-- PHOTOS END -->

@section Scripts{
    <script>
        $().fancybox({
            selector: '[data-fancybox="gallery"]',
            thumbs: false,
            slideShow: false,
            loop: true,
            zoom: true,
            backFocus: false
        });

        $('.zoom').on('click', function () {

            $.fancybox.open($('[data-fancybox="gallery"]'), {
                thumbs: false,
                slideShow: false,
                loop: true,
                zoom: true
            });
        });
    </script>
    <script src="~/js/project/getCities.js"></script>
}
