﻿@model UTEP.Web.Models.OrderViewModels.OrderViewModel
@using PagedList.Core.Mvc

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["list"];
    var nextPage = Model.CompanyOrders.PageNumber + 1;
    var previousPage = Model.CompanyOrders.PageNumber - 1;
}



@await Component.InvokeAsync("DesktopMain")

<!-- DATEPICKER -->
@await Component.InvokeAsync("Search")
<!-- DATEPICKER END -->
<!-- FILTER -->
<section id="filter" class="filter-ctgry">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mb-2">
                <div class="filter-text">
                    <h3>@Localizer["all_announces"]</h3>
                    <hr>
                </div>
            </div>

            <!-- <div class=" col-md-1 col-2">
                <span>Filtr</span>
            </div>

            <div class=" col-md-9  col-lg-8 col-7">
                <ul class="filter-checkbox">
                    <li>
                        <label class="check-item">Breakfast tacos
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="check-item">Tacos
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="check-item">Not a Taco
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="check-item">Chips & Dips
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="check-item">Sides
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="check-item">Eats & Treats
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="check-item">Kids
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 col-3">
                <div class="filter-clear">
                    <a href="" class="btn-underline">
                        Clear All
                    </a>
                </div>
            </div> -->

        </div>
    </div>
</section>
<!-- FILTER ENDS -->
<!-- PHOTOS and CATEGORIES -->
<section id="photos-ctgry">
    <div class="container">
        <div class="row">
            <!-- CATEGORY PART -->
            <div class="col-lg-3 col-12 mx-auto col-sm-12">
                <div id="ctgry">
                    <h5>@Localizer["category_list"]</h5>
                    <hr class="ctgry-hr">
                    <ul>
                        @foreach (var item in Model.ProductTypeTranslations)
                        {
                            <li>
                                <a asp-action="List" asp-route-page="1" asp-route-id="@item.ProductTypeId" title="@item.Name"> @item.Name <span>@item.ProductType.CompanyProducts.Where(x => x.CompanyOrder.Status == 1).Count()</span></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <!-- PHOTOS PART -->
            <div class="col-12 col-lg-9">
                <div id="photos">
                    <div class="row">
                        @foreach (var item in Model.CompanyOrders)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <a asp-action="Detail" asp-route-id="@item.Id" class="photos-about">
                                    <div class="photos-img">
                                        <img src="~/uploads/company/product/medium/@item.ProductImages.FirstOrDefault().MediumPath" alt="@item.Products.FirstOrDefault().Name">
                                    </div>
                                    <div class="photos-text">
                                        <h5>@item.Products.FirstOrDefault().Name</h5>
                                        <span class="photos-location">
                                            <img src="~/v2/img/location-grey.png" alt="@item.Products.FirstOrDefault().Name">
                                            @item.From - @item.To
                                        </span>
                                        <p>
                                            @if (item.ProporsalPrice > 0m)
                                            {
                                                @item.ProporsalPrice.ToString("0.##") @UTEP.Settings.Currency.GetCurrency(item.Currency)
                                            }
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">

                                    @*<pager class="page-link" list="Model.CompanyOrders" options="@PagedListRenderOptions.PageNumbersOnly" asp-controller="Order" asp-action="List" asp-route-id="0" />*@

                                    @for (int i = 1; i <= Model.CompanyOrders.PageCount; i++)
                                    {
                                        <li class="page-item"><a class="page-link" asp-action="List" asp-route-page="@i">@i</a></li>
                                    }
                                    @if (Model.CompanyOrders.HasNextPage)
                                    {
                                        <li class="page-item p-right">
                                            <a class="page-link p-arrow" asp-action="List" asp-route-page="@nextPage" aria-label="Next">
                                                <span aria-hidden="true">
                                                    <img src="~/v2/img/pagination-right.png" alt="">
                                                </span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Model.CompanyOrders.HasPreviousPage)
                                    {
                                        <li class="page-item p-left">
                                            <a class="page-link p-arrow" asp-action="List" asp-route-page="@previousPage" aria-label="Previous">
                                                <span aria-hidden="true">
                                                    <img src="~/v2/img/pagination-left.png" alt="">
                                                </span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PHOTOS END -->
@section Scripts{

    <script src="~/js/project/getCities.js"></script>
}