﻿@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Emailinizi yoxlayın";
}

<section>
    <div class="row" style="height:500px; padding-top:200px;">
        <div class="col-lg-12 text-center">
            <p style="font-size:20px;">@Localizer["confirm_email"]</p>
        </div>
    </div>
</section>


