﻿@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Emailin təsdiqi";
}

<div class="row" style="height:500px; padding-top:200px;">
    <div class="col-md-12 text-center">
        <p style="font-size:20px;">
            @Localizer["confirmed_email"]
        </p>
    </div>
</div>

@section Scripts{
    <script>
        var path = window.location.pathname.split('/');
        window.setTimeout(function () {
            // Move to a new location or you can do something else
            window.location.replace(path[0] + "/companyprofile/az/Home/About")
        }, 5000);
    </script>
}