﻿@model ForgotPasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["title"];
}

@*<div style="margin:120px auto;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">@Localizer["email"]</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">@Localizer["confirm"]</button>
            </form>
        </div>
    </div>
</div>*@


<div class="modals modal-forgot-password" style="display:block;">
    <div class="modal-register">
        <span class="close">&times;</span>
        <h3>@Localizer["forgot_password"]</h3>
        <form action="">

            <div class="register-fields register-form">
                <label for="registerEmail">@Localizer["email"]</label>
                <input type="email" id="registerEmail" placeholder="E-mail bura yazın">
            </div>

            <div class="register-btn login-btn">
                <a href="">@Localizer["login"]</a>
            </div>

            <div class="register-hr">
                <hr>
                <span>@Localizer["or"]</span>
            </div>

            <div class="register-btn signup-btn">
                <a href="">@Localizer["register"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
