﻿@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["title"];
}

<section>
    <div class="row" style="height:500px; padding-top:200px;">
        <div class="col-lg-12 text-center">
            <p style="font-size:20px;">@Localizer["message"]</p>
        </div>
    </div>
</section>
