﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model UTEP.Web.Models.AccountViewModels.LoginViewModel
@inject SignInManager<User> SignInManager
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["login"];
}


<!-- Inner Banner -->
<section id="inner-banner-2">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <div class="inner_banner_2_detail">
                    <h2>@Localizer["login"] / @Localizer["register"]</h2>
                    <p><a asp-controller="Home" asp-action="Index">@Localizer["home"]</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> @Localizer["login"] / @Localizer["register"]</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Inner Banner -->
<!-- Popular Listing -->
<section id="login-register" class="p_b70 p_t70">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a>Giriş</a>
                    </li>
                    @*<li role="presentation">
                            <a asp-controller="Account" asp-action="RegisterDriver" aria-controls="registerdDriver">Qeydiyyat - Sürücü</a>
                        </li>*@
                    <li role="presentation">
                        <a asp-controller="Account" asp-action="RegisterCompany" aria-controls="registerdCompany">@Localizer["register_company"]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-4" id="loginMain">
                        <div class="login-register-bg">

                            <div class="row">

                                <div class="col-md-12 col-sm-7 col-xs-12">
                                    @*col-md-7*@
                                    <div class="heading">
                                        <h2>@Localizer["login"]</h2>
                                    </div>

                                    <form class="registerd" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                        <div asp-validation-summary="All" style="color:#fc2525;margin-bottom:10px;"></div>
                                        <div class="form-group">
                                            <input asp-for="EmailOrPhone" autofocus class="form-control" placeholder="@Localizer["email_or_phone"]">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Password" class="form-control" placeholder="@Localizer["password"]">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" style="color:white">
                                                <input asp-for="RememberMe"> @Localizer["remember"]
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit">@Localizer["enter"]</button>
                                        </div>
                                        <div class="form-group">
                                            <a asp-controller="Account" asp-action="ForgotPassword">@Localizer["forgot_password"]</a> <a href="#">|</a> <a asp-action="RegisterCompany">@Localizer["new_profile"]</a>
                                        </div>
                                    </form>
                                </div>

                                @*<div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="social-register-bg">

                                            <h2>Say Hello... </h2>

                                            <p>Don't have an account? Create your account. It's take less then a minutes</p>

                                            <h3>Login with social media</h3>

                                            <ul class="social-register-icon">
                                                <li>
                                                    <a asp-controller="Home" asp-action="FaceBookLogin"><i class="fa fa-facebook"></i> FaceBook Login</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-google"></i> Google+</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
<!-- Popular Listing -->


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
