﻿@*@inject IViewLocalizer Localizer
@{
    var url = ViewData["returnUrl"];
}

@section Modal{
    <!-- MODALS LOG IN -->
    <div class="modals modal-log-in" style="display:block;">
        <div class="modal-register">
            <span class="close">&times;</span>
            <h3>@Localizer["login"]</h3>
            <form asp-area="" asp-controller="Account" asp-action="Login" method="post" id="loginForm">

                <div class="register-fields register-form">
                    <label for="registerEmail">E-mail</label>
                    <input type="email" id="registerEmail" name="EmailOrPhone" placeholder="E-mail bura yazın">
                </div>


                <div class="register-fields register-form">
                    <label for="registerPassword">@Localizer["password"]</label>
                    <input type="password" id="registerPassword" name="Password" placeholder="Şifrə bura yazın">
                </div>


                <div class="register-fields register-checkbox">
                    <input type="checkbox" id="rememberMe">
                    <span class="register-checkmark"></span>
                    <label for="rememberMe" name="RememberMe">@Localizer["remember"]</label>
                </div>

                <div class="register-btn login-btn">
                    <a onclick="submitForm(this,'#loginForm')">@Localizer["enter"]</a>
                </div>

                <div class="register-hr">
                    <hr>
                    <span>Və Ya</span>
                </div>

                <div class="register-btn signup-btn">
                    <a href="javascript:void(0)" onclick="goToSignUp()">@Localizer["register"]</a>
                </div>
            </form>
        </div>
    </div>
    <!-- MODALS LOG IN END -->
}

<script>
    $(".close").click(function () {
        $(this).parent().parent().removeAttr("style");
    });
</script>*@

@section Scripts{ 
    @{ 
        await Html.RenderPartialAsync("_OpenLoginPartial0.cshtml");
    }
}