﻿
@{
    ViewData["Title"] = Localizer["register"];
}

@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model UTEP.Web.Models.AccountViewModels.RegisterCompanyViewModel
@inject SignInManager<User> SignInManager
@inject IViewLocalizer Localizer

<!-- Inner Banner -->
<section id="inner-banner-2">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <div class="inner_banner_2_detail">
                    <h2>@Localizer["login"] / @Localizer["register"]</h2>
                    <p><a asp-controller="Home" asp-action="Index">@Localizer["home"]</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> @Localizer["login"] / @Localizer["register"]</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Inner Banner -->
<!-- Popular Listing -->
<section id="login-register" class="p_b70 p_t70">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a asp-controller="Account" asp-action="Login">@Localizer["login"]</a>
                    </li>
                    @*<li role="presentation">
                        <a asp-controller="Account" asp-action="RegisterDriver">Qeydiyyat - Sürücü</a>
                    </li>*@
                    <li role="presentation" class="active">
                        <a>@Localizer["register_company"]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">

        <div id="registerdCompany">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-4" id="loginMain">
                        <div class="login-register-bg">

                            <div class="row">

                                <div class="col-md-12 col-sm-7 col-xs-12"> @*col-md-7 col-sm-7*@
                                    <div class="heading">
                                        <h2>@Localizer["create_profile"]</h2>
                                    </div>

                                    <form class="registerd" asp-action="registerCompany" asp-controller="Account" method="post">
                                        <div asp-validation-summary="All" style="color:red;"></div>
                                        <div class="form-group">
                                            <input asp-for="CompanyName" class="form-control" placeholder="@Localizer["company_name"]">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="VOEN" class="form-control" placeholder="@Localizer["voen"]">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Email" class="form-control" placeholder="@Localizer["email"]">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Password" class="form-control" placeholder="@Localizer["password"]">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="ConfirmPassword" class="form-control" placeholder="@Localizer["password_confirm"]">
                                        </div>
                                        <div class="form-group">
                                            <button>@Localizer["complete_register"]</button>
                                        </div>
                                        <div class="form-group">
                                            <a asp-action="Login">@Localizer["if_you_register_enter"]</a>
                                        </div>
                                    </form>
                                </div>

                                @*<div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="social-register-bg">

                                        <h2>Say Hello... </h2>

                                        <p>Don't have an account? Create your account. It's take less then a minutes</p>

                                        <h3>Login with social media</h3>

                                        <ul class="social-register-icon">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google"></i> Google+</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- Popular Listing -->


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


