﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model UTEP.Web.Models.AccountViewModels.RegisterDriverViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "RegisterDriver";
}


<!-- Inner Banner -->
<section id="inner-banner-2">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <div class="inner_banner_2_detail">
                    <h2>Login / Register</h2>
                    <p><a asp-controller="Home" asp-action="Index">Home</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Login / Register</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Inner Banner -->
<!-- Popular Listing -->
<section id="login-register" class="p_b70 p_t70">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a asp-controller="Account" asp-action="Login">Giriş</a>
                    </li>
                    <li role="presentation" class="active">
                        <a>Qeydiyyat - Sürücü</a>
                    </li>
                    <li role="presentation">
                        <a asp-controller="Account" asp-action="RegisterCompany">Qeydiyyat - Şirkət</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">

        <div id="registerdDriver">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="login-register-bg">

                            <div class="row">

                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <div class="heading">
                                        <h2>Yeni hesab yarat</h2>
                                    </div>

                                    <form class="registerd" asp-controller="Account" asp-action="RegisterDriver" method="post">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input asp-for="FirstName" class="form-control" placeholder="Ad">
                                                </div>
                                                <div class="col-xs-6">
                                                    <input asp-for="LastName" class="form-control" placeholder="Soyad">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Phone" class="form-control" placeholder="Mobil Nömrə Məsələn: (0501234567)">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Password" class="form-control" placeholder="Şifrə">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="ConfirmPassword" style="font-family:'Times New Roman'" class="form-control" placeholder="Şifrə Təkrar">
                                        </div>
                                        <div class="form-group">
                                            <button>Qeydiyyatı Tamamla</button>
                                        </div>
                                        <div class="form-group">
                                            <a href="#login" aria-controls="login" role="tab" data-toggle="tab">Are you a already member ? Login</a>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="social-register-bg">

                                        <h2>Say Hello... </h2>

                                        <p>Don't have an account? Create your account. It's take less then a minutes</p>

                                        <h3>Login with social media</h3>

                                        <ul class="social-register-icon">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google"></i> Google+</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
<!-- Popular Listing -->


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}


