﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div style="margin:120px auto;">
    <h4 class="col-md-offset-4" style="margin-bottom:30px;">Şifrəni sıfırla</h4>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Şifrə</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Şifrə Təkrar</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input asp-for="Code" type="hidden" />
                <button type="submit" class="btn btn-default">Təsdiqlə</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
