﻿<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="400" style="padding-top: 20px">
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Sayta Geri Dön</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a asp-controller="Home" asp-action="Index" asp-area="" class="nav-link ">
                            <i class="fa fa-reply"></i>
                            <span class="title">Sayta Geri Dön</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="heading">
                <h3 class="uppercase bold">Companies and etc...</h3>
            </li>

            <!--Company-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fas fa-building font-dark"></i>
                    <span class="title">Şirkət ( Daşıyıcı )</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="Company" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Company" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Company" asp-action="Trash" asp-area="Admin" class="nav-link">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Company Client Admin-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fas fa-building font-dark"></i>
                    <span class="title">Şirkət ( Sifarişçi )</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="CompanyClientAdmin" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyClientAdmin" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyClientAdmin" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                    @*<li class="nav-item  ">
                        <a asp-controller="CompanyClientAdmin" asp-action="Waited" asp-area="Admin" class="nav-link ">
                            <span class="title">Təsdiq olunmayanlar</span>
                        </a>
                    </li>*@
                    <li class="nav-item  ">
                        <a asp-controller="CompanyClientAdmin" asp-action="EmailNotConfirmed" asp-area="Admin" class="nav-link ">
                            <span class="title">Emaili təsdiq etməyənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Company Type-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-building-o font-dark"></i>
                    <span class="title">Şirkət Tipi</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="CompanyType" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyType" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyType" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Cooperation-->
            @*<li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fas fa-building font-dark"></i>
                    <span class="title">Tərəfdaş</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="Cooperation" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Cooperation" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Cooperation" asp-action="Trash" asp-area="Admin" class="nav-link">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>*@

            <li class="heading">
                <h3 class="uppercase bold">Order and etc...</h3>
            </li>

            <!--Company Order Admin-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fas fa-building font-dark"></i>
                    <span class="title">Sifariş və Məhsul</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="CompanyOrderAdmin" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyOrderAdmin" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyOrderAdmin" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər - Admin tərəfindən</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="CompanyOrderAdmin" asp-action="TrashbyCompany" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər - Şirkət tərəfindən</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyOrderAdmin" asp-action="Waited" asp-area="Admin" class="nav-link ">
                            <span class="title">Təsdiq Olunmayanlar</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Product Type-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fas fa-building font-dark"></i>
                    <span class="title">Məhsul Tipi</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="ProductType" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="ProductType" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="ProductType" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>


            <!--Company Shipping-->
            @*<li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <img src="~/images/companyShipping.png" />
                    <span class="title">Şirkət Çatdırılma</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="CompanyShipping" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyShipping" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyShipping" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>*@

            <!--Delivery-->
            @*<li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <img src="~/images/delivery.png" />
                    <span class="title">Təhvil</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="Delivery" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Delivery" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Delivery" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>*@

            <!--Delivery Detail-->
            @*<li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <img src="~/images/deliverydetail.png" />
                    <span class="title">Təhvil Detalları</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="DeliveryDetail" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="DeliveryDetail" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="DeliveryDetail" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>*@

            <li class="heading">
                <h3 class="uppercase bold">Driver and etc...</h3>
            </li>

            <!--Driver-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <img src="~/images/taxi-driver.png" />
                    <span class="title">Sürücü</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="Driver" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Driver" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Driver" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Driver" asp-action="Waited" asp-area="Admin" class="nav-link ">
                            <span class="title">Təsdiqlənməyən</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--OfferToDriver-->
            @*<li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-money font-dark"></i>
                    <span class="title">Sürücüyə Təklif</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="OfferToDriver" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="OfferToDriver" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="OfferToDriver" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>*@

            <li class="heading">
                <h3 class="uppercase bold">Truck and etc...</h3>
            </li>

            <!--Trailer-->
            <li class="nav-item  ">
                <a asp-controller="Trailer" asp-action="Index" class="nav-link nav-toggle">
                    <img src="~/images/trailer1.png" />
                    <span class="title">Trailer</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="Trailer" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Trailer" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Trailer" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--TrailerType-->
            <li class="nav-item  ">
                <a asp-controller="TrailerType" asp-action="Index" class="nav-link nav-toggle">
                    <i class="fa fa-credit-card"></i>
                    <span class="title">Trailer Tipi</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="TrailerType" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="TrailerType" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="TrailerType" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--Truck-->
            <li class="nav-item  ">
                <a asp-controller="TrailerType" asp-action="Index" class="nav-link nav-toggle">
                    <img src="~/images/truck.png" />
                    <span class="title">Truck</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="Truck" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Truck" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Truck" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--VehicleMark-->
            <li class="nav-item  ">
                <a asp-controller="VehicleMark" asp-action="Index" class="nav-link nav-toggle">
                    <img src="~/images/vehiclemark.png" />
                    <span class="title">Nəqliyyat Markası</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="VehicleMark" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="VehicleMark" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="VehicleMark" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--VehicleModel-->
            <li class="nav-item  ">
                <a asp-controller="VehicleModel" asp-action="Index" class="nav-link nav-toggle">
                    <i class="fa fa-credit-card"></i>
                    <span class="title">Nəqliyyat Modeli</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="VehicleModel" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="VehicleModel" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="VehicleModel" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--VehicleType-->
            <li class="nav-item  ">
                <a asp-controller="VehicleType" asp-action="Index" class="nav-link nav-toggle">
                    <i class="fa fa-credit-card"></i>
                    <span class="title">Nəqliyyat Tipi</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="VehicleType" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="VehicleType" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="VehicleType" asp-action="Trash" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:red;">Silinənlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="heading">
                <h3 class="uppercase bold">Site and etc...</h3>
            </li>

            <!--SiteLanguage-->
            @*<li class="nav-item  ">
                <a asp-controller="SiteLanguage" asp-action="Index" class="nav-link nav-toggle">
                    <i class="fa fa-language font-dark"></i>
                    <span class="title">Dil</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="SiteLanguage" asp-action="Create" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="SiteLanguage" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                </ul>
            </li>*@

            <!--Site Text-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fas fa-building font-dark"></i>
                    <span class="title">Saytın başlıq və mətnləri</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="SiteText" asp-action="Main" asp-area="Admin" class="nav-link ">
                            <span class="title" style="color:green;">Ana Səhifə</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="Sitetext" asp-action="About" asp-area="Admin" class="nav-link ">
                            <span class="title">Haqqımızda və Əlaqə</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--User-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-user font-dark"></i>
                    <span class="title">İstifadəçi</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="User" asp-action="Admin" asp-area="Admin" class="nav-link ">
                            <span class="title">Admin</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="User" asp-action="Manager" asp-area="Admin" class="nav-link ">
                            <span class="title">Menecer</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="User" asp-action="Driver" asp-area="Admin" class="nav-link ">
                            <span class="title">Sürücü</span>
                        </a>
                    </li>
                    @*
                <li class="nav-item  ">
                    <a asp-controller="Company" asp-action="Trash" asp-area="Admin" class="nav-link ">
                        <span class="title" style="color:red;" >Silinənlər</span>
                    </a>
                </li>*@
                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
