﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown dropdown-user dropdown-dark">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username username-hide-on-mobile"> @UserManager.GetUserName(User) </span>
            <img alt="" class="img-circle" src="~/assets/layouts/layout4/img/avatar9.jpg" />
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
            <li>
                <a href="@Url.Action("MyProfile","Profile")">
                    <i class="icon-user"></i> Profilim
                </a>
            </li>
            <li>
                <a href="@Url.Action("ChangePassword","Profile")">
                    <i class="icon-calendar"></i> Şifrəni dəyiş
                </a>
            </li>
        </ul>
    </li>
}

