@font-face {
  src: url(../fonts/Lato-Regular.ttf);
  font-family: "Lato";
}

$primary-color: #ea320c;
$secondary-color: #3d70b2;
$third-color: #a1a1a1;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.index-body {
  background-color: #f8f9fa;
}
ul {
  margin-bottom: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.btn-underline {
  text-decoration: underline !important;
  color: $secondary-color;
  transition: all 0.3s linear;
  &:hover {
    color: rgb(0, 0, 201);
  }
}

textarea {
  resize: none;
}
.padding-50 {
  padding: 50px 0;
}

.container {
  min-width: 93% !important;
  margin: 0 auto;
}

.nav-logo,
.footer-logo {
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
  a {
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .tep {
      position: absolute;
      left: 105%;
      top: 5%;
      font-size: 18px;
      font-weight: 900;
      color: #ed4f00;
    }
  }
}
.footer-logo {
  .tep {
    line-height: 48px;
  }
}
nav.big80 {
  position: sticky;
  transition: background-color 0.2s linear;
}

nav {
  /* Select Common Design */
  .custom-select {
    position: relative;
    width: 36px;
    font-size: 14px;
    background: none;
    border: none;
  }

  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }

  .select-selected {
    background-color: transparent;
    font-size: 14px;
    padding-top: 1px;
    span {
      margin-left: -15px;
    }
  }

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: url("../img/white-arrow.png");
    top: 6px;
    right: -4px;
    transition: all 0.2s linear;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    transform: rotate(180deg);
    top: 10px;
    transition: all 0.2s linear;
  }

  /*style the items (options), including the selected item:*/
  .select-items div,
  .select-selected {
    color: #ffffff;
    padding-right: 25px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
  }
  .select-items div {
    padding: 3px 0px 4px 6px;
    transition: all 0.2s linear;
    &:hover {
      background-color: rgba(0, 0, 0, 0.233);
    }
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: $primary-color;
    border-radius: 0 0 4px 4px;
    top: 100%;
    left: 6px;
    width: 43px;
    right: 2px;
    z-index: 99;
    transition: all 0.2s linear;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
}

/* NAV */

.desktop-nav {
  .container {
    min-width: 100% !important;
  }
  .nav-home {
    background-color: transparent !important;
  }
  height: 70px;
  background-color: transparent;
  line-height: 69px;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
  .nav-left {
    padding-left: 5%;
    background-color: white;
    transition: 0.1s linear;

    .nav-space {
      border-left: 50px solid;
      border-left-color: white;
      border-bottom: 71px solid;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 60px;
      border-bottom-color: $primary-color;
      transition: 0.1s linear;
    }
  }

  .nav-right {
    padding: 0;
    background-color: $primary-color;
    transition: all 0.1s linear;
  }
  //   .nav-menu {
  .nav-menu {
    display: flex;
    margin-left: 60px;
    a {
      padding: 11px 17px;
      font-size: 13px;
      margin-right: 8px;
      font-weight: 700;
      color: $primary-color;
      transition: all 0.3s linear;
      &:hover {
        color: black;
      }
    }
    .active {
      background-color: $primary-color;
      color: white !important;
      border-radius: 5px;
      box-shadow: 0px 0px 15px rgba($color: $primary-color, $alpha: 0.3);
    }
  }
}

#desktop-index-nav {
  .nav-space {
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

.mobile-nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  display: none;
  .nav-logo {
    height: 100%;
  }
  .icon-place {
    display: flex;
    justify-content: flex-end;
    .nav-menu-icon {
      width: 32px;
      height: 100%;
      display: flex;
      position: relative;
      top: -11px;
      flex-direction: column;
      justify-content: flex-end;
      .long-hr-1,
      .long-hr-2,
      .short-hr hr {
        position: absolute;
        height: 3px;
        background-color: $primary-color;
        margin: 0 0 10px 0;
        border-radius: 3px;
        transition: all 0.2s linear;
      }
      .long-hr-1,
      .long-hr-2 {
        width: 100%;
      }
      .long-hr-1 {
        top: 35px;
      }
      .long-hr-2 {
        top: 47px;
      }
      .short-hr {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        transition: all 0.2s linear;
        hr {
          width: 53%;
          top: 59px;
        }
      }
    }
  }
  .hidden-layer {
    position: absolute;
    right: 100%;
    top: 0;
    width: 300%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.67);
    display: none;
  }
  .hidden-logo {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .mobile-language {
      a {
        display: inline-block;
        padding-left: 12px;
        font-size: 14px;
        color: white;
      }
    }
    .icon-hidden {
      height: 70px;
      top: 0;
      .nav-menu-icon-hidden {
        .long-hr-1,
        .long-hr-2,
        .short-hr hr {
          background-color: white;
        }
      }
    }
  }
  .nav-mobile-navbar.navbar-active {
    transform: translateX(0);
  }
  .nav-mobile-navbar.navbar-active .hidden-layer {
    display: block;
  }
  .nav-mobile-navbar {
    background-color: white;
    z-index: 9998;
    height: 100vh;
    width: 257px;
    right: 0;
    position: fixed;
    top: 0;
    padding-bottom: 20px;
    transform: translateX(120%);
    transition: all 0.2s linear;
    .nav-mobile-login {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 14px;
      a {
        color: $primary-color;
        line-height: 40px;
        font-size: 14px;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 10px;
      }
      .nav-mobile-sign {
        border-radius: 4px;
        border: 1px solid $primary-color;
        text-align: center;
        width: 90px;
      }
    }
    .mobile-hr {
      background-color: $primary-color;
      margin: 25px auto;
      width: 90%;
    }
    .mobile-menu {
      display: flex;
      flex-direction: column;
      position: relative;

      li {
        height: 40px;
        line-height: 40px;
        .active {
          background-color: $primary-color !important;
          color: white !important;
        }
        .nav-mobile-a {
          font-weight: 700;
          display: inline-block;
          color: $primary-color;
          padding-left: 15px;
          font-size: 14px;
          width: 100%;
        }
      }
    }

    .mobile-menu-extra {
      display: flex;
      flex-direction: column;
      li {
        height: 30px;
        margin-bottom: 15px;
        line-height: 30px;
        .mobile-extra-a {
          display: flex;
          color: $primary-color;
          font-size: 14px;
          padding-left: 15px;
          font-weight: 700;
          .nav-mobile-img {
            width: 15px;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
.nav-contact {
  display: -webkit-box;
  justify-content: center;
  a {
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    .nav-img {
      position: relative;
      top: -1px;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .arroba {
    position: relative;
    margin-right: 15px;
  }
  .nav-sign-up {
    border: 1px solid white;
    border-radius: 5px;
  }
  hr {
    position: absolute;
    left: 100%;
    top: 3px;
    height: 1px;
    width: 25px;
    color: white;
    margin-right: 15px;
    background-color: white;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .btn-secondary {
    border: none;
    background-color: transparent;
    box-shadow: none !important;
    background-color: transparent;
    outline: none;
  }
  .dropdown-toggle {
    background-color: transparent !important;
  }
}
// }

// NAV END

// MAIN

/* DESKTOP MAIN */
.desktop-main {
  width: 100%;
  background-color: white;
  position: relative;
  top: -70px;
  height: 370px;
  display: flex;
  background: linear-gradient(
      to right,
      rgba(144, 197, 209, 0.118),
      rgba(121, 165, 190, 0.502)
    ),
    url("/v2/img/slider3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-attachment: fixed;

  .main-white {
    .main-text {
      width: 120%;
    }
    width: calc(58% - 240px);
    padding-left: 5%;
    height: 370px;
    z-index: 100;
    background-color: white;
    color: #ea320c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    h1 {
      font-size: 32px;
      font-weight: 900;
    }
    .main-btn {
      padding: 10px 61px;
      display: inline-block;
      margin-top: 19px;
      border: 1px solid $primary-color;
      color: $primary-color;
      border-radius: 5px;
      transition: all 0.2s linear;
      &:hover {
        color: white;
        border-color: white;
        background-color: $primary-color;
      }
    }
  }
  .main-img {
    border-left: 230px solid;
    border-left-color: white;
    border-bottom: 370px solid;
    border-bottom-color: transparent;
  }
}

/* DESKTOP MAIN ENDS */

/* MOBILE MAIN */
.index-main-important {
  display: none;
}
.main-important {
  background-color: white;
  height: 200px;
  .main-mobile-white {
    position: relative;
    margin-top: 15px;
    padding-top: 10px;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    height: 160px;
    h1 {
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 12px;
    }
    h4 {
      font-size: 24px;
      margin-bottom: 12px;
    }

    .main-btn {
      display: inline-block;
      position: absolute;
      bottom: 0;
      transition: all 0.2s linear;
      text-align: center;
      font-size: 14px;
      padding: 7px 0;
      width: 221px;
      border: 1px solid $primary-color;
      border-radius: 4px;
      color: $primary-color;

      &:hover {
        color: white;
        background-color: $primary-color;
      }
    }
    .contact-btn-desktop {
      display: none;
    }
  }
  .about-white {
    a {
      margin-top: 30px;
    }
  }
}
/* MOBILE MAIN END */

// DATEPİCKER
#datepicker {
  position: relative;
  top: -100px;
  left: 0;
  z-index: 200;
  .z-index {
    z-index: 70;
  }
  .date-style {
    box-shadow: 0px 4px 6px hsla(0, 0%, 0%, 0.1);
    padding: 5px 0px 0px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #dededf;
    height: 80px;
    width: 100%;
    background-color: white;
    transition: all 0.2s linear;
    &:hover {
      box-shadow: 0px 4px 6px hsla(0, 0%, 0%, 0.16);
    }
    .form-control {
      border: none;
      background-color: white;
      font-size: 14px;
      &:focus {
        box-shadow: none;
      }
    }
    .date-img {
      display: inline-block;
      position: relative;
      top: -1px;
      i {
        color: #fbbc05;
      }
    }
    label {
      padding-left: 13px;
    }
    .date-main {
      margin-top: 3px;
      padding-left: 5px;
    }
    .start-date {
      span {
        color: #4992fc;
      }
    }
    .end-date {
      span {
        color: #ea4335;
      }
    }
    .location-date {
      label {
        color: #fbbc05;
      }
      .custom-select {
        position: relative;
        border: none;
      }

      .custom-select select {
        display: none; /*hide original SELECT element:*/
      }

      /*style the arrow inside the select element:*/
      .select-selected:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 10px;
        top: 10px;
        border: 9px solid white;
      }
      .select-selected:after {
        position: absolute;
        content: url("../img/down.png");
        top: -30px;
        right: 10px;
        transition: all 0.2s ease-in;
      }

      /*point the arrow upwards when the select box is open (active):*/
      .select-selected.select-arrow-active:after {
        transform: rotate(180deg);
        top: -25px;
      }

      /*style the items (options), including the selected item:*/
      .select-items div,
      .select-selected {
        color: #6c7592;
        cursor: pointer;
        user-select: none;
        font-size: 14px;
      }

      /*style items (options):*/
      .select-items {
        position: absolute;
        background-color: white;
        top: 90%;
        left: -5px;
        padding-bottom: 7px;
        right: 0;
        z-index: 99;
        transition: all 0.2s linear;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
        div {
          height: 37px;
          line-height: 37px;
          padding-left: 17px;
        }
      }

      /*hide the items when the select box is closed:*/
      .select-hide {
        display: none;
      }
      div.same-as-selected {
        color: white;
      }
      .select-items div:hover,
      .select-items div:focus,
      .same-as-selected {
        transition: all 0.2s linear;
        background-color: #fbbc05;
        color: white;
      }
    }
  }
  .date-search {
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(234, 49, 12, 0.48);
    transition: all 0.2s linear;
    border-radius: 4px;
    &:hover {
      transform: scale(1.05);
    }
    a {
      border-radius: 4px;
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 80px;
      text-align: center;
      color: white;
      background-color: $primary-color;
      transition: all 0.2s linear;
      &:hover {
        background-color: white;
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
}
// DATEPİCKER ENDS

// FILTER
.filter-ctgry {
  margin-top: -180px !important;
  height: 210px;
  padding-top: 110px;
}

#filter {
  margin-top: -70px;
  margin-bottom: -20px;
  .filter-text {
    h3 {
      font-size: 26px;
    }
    hr {
      margin: 0;
    }
  }
  .filter-checkbox {
    display: flex;
    flex-wrap: wrap;
    li {
      list-style-type: none;
    }

    .check-item {
      display: block;
      position: relative;
      padding: 4px 0px 0px 20px;
      margin-right: 25px;
      color: #152934;
      cursor: pointer;
      font-size: 14px;
    }

    .check-item input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      transition: all 0.12s linear;
    }

    .checkmark {
      position: absolute;
      top: 5px;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: white;
      border-radius: 4px;
      border: 2px solid #8c9ba5;
    }

    .check-item:hover input ~ .checkmark {
      background-color: rgb(236, 236, 236);
    }

    .check-item input:checked ~ .checkmark {
      background-color: $primary-color;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .check-item input:checked ~ .checkmark:after {
      display: block;
    }
    .check-item input:checked ~ .checkmark {
      border: none;
    }
    .check-item .checkmark:after {
      left: 6px;
      top: 1px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

// FILTER END

// PHOTOS
#photos {
  padding-bottom: 50px;
  .photos-about {
    display: inline-block;
    border-radius: 5px;
    margin-top: 48px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    .photos-img {
      width: 100%;
      height: 145px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    .photos-text {
      padding: 15px;
      h5 {
        color: $primary-color;
        font-weight: 700;
      }
      .photos-location {
        color: $third-color;
        font-size: 14px;
      }
      p {
        color: black;
        font-weight: 900;
        padding-top: 7px;
      }
    }
  }
}

// PHOTOS END

// SLIDE
#slide {
  .container {
    width: 60%;
    margin: 0 auto;
  }
  background-color: $primary-color;
  position: relative;
  padding: 14px 0;
  .owl-main {
    display: flex;
    width: 94.2%;
    margin-left: 30px;
  }
  .owl-nav {
    display: block !important;
  }

  .slide-icon {
    position: absolute;
    top: calc(50% - 16px);
    color: white;
    width: 16px;
    height: 32px;
    cursor: pointer;
    i {
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-size: 40px;
      line-height: 40px;
    }
  }
  .slide-img {
    width: 16px;
    height: 32px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .left-icon {
    left: -2%;
  }
  .right-icon {
    right: -2%;
  }
  .slide-main {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    color: white;
    .slide-number {
      font-weight: 900;
      font-size: 40px;
      padding: 10px 5px;
      display: block;
    }
    .slide-word {
      font-size: 15px;
      font-weight: normal;
      color: white;
      padding-top: 22px;
      line-height: 18px;
    }
  }
}
// SLIDE END

// STATISTICS

#statistics {
  .statistics-style {
    display: flex;
    justify-content: space-evenly;
  }

  .stat-about {
    height: 76px;
    margin: 0 auto;
    width: 310px;
    border-radius: 5px;
    border: 1px solid #f0f3f6;
    display: flex;
    justify-content: center;
    background-color: white;
    .stat-number {
      font-size: 40px;
      line-height: 76px;
      color: #4992fc;
      margin-right: 5px;
      padding-right: 8px;
    }
    .stat-word {
      line-height: 76px;
      font-size: 19px;
    }
  }
}

// STATISTICS END

// FOOTER
footer {
  color: $third-color;
  padding: 50px 0;
  .footer-img {
    width: 100%;
    display: flex;
  }
  .footer-text {
    padding-top: 10px;
    font-size: 14px;
  }

  .footer-hr {
    background-color: #9a9a9a;
    margin: 25px 0;
    display: none;
    width: 100%;
  }
  h6 {
    color: rgb(35, 47, 51);
    border: #707070;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  ul {
    a,
    address {
      display: inline-block;
      margin-bottom: 6px;
      color: $third-color;
      transition: all 0.2s linear;
      font-size: 14px;
      &:hover {
        color: black;
      }
    }
  }
}

// FOOTER END

// SUBCSRIBE
#subscribe {
  padding: 15px 0 10px;
  .mobile-subscribe-1 {
    order: 2;
  }
  .mobile-subscribe-2 {
    order: 3;
  }
  .mobile-subscribe-3 {
    order: 1;
  }
  .subscribe-text {
    font-size: 14px;
    color: #cecece;
    padding-left: 10px;
    font-weight: 500;
  }
  .subscribe-icons {
    width: 100%;
    height: 100%;
    li {
      a {
        padding: 0 5px;
      }

      &:hover img {
        transition: all 0.2s linear;
        transform: scale(1.2);
      }
    }
  }
  .padding-r {
    padding-right: 16px;
  }
  .padding-t {
    padding-top: 16px;
  }
  .form-control {
    outline: none;
    border-color: #dededf;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 13;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      font-size: 14px;
      color: #cecece;
    }
  }
  .btn-outline-secondary {
    background-color: $primary-color;
    color: white;
    border-color: $primary-color;
    width: 136px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(234, 49, 12, 0.48);
    z-index: 15;
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
      background-color: white;
      outline: none;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
/* SUBCSRIBE END */

/* ADVERTISEMENT */
#photos-ctgry {
  margin-top: -60px;

  #ctgry {
    .ctgry-active {
      background-color: #fbbc05;
      color: white;
    }
    border: 1px solid #f0f3f6;
    margin-top: 47px;
    // width: 300px;
    height: 635px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #152934;
      padding: 25px 28px 0;
    }

    .ctgry-hr {
      background-color: #dfdfdf;
      width: 85%;
      margin: 20px auto;
    }
    ul {
      li {
        height: 37px;

        a {
          display: flex;
          justify-content: space-between;
          color: #152934;
          height: 100%;
          width: 100%;
          font-size: 16px;
          line-height: 37px;
          padding: 0 25px;
          transition: all 0.2s linear;
          overflow: hidden;
          &:hover {
            background-color: #fbbc05;
            color: white;
          }

          span {
            display: inline-block;
          }
        }
      }
    }
  }
}
/* ADVERTISEMENT ENDS */

/* ABOUT PAGE */
.about-content {
  padding: 50px 0 300px;
  .about-left {
    padding-right: 0px;
  }
  .about-right {
    padding-left: 0px;
  }
  .about-text {
    height: 460px;
    background-color: #f8f9fa;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    p {
      font-size: 16px;
      padding: 30px 50px 0 30px;
    }
  }
  .about-img {
    width: 100%;
    height: 460px;
    img {
      border-top-right-radius: 21px;
      border-bottom-right-radius: 21px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/* ABOUT PAGE END*/

/* PAGINATION  */
.pagination {
  margin-top: 50px;
  .p-left {
    margin-left: 15px;
  }
  li.active a {
    background-color: #2f2f2f !important;
    border-color: #2f2f2f !important;
  }
  li {
    margin-right: 4px;
    a {
      border-radius: 4px;
      border-color: #2f2f2f;
      color: #2f2f2f;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      padding: 0;
      background-color: transparent;

      img {
        top: -2px;
        position: relative;
      }
      &:hover {
        border-color: #2f2f2f;
        background-color: white;
        color: #2f2f2f;
      }

      &:focus {
        box-shadow: none;
      }
      &:focus:not(.p-arrow) {
        background-color: #2f2f2f;
        color: #f0f3f6;
      }
    }
  }
}
/* PAGINATION  END */

/*DETAILS PAGE */
#details {
  position: relative;
  top: -60px;
  margin-bottom: 40px;
  p {
    margin-bottom: 4px;
    font-size: 14px;
  }
  .details-design {
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f0f3f6;

    /* DETAILS CAROUSEL/SLIDE */

    .owl-details {
      width: 100%;
      .owl-stage-outer {
        border-radius: 4px;
      }
      .details-img {
        width: 100%;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .details-name {
      h5 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 3px;
        line-height: 25px;
      }
      .details-location {
        color: #9a9a9a;
        font-size: 14px;
      }
    }
    .counter {
      position: absolute;
      width: 60px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      left: calc(50% - 30px);
      bottom: 10px;
      z-index: 10;
    }
    .zoom {
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 11;
      cursor: pointer;
    }

    /*DETAILS INFO */
    .details-info {
      position: relative;
      color: #152934;

      h6 {
        font-size: 14px;
        font-weight: 900;
        margin: 25px 0 5px;
      }

      p {
        color: #152934;
        .blue-span {
          display: inline-block;
          color: #4992fc;
          font-size: 16px;
          padding-left: 3px;
        }
      }
      .details-share-icon {
        display: flex;
        margin-top: 30px;
        span {
          display: inline-block;
          font-size: 14px;
          color: #9a9a9a;
          margin-right: 10px;
          padding-top: 5px;
        }
        ul {
          display: flex;
          a {
            padding: 0 7px;
          }
        }
      }

      .details-hr {
        transform: rotate(90deg);
        width: 210px;
        background-color: #9a9a9a;
        position: absolute;
        top: 110px;
        left: 71%;
      }
    }

    /* DETAILS PRICE & DATE */
    .details-price {
      padding-left: 20px;
      margin-top: 14px;
      .details-offered-price {
        display: inline-block;
        color: #152934;
        font-size: 14px;
      }
      h4 {
        font-size: 26px;
        font-weight: bold;
        color: black;
      }
      .details-start-date {
        color: #4992fc;
        font-size: 14px;
      }
      .details-end-date {
        color: $primary-color;
        font-size: 14px;
      }

      .details-link {
        display: block;
        width: 186px;
        border-radius: 4px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        transition: all 0.2s linear;
        font-size: 14px;
      }
      .details-send-email {
        border: 1px solid $primary-color;
        background-color: $primary-color;
        color: white;
        margin-bottom: 15px;
        margin-top: 25px;
        &:hover {
          background-color: white;
          color: $primary-color;
        }
      }
      .details-call {
        border: 1px solid #2f2f2f;
        background-color: white;
        color: #2f2f2f;
        &:hover {
          background-color: #2f2f2f;
          color: white;
        }
      }
    }

    .details-extra{
      margin-top: 20px;
      margin-left: 10px;
      color: #152934;
      h4{
        font-size: 16px;
        font-weight: 700;
      }
      p{
        font-size: 14px;
      }
    }
  }
}

/*DETAILS PAGE END */

/* CONTACT PAGE and MODAL REGISTER FORM */

.contact-area {
  padding: 35px 0 500px;
  background-color: #f8f9fa;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact-flex-sm {
  flex-direction: column;
}

.contact-name,
.contact-email {
  margin-left: 32px;
  height: 70px;
  margin-bottom: 30px;
}
.contact-message {
  display: inline-block;
  margin: 0 32px 30px;
  height: 167px;
}
.contact-form,
.register-form {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 7px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  input,
  textarea {
    border: none;
    color: #757575;
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
      color: #cecece;
    }
    &:focus {
      outline: none;
    }
  }
}
.contact-btn {
  width: 100%;
  position: absolute;
  top: 0;
  left: 34px;
  a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    color: white;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: 0px 4px 6px rgba(234, 49, 12, 0.493);
    border-radius: 4px;
    transition: all 0.2s linear;
    &:hover {
      box-shadow: 0px 4px 10px rgba(234, 49, 12, 0.793);
    }
    .contact-send {
      width: 15px;
      height: 5px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* CONTACT PAGE REGISTER FORM END*/

/*MODALS */
.modals {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.67);
  .modal-register {
    position: relative;
    padding: 74px 0;
    width: 572px;
    margin: auto;
    background-color: white;
    h3 {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #082a38;
    }
    .close {
      display: inline-block;
      font-size: 35px;
      position: absolute;
      top: 10px;
      right: 23px;
      color: #9a9a9a;
      transition: all 0.1s linear;
      cursor: pointer;
      &:hover,
      &:focus {
        color: #666666;
      }
    }
    .register-fields {
      position: relative;
      width: 315px;
      height: 60px;
      margin: 0px auto 9px;
      border: 1px solid #dededf;
    }
    .register-checkbox {
      border: none;
      margin-top: 16px;
      margin-bottom: 35px;
      input[type="checkbox"] {
        width: 17px;
        height: 17px;
        position: relative;
        top: 3px;
        left: 3px;
      }

      label {
        font-size: 14px;
        color: #4992fc;
        margin-left: -13px;
      }
      input[type="checkbox"]:checked + .register-checkmark::before {
        border-color: #4992fc;
      }
      .register-checkmark {
        position: relative;
        display: inline-block;
        top: 3px;
        left: -20px;
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 4px;
        border: 2px solid #dededf;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
        pointer-events: none;
        &::before {
          content: "";
          position: absolute;
          left: 5px;
          top: 1px;
          width: 7px;
          height: 12px;
          border: solid transparent;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);

          vertical-align: bottom;
        }
      }
    }

    .register-btn {
      width: 315px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border: 1px solid $primary-color;
      transition: all 0.2s linear;
      border-radius: 4px;
      margin: auto;
    }
    .login-btn {
      background-color: $primary-color;
      box-shadow: 0 4px 6px rgba(234, 49, 12, 0.48);
      a {
        width: 100%;
        color: white;
        display: inline-block;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    .signup-btn {
      background-color: white;
      a {
        width: 100%;
        color: $primary-color;
        display: inline-block;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    .forgotPasswordLink{
      position: absolute;
      right: 0;
      a{
        color: #9a9a9a;
        font-size: 14px;
        transition: all 0.2s linear;
        &:hover{
          color: #2f2f2f;
        }
      }
    }
    .register-hr {
      position: relative;
      hr {
        background-color: #9a9a9a;
        width: 226px;
        margin: 30px auto;
      }
      span {
        display: inline-block;
        position: absolute;
        top: -12px;
        padding: 0 15px;
        background-color: white;
        left: calc(50% - 30px);
        font-size: 14px;
        color: #9a9a9a;
      }
    }
  }
}

/*MODALS END */

/* RESPONSIVENESS */

@media only screen and (max-width: 1200px) {
  .desktop-nav {
    .nav-menu {
      justify-content: center;
      margin-left: -30px;
      a {
        margin: 0;
      }
    }
    .nav-contact {
      margin-left: -35px;
      a {
        font-size: 11px;
        .nav-img {
          width: 13px;
        }
      }
    }
  }
  #slide {
    .slide-main {
      .slide-word {
        font-size: 14px;
        padding-top: 23px;
      }
    }
  }
  #statistics {
    .stat-about {
      width: 260px;
    }
  }
}
@media only screen and (max-width: 992px) {
  .desktop-nav,
  .desktop-main {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .index-main-important {
    display: block;
    height: 220px;
  }

  .main-important {
    .main-mobile-white {
      h1 {
        font-size: 22px;
        margin: 0;
      }
      h4 {
        font-size: 18px;
        margin: 0;
      }

      .main-btn {
        font-size: 14px;
        padding: 7px 0;
        width: 221px;
        border: 1px solid $primary-color;
        color: $primary-color;

        &:focus {
          color: white;
          background-color: $primary-color;
        }
      }
    }
  }

  #datepicker {
    top: -30px;
    .date-style {
      margin-bottom: 7px;
    }
  }

  #filter {
    margin-top: 0;
  }
  #photos {
    .photos-about {
      margin-top: 30px;
    }
  }

  #slide {
    .owl-main {
      margin: 0 auto;
    }
  }

  footer {
    padding: 30px 0;
    .footer-img {
      display: flex;
      justify-content: center;
    }
    .footer-text {
      text-align: center;
    }
  }
  .about-content {
    padding-top: 0;
    .about-text {
      padding: 0 0 100px;
      p {
        padding: 12px 15px;
      }
    }
  }

  .filter-ctgry {
    height: 210px;
    background-color: transparent;
    margin-top: 0 !important;
    padding-top: 0;
    margin-bottom: 50px;
  }

  #photos-ctgry {
    #ctgry {
      height: 100%;
      margin-top: 0;
      ul {
        padding-bottom: 20px;
      }
      h5 {
        position: relative;
        margin: 0;
        padding: 0 0 0 28px;
        height: 64px;
        line-height: 64px;
        &::after {
          content: url("../img/up.png");
          position: absolute;
          top: -2px;
          right: 37px;
          transition: all 0.2s linear;
        }
      }
      h5.h5-active {
        &::after {
          transform: rotate(-180deg);
          top: 2px;
        }
      }
      ul,
      .ctgry-hr {
        display: none;
      }
    }
  }

  #details {
    top: 0;
    
    .details-design {
      .details-info,
      .details-price {
        margin-top: 30px;
      }
      .details-info {
        .details-hr {
          display: none;
        }
        .details-share-icon {
          margin-top: 10px;
        }
      }
      .details-price {
        border-left: 1px solid #9a9a9a;
      }
      .owl-details{
        .details-img{
          height: 250px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #datepicker {
    .date-style {
      label {
        padding: 0;
      }
      .form-control {
        font-size: 12px;
        padding: 0;
      }
      .location-date {
        .custom-select {
          padding: 8px 0 0 0;
        }
        .select-selected {
          font-size: 14px;
          padding-left: 12px;
        }
      }
    }
  }
  #details {
    .details-design {
      .details-price {
        p {
          font-size: 12px !important;
        }
        .details-link {
          width: 140px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  #filter {
    .filter-checkbox {
      .check-item {
        margin: 0px 25px 13px -6px;
      }
    }
  }

  .main-important {
    .main-mobile-white {
      .contact-btn-desktop {
        display: block;
      }
    }
  }

  .modals {
    background-color: white;
    padding-top: 0;
    .modal-register {
      width: auto;
      padding: 44px 0;
    }
  }

  footer {
    .footer-hr {
      display: block;
    }
  }

  .about-content {
    padding-bottom: 50px;

    .about-img {
      height: 227px;
    }
    .about-left {
      padding-right: 15px;
    }
    .about-right {
      padding-left: 15px;
    }
    .about-order-1 {
      order: 1;
    }
    .about-order-2 {
      order: 2;
    }
    .about-text {
      border-radius: 0 0 21px 21px;
      p {
        font-size: 12px;
      }
    }
    .about-img {
      img {
        border-radius: 21px 21px 0px 0px;
      }
    }
  }
  .contact-page {
    .contact-area {
      margin-bottom: 60px;
      padding-bottom: 100px;
      .contact-flex-sm {
        display: flex;
      }
      .contact-name,
      .contact-email {
        margin: 0 0 10px 0;
      }
      .contact-message {
        height: 290px;
        margin: 0 0 20px 0;
      }
      .contact-btn {
        left: 0;
        a {
          .contact-send {
            display: none;
          }
        }
      }
    }
  }

  #details {
    .details-design {
      .owl-details {
        position: relative;
        top: 60px;
      }
      .details-info {
        margin-top: 0;
        .details-name {
          position: relative;
          top: -260px;
        }
        h6 {
          margin: 25px 0 0px;
        }
      }
      .details-price {
        border-left: none;
        border-top: 1px solid #9a9a9a;
        padding-left: 0;
        .details-offered-price {
          margin-top: 15px;
        }
        .details-link {
          width: 100%;
        }
        .details-send-email {
          margin-bottom: 15px;
          margin-top: 13px;
        }
      }
    }
  }
  #subscribe {
    .mobile-subscribe-1 {
      order: 1 !important;
      .padding-r {
        padding: 0;
      }

      .subscribe-mobile-btn {
        width: 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        .btn-outline-secondary {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    .mobile-subscribe-2 {
      order: 2;
      margin: 0 auto;
    }
    .mobile-subscribe-3 {
      order: 3 !important;
      text-align: center;
      .padding-t {
        padding: 0;
      }
      .subscribe-text {
        padding-left: 0;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .mobile-nav {
    .nav-mobile-navbar {
      .mobile-menu {
        li {
          a {
            padding-left: 35px;
          }
        }
      }
    }
    .hidden-logo {
      .icon-hidden {
        width: 90px;
        justify-content: center;
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 577px) {
  .main-important {
    .main-mobile-white {
      .main-btn {
        width: 100%;
      }
    }
  }
  #datepicker {
    top: -30px;
    .date-style {
      margin-bottom: 7px;
    }
    .date-search {
      height: 42px;
      a {
        line-height: 42px;
      }
    }
  }

  #filter {
    .filter-checkbox {
      flex-wrap: wrap;
      .check-item {
        margin: 0px 15px 13px -6px;
      }
    }
  }
  .pagination {
    .p-left {
      margin-left: 5px;
    }
    li {
      a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        // font-size: 13px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .pagination {
    .p-left {
      margin-left: 5px;
    }
    li {
      a {
        width: 19px;
        height: 19px;
        line-height: 19px;
        font-size: 11px;
      }
    }
  }
}
