@font-face {
  src: url(../fonts/Lato-Regular.ttf);
  font-family: "Lato";
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.index-body {
  background-color: #f8f9fa;
}

ul {
  margin-bottom: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.btn-underline {
  text-decoration: underline !important;
  color: #3d70b2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-underline:hover {
  color: #0000c9;
}

textarea {
  resize: none;
}

.padding-50 {
  padding: 50px 0;
}

.container {
  min-width: 93% !important;
  margin: 0 auto;
}

.nav-logo,
.footer-logo {
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
}

.nav-logo a,
.footer-logo a {
  display: inline-block;
}

.nav-logo a img,
.footer-logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-logo a .tep,
.footer-logo a .tep {
  position: absolute;
  left: 105%;
  top: 5%;
  font-size: 18px;
  font-weight: 900;
  color: #ed4f00;
}

.footer-logo .tep {
  line-height: 48px;
}

nav.big80 {
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

nav {
  /* Select Common Design */
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}

nav .custom-select {
  position: relative;
  width: 36px;
  font-size: 14px;
  background: none;
  border: none;
}

nav .custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

nav .select-selected {
  background-color: transparent;
  font-size: 14px;
  padding-top: 1px;
}

nav .select-selected span {
  margin-left: -15px;
}

nav .select-selected:after {
  position: absolute;
  content: url("../img/white-arrow.png");
  top: 6px;
  right: -4px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

nav .select-selected.select-arrow-active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

nav .select-items div,
nav .select-selected {
  color: #ffffff;
  padding-right: 25px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .select-items div {
  padding: 3px 0px 4px 6px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

nav .select-items div:hover {
  background-color: rgba(0, 0, 0, 0.233);
}

nav .select-items {
  position: absolute;
  background-color: #ea320c;
  border-radius: 0 0 4px 4px;
  top: 100%;
  left: 6px;
  width: 43px;
  right: 2px;
  z-index: 99;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

nav .select-hide {
  display: none;
}

/* NAV */
.desktop-nav {
  height: 70px;
  background-color: transparent;
  line-height: 69px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.desktop-nav .container {
  min-width: 100% !important;
}

.desktop-nav .nav-home {
  background-color: transparent !important;
}

.desktop-nav .nav-left {
  padding-left: 5%;
  background-color: white;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.desktop-nav .nav-left .nav-space {
  border-left: 50px solid;
  border-left-color: white;
  border-bottom: 71px solid;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 60px;
  border-bottom-color: #ea320c;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.desktop-nav .nav-right {
  padding: 0;
  background-color: #ea320c;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.desktop-nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.desktop-nav .nav-menu a {
  padding: 11px 17px;
  font-size: 13px;
  margin-right: 8px;
  font-weight: 700;
  color: #ea320c;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.desktop-nav .nav-menu a:hover {
  color: black;
}

.desktop-nav .nav-menu .active {
  background-color: #ea320c;
  color: white !important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(234, 50, 12, 0.3);
          box-shadow: 0px 0px 15px rgba(234, 50, 12, 0.3);
}

#desktop-index-nav .nav-space {
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.mobile-nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  display: none;
}

.mobile-nav .nav-logo {
  height: 100%;
}

.mobile-nav .icon-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-nav .icon-place .nav-menu-icon {
  width: 32px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-nav .icon-place .nav-menu-icon .long-hr-1,
.mobile-nav .icon-place .nav-menu-icon .long-hr-2,
.mobile-nav .icon-place .nav-menu-icon .short-hr hr {
  position: absolute;
  height: 3px;
  background-color: #ea320c;
  margin: 0 0 10px 0;
  border-radius: 3px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.mobile-nav .icon-place .nav-menu-icon .long-hr-1,
.mobile-nav .icon-place .nav-menu-icon .long-hr-2 {
  width: 100%;
}

.mobile-nav .icon-place .nav-menu-icon .long-hr-1 {
  top: 35px;
}

.mobile-nav .icon-place .nav-menu-icon .long-hr-2 {
  top: 47px;
}

.mobile-nav .icon-place .nav-menu-icon .short-hr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.mobile-nav .icon-place .nav-menu-icon .short-hr hr {
  width: 53%;
  top: 59px;
}

.mobile-nav .hidden-layer {
  position: absolute;
  right: 100%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  display: none;
}

.mobile-nav .hidden-logo {
  background-color: #ea320c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-nav .hidden-logo .mobile-language a {
  display: inline-block;
  padding-left: 12px;
  font-size: 14px;
  color: white;
}

.mobile-nav .hidden-logo .icon-hidden {
  height: 70px;
  top: 0;
}

.mobile-nav .hidden-logo .icon-hidden .nav-menu-icon-hidden .long-hr-1,
.mobile-nav .hidden-logo .icon-hidden .nav-menu-icon-hidden .long-hr-2,
.mobile-nav .hidden-logo .icon-hidden .nav-menu-icon-hidden .short-hr hr {
  background-color: white;
}

.mobile-nav .nav-mobile-navbar.navbar-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav .nav-mobile-navbar.navbar-active .hidden-layer {
  display: block;
}

.mobile-nav .nav-mobile-navbar {
  background-color: white;
  z-index: 9998;
  height: 100vh;
  width: 257px;
  right: 0;
  position: fixed;
  top: 0;
  padding-bottom: 20px;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.mobile-nav .nav-mobile-navbar .nav-mobile-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 14px;
}

.mobile-nav .nav-mobile-navbar .nav-mobile-login a {
  color: #ea320c;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.mobile-nav .nav-mobile-navbar .nav-mobile-login .nav-mobile-sign {
  border-radius: 4px;
  border: 1px solid #ea320c;
  text-align: center;
  width: 90px;
}

.mobile-nav .nav-mobile-navbar .mobile-hr {
  background-color: #ea320c;
  margin: 25px auto;
  width: 90%;
}

.mobile-nav .nav-mobile-navbar .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mobile-nav .nav-mobile-navbar .mobile-menu li {
  height: 40px;
  line-height: 40px;
}

.mobile-nav .nav-mobile-navbar .mobile-menu li .active {
  background-color: #ea320c !important;
  color: white !important;
}

.mobile-nav .nav-mobile-navbar .mobile-menu li .nav-mobile-a {
  font-weight: 700;
  display: inline-block;
  color: #ea320c;
  padding-left: 15px;
  font-size: 14px;
  width: 100%;
}

.mobile-nav .nav-mobile-navbar .mobile-menu-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav .nav-mobile-navbar .mobile-menu-extra li {
  height: 30px;
  margin-bottom: 15px;
  line-height: 30px;
}

.mobile-nav .nav-mobile-navbar .mobile-menu-extra li .mobile-extra-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ea320c;
  font-size: 14px;
  padding-left: 15px;
  font-weight: 700;
}

.mobile-nav .nav-mobile-navbar .mobile-menu-extra li .mobile-extra-a .nav-mobile-img {
  width: 15px;
  height: 100%;
}

.mobile-nav .nav-mobile-navbar .mobile-menu-extra li .mobile-extra-a .nav-mobile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-contact {
  display: -webkit-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-contact a {
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
}

.nav-contact a .nav-img {
  position: relative;
  top: -1px;
  display: inline-block;
}

.nav-contact a .nav-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-contact .arroba {
  position: relative;
  margin-right: 15px;
}

.nav-contact .nav-sign-up {
  border: 1px solid white;
  border-radius: 5px;
}

.nav-contact hr {
  position: absolute;
  left: 100%;
  top: 3px;
  height: 1px;
  width: 25px;
  color: white;
  margin-right: 15px;
  background-color: white;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav-contact .btn-secondary {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent;
  outline: none;
}

.nav-contact .dropdown-toggle {
  background-color: transparent !important;
}

/* DESKTOP MAIN */
.desktop-main {
  width: 100%;
  background-color: white;
  position: relative;
  top: -70px;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(rgba(144, 197, 209, 0.118)), to(rgba(121, 165, 190, 0.502))), url("../img/slider3.png");
  background: linear-gradient(to right, rgba(144, 197, 209, 0.118), rgba(121, 165, 190, 0.502)), url("../img/slider3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-attachment: fixed;
}

.desktop-main .main-white {
  width: calc(58% - 240px);
  padding-left: 5%;
  height: 370px;
  z-index: 100;
  background-color: white;
  color: #ea320c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.desktop-main .main-white .main-text {
  width: 120%;
}

.desktop-main .main-white h1 {
  font-size: 32px;
  font-weight: 900;
}

.desktop-main .main-white .main-btn {
  padding: 10px 61px;
  display: inline-block;
  margin-top: 19px;
  border: 1px solid #ea320c;
  color: #ea320c;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.desktop-main .main-white .main-btn:hover {
  color: white;
  border-color: white;
  background-color: #ea320c;
}

.desktop-main .main-img {
  border-left: 230px solid;
  border-left-color: white;
  border-bottom: 370px solid;
  border-bottom-color: transparent;
}

/* DESKTOP MAIN ENDS */
/* MOBILE MAIN */
.index-main-important {
  display: none;
}

.main-important {
  background-color: white;
  height: 200px;
}

.main-important .main-mobile-white {
  position: relative;
  margin-top: 15px;
  padding-top: 10px;
  color: #ea320c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 160px;
}

.main-important .main-mobile-white h1 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 12px;
}

.main-important .main-mobile-white h4 {
  font-size: 24px;
  margin-bottom: 12px;
}

.main-important .main-mobile-white .main-btn {
  display: inline-block;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-align: center;
  font-size: 14px;
  padding: 7px 0;
  width: 221px;
  border: 1px solid #ea320c;
  border-radius: 4px;
  color: #ea320c;
}

.main-important .main-mobile-white .main-btn:hover {
  color: white;
  background-color: #ea320c;
}

.main-important .main-mobile-white .contact-btn-desktop {
  display: none;
}

.main-important .about-white a {
  margin-top: 30px;
}

/* MOBILE MAIN END */
#datepicker {
  position: relative;
  top: -100px;
  left: 0;
  z-index: 200;
}

#datepicker .z-index {
  z-index: 70;
}

#datepicker .date-style {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 0px 0px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #dededf;
  height: 80px;
  width: 100%;
  background-color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#datepicker .date-style:hover {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

#datepicker .date-style .form-control {
  border: none;
  background-color: white;
  font-size: 14px;
}

#datepicker .date-style .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#datepicker .date-style .date-img {
  display: inline-block;
  position: relative;
  top: -1px;
}

#datepicker .date-style .date-img i {
  color: #fbbc05;
}

#datepicker .date-style label {
  padding-left: 13px;
}

#datepicker .date-style .date-main {
  margin-top: 3px;
  padding-left: 5px;
}

#datepicker .date-style .start-date span {
  color: #4992fc;
}

#datepicker .date-style .end-date span {
  color: #ea4335;
}

#datepicker .date-style .location-date {
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}

#datepicker .date-style .location-date label {
  color: #fbbc05;
}

#datepicker .date-style .location-date .custom-select {
  position: relative;
  border: none;
}

#datepicker .date-style .location-date .custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

#datepicker .date-style .location-date .select-selected:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 10px;
  top: 10px;
  border: 9px solid white;
}

#datepicker .date-style .location-date .select-selected:after {
  position: absolute;
  content: url("../img/down.png");
  top: -30px;
  right: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#datepicker .date-style .location-date .select-selected.select-arrow-active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -25px;
}

#datepicker .date-style .location-date .select-items div,
#datepicker .date-style .location-date .select-selected {
  color: #6c7592;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
}

#datepicker .date-style .location-date .select-items {
  position: absolute;
  background-color: white;
  top: 90%;
  left: -5px;
  padding-bottom: 7px;
  right: 0;
  z-index: 99;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

#datepicker .date-style .location-date .select-items div {
  height: 37px;
  line-height: 37px;
  padding-left: 17px;
}

#datepicker .date-style .location-date .select-hide {
  display: none;
}

#datepicker .date-style .location-date div.same-as-selected {
  color: white;
}

#datepicker .date-style .location-date .select-items div:hover,
#datepicker .date-style .location-date .select-items div:focus,
#datepicker .date-style .location-date .same-as-selected {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #fbbc05;
  color: white;
}

#datepicker .date-search {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 4px 6px rgba(234, 49, 12, 0.48);
          box-shadow: 0px 4px 6px rgba(234, 49, 12, 0.48);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 4px;
}

#datepicker .date-search:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#datepicker .date-search a {
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  text-align: center;
  color: white;
  background-color: #ea320c;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#datepicker .date-search a:hover {
  background-color: white;
  color: #ea320c;
  border: 1px solid #ea320c;
}

.filter-ctgry {
  margin-top: -180px !important;
  height: 210px;
  padding-top: 110px;
}

#filter {
  margin-top: -70px;
  margin-bottom: -20px;
}

#filter .filter-text h3 {
  font-size: 26px;
}

#filter .filter-text hr {
  margin: 0;
}

#filter .filter-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#filter .filter-checkbox li {
  list-style-type: none;
}

#filter .filter-checkbox .check-item {
  display: block;
  position: relative;
  padding: 4px 0px 0px 20px;
  margin-right: 25px;
  color: #152934;
  cursor: pointer;
  font-size: 14px;
}

#filter .filter-checkbox .check-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  -webkit-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

#filter .filter-checkbox .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid #8c9ba5;
}

#filter .filter-checkbox .check-item:hover input ~ .checkmark {
  background-color: #ececec;
}

#filter .filter-checkbox .check-item input:checked ~ .checkmark {
  background-color: #ea320c;
}

#filter .filter-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#filter .filter-checkbox .check-item input:checked ~ .checkmark:after {
  display: block;
}

#filter .filter-checkbox .check-item input:checked ~ .checkmark {
  border: none;
}

#filter .filter-checkbox .check-item .checkmark:after {
  left: 6px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#photos {
  padding-bottom: 50px;
}

#photos .photos-about {
  display: inline-block;
  border-radius: 5px;
  margin-top: 48px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#photos .photos-about .photos-img {
  width: 100%;
  height: 145px;
}

#photos .photos-about .photos-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#photos .photos-about .photos-text {
  padding: 15px;
}

#photos .photos-about .photos-text h5 {
  color: #ea320c;
  font-weight: 700;
}

#photos .photos-about .photos-text .photos-location {
  color: #a1a1a1;
  font-size: 14px;
}

#photos .photos-about .photos-text p {
  color: black;
  font-weight: 900;
  padding-top: 7px;
}

#slide {
  background-color: #ea320c;
  position: relative;
  padding: 14px 0;
}

#slide .container {
  width: 60%;
  margin: 0 auto;
}

#slide .owl-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94.2%;
  margin-left: 30px;
}

#slide .owl-nav {
  display: block !important;
}

#slide .slide-icon {
  position: absolute;
  top: calc(50% - 16px);
  color: white;
  width: 16px;
  height: 32px;
  cursor: pointer;
}

#slide .slide-icon i {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 40px;
  line-height: 40px;
}

#slide .slide-img {
  width: 16px;
  height: 32px;
}

#slide .slide-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#slide .left-icon {
  left: -2%;
}

#slide .right-icon {
  right: -2%;
}

#slide .slide-main {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

#slide .slide-main .slide-number {
  font-weight: 900;
  font-size: 40px;
  padding: 10px 5px;
  display: block;
}

#slide .slide-main .slide-word {
  font-size: 15px;
  font-weight: normal;
  color: white;
  padding-top: 22px;
  line-height: 18px;
}

#statistics .statistics-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#statistics .stat-about {
  height: 76px;
  margin: 0 auto;
  width: 310px;
  border-radius: 5px;
  border: 1px solid #f0f3f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

#statistics .stat-about .stat-number {
  font-size: 40px;
  line-height: 76px;
  color: #4992fc;
  margin-right: 5px;
  padding-right: 8px;
}

#statistics .stat-about .stat-word {
  line-height: 76px;
  font-size: 19px;
}

footer {
  color: #a1a1a1;
  padding: 50px 0;
}

footer .footer-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-text {
  padding-top: 10px;
  font-size: 14px;
}

footer .footer-hr {
  background-color: #9a9a9a;
  margin: 25px 0;
  display: none;
  width: 100%;
}

footer h6 {
  color: #232f33;
  border: #707070;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

footer ul a,
footer ul address {
  display: inline-block;
  margin-bottom: 6px;
  color: #a1a1a1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 14px;
}

footer ul a:hover,
footer ul address:hover {
  color: black;
}

#subscribe {
  padding: 15px 0 10px;
}

#subscribe .mobile-subscribe-1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#subscribe .mobile-subscribe-2 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#subscribe .mobile-subscribe-3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#subscribe .subscribe-text {
  font-size: 14px;
  color: #cecece;
  padding-left: 10px;
  font-weight: 500;
}

#subscribe .subscribe-icons {
  width: 100%;
  height: 100%;
}

#subscribe .subscribe-icons li a {
  padding: 0 5px;
}

#subscribe .subscribe-icons li:hover img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#subscribe .padding-r {
  padding-right: 16px;
}

#subscribe .padding-t {
  padding-top: 16px;
}

#subscribe .form-control {
  outline: none;
  border-color: #dededf;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 13;
}

#subscribe .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#subscribe .form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #cecece;
}

#subscribe .form-control:-ms-input-placeholder {
  font-size: 14px;
  color: #cecece;
}

#subscribe .form-control::-ms-input-placeholder {
  font-size: 14px;
  color: #cecece;
}

#subscribe .form-control::placeholder {
  font-size: 14px;
  color: #cecece;
}

#subscribe .btn-outline-secondary {
  background-color: #ea320c;
  color: white;
  border-color: #ea320c;
  width: 136px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 6px rgba(234, 49, 12, 0.48);
          box-shadow: 0 4px 6px rgba(234, 49, 12, 0.48);
  z-index: 15;
}

#subscribe .btn-outline-secondary:hover {
  border-color: #ea320c;
  color: #ea320c;
  background-color: white;
  outline: none;
}

#subscribe .btn-outline-secondary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* SUBCSRIBE END */
/* ADVERTISEMENT */
#photos-ctgry {
  margin-top: -60px;
}

#photos-ctgry #ctgry {
  border: 1px solid #f0f3f6;
  margin-top: 47px;
  height: 635px;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#photos-ctgry #ctgry .ctgry-active {
  background-color: #fbbc05;
  color: white;
}

#photos-ctgry #ctgry h5 {
  font-size: 16px;
  font-weight: bold;
  color: #152934;
  padding: 25px 28px 0;
}

#photos-ctgry #ctgry .ctgry-hr {
  background-color: #dfdfdf;
  width: 85%;
  margin: 20px auto;
}

#photos-ctgry #ctgry ul li {
  height: 37px;
}

#photos-ctgry #ctgry ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #152934;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 37px;
  padding: 0 25px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
}

#photos-ctgry #ctgry ul li a:hover {
  background-color: #fbbc05;
  color: white;
}

#photos-ctgry #ctgry ul li a span {
  display: inline-block;
}

/* ADVERTISEMENT ENDS */
/* ABOUT PAGE */
.about-content {
  padding: 50px 0 300px;
}

.about-content .about-left {
  padding-right: 0px;
}

.about-content .about-right {
  padding-left: 0px;
}

.about-content .about-text {
  height: 460px;
  background-color: #f8f9fa;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}

.about-content .about-text p {
  font-size: 16px;
  padding: 30px 50px 0 30px;
}

.about-content .about-img {
  width: 100%;
  height: 460px;
}

.about-content .about-img img {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ABOUT PAGE END*/
/* PAGINATION  */
.pagination {
  margin-top: 50px;
}

.pagination .p-left {
  margin-left: 15px;
}

.pagination li.active a {
  background-color: #2f2f2f !important;
  border-color: #2f2f2f !important;
}

.pagination li {
  margin-right: 4px;
}

.pagination li a {
  border-radius: 4px;
  border-color: #2f2f2f;
  color: #2f2f2f;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  background-color: transparent;
}

.pagination li a img {
  top: -2px;
  position: relative;
}

.pagination li a:hover {
  border-color: #2f2f2f;
  background-color: white;
  color: #2f2f2f;
}

.pagination li a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination li a:focus:not(.p-arrow) {
  background-color: #2f2f2f;
  color: #f0f3f6;
}

/* PAGINATION  END */
/*DETAILS PAGE */
#details {
  position: relative;
  top: -60px;
  margin-bottom: 40px;
}

#details p {
  margin-bottom: 4px;
  font-size: 14px;
}

#details .details-design {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #f0f3f6;
  /* DETAILS CAROUSEL/SLIDE */
  /*DETAILS INFO */
  /* DETAILS PRICE & DATE */
}

#details .details-design .owl-details {
  width: 100%;
}

#details .details-design .owl-details .owl-stage-outer {
  border-radius: 4px;
}

#details .details-design .owl-details .details-img {
  width: 100%;
  height: 400px;
}

#details .details-design .owl-details .details-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#details .details-design .details-name h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 3px;
  line-height: 25px;
}

#details .details-design .details-name .details-location {
  color: #9a9a9a;
  font-size: 14px;
}

#details .details-design .counter {
  position: absolute;
  width: 60px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  left: calc(50% - 30px);
  bottom: 10px;
  z-index: 10;
}

#details .details-design .zoom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 11;
  cursor: pointer;
}

#details .details-design .details-info {
  position: relative;
  color: #152934;
}

#details .details-design .details-info h6 {
  font-size: 14px;
  font-weight: 900;
  margin: 25px 0 5px;
}

#details .details-design .details-info p {
  color: #152934;
}

#details .details-design .details-info p .blue-span {
  display: inline-block;
  color: #4992fc;
  font-size: 16px;
  padding-left: 3px;
}

#details .details-design .details-info .details-share-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

#details .details-design .details-info .details-share-icon span {
  display: inline-block;
  font-size: 14px;
  color: #9a9a9a;
  margin-right: 10px;
  padding-top: 5px;
}

#details .details-design .details-info .details-share-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#details .details-design .details-info .details-share-icon ul a {
  padding: 0 7px;
}

#details .details-design .details-info .details-hr {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 210px;
  background-color: #9a9a9a;
  position: absolute;
  top: 110px;
  left: 71%;
}

#details .details-design .details-price {
  padding-left: 20px;
  margin-top: 14px;
}

#details .details-design .details-price .details-offered-price {
  display: inline-block;
  color: #152934;
  font-size: 14px;
}

#details .details-design .details-price h4 {
  font-size: 26px;
  font-weight: bold;
  color: black;
}

#details .details-design .details-price .details-start-date {
  color: #4992fc;
  font-size: 14px;
}

#details .details-design .details-price .details-end-date {
  color: #ea320c;
  font-size: 14px;
}

#details .details-design .details-price .details-link {
  display: block;
  width: 186px;
  border-radius: 4px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 14px;
}

#details .details-design .details-price .details-send-email {
  border: 1px solid #ea320c;
  background-color: #ea320c;
  color: white;
  margin-bottom: 15px;
  margin-top: 25px;
}

#details .details-design .details-price .details-send-email:hover {
  background-color: white;
  color: #ea320c;
}

#details .details-design .details-price .details-call {
  border: 1px solid #2f2f2f;
  background-color: white;
  color: #2f2f2f;
}

#details .details-design .details-price .details-call:hover {
  background-color: #2f2f2f;
  color: white;
}

#details .details-design .details-extra {
  margin-top: 20px;
  margin-left: 10px;
  color: #152934;
}

#details .details-design .details-extra h4 {
  font-size: 16px;
  font-weight: 700;
}

#details .details-design .details-extra p {
  font-size: 14px;
}

/*DETAILS PAGE END */
/* CONTACT PAGE and MODAL REGISTER FORM */
.contact-area {
  padding: 35px 0 500px;
  background-color: #f8f9fa;
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-flex-sm {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-name,
.contact-email {
  margin-left: 32px;
  height: 70px;
  margin-bottom: 30px;
}

.contact-message {
  display: inline-block;
  margin: 0 32px 30px;
  height: 167px;
}

.contact-form,
.register-form {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.contact-form label,
.register-form label {
  font-size: 14px;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea,
.register-form input,
.register-form textarea {
  border: none;
  color: #757575;
  font-size: 14px;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder,
.register-form input::-webkit-input-placeholder,
.register-form textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #cecece;
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder,
.register-form input:-ms-input-placeholder,
.register-form textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #cecece;
}

.contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder,
.register-form input::-ms-input-placeholder,
.register-form textarea::-ms-input-placeholder {
  font-size: 14px;
  color: #cecece;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder,
.register-form input::placeholder,
.register-form textarea::placeholder {
  font-size: 14px;
  color: #cecece;
}

.contact-form input:focus,
.contact-form textarea:focus,
.register-form input:focus,
.register-form textarea:focus {
  outline: none;
}

.contact-btn {
  width: 100%;
  position: absolute;
  top: 0;
  left: 34px;
}

.contact-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  color: white;
  background-color: #ea320c;
  border: 1px solid #ea320c;
  -webkit-box-shadow: 0px 4px 6px rgba(234, 49, 12, 0.493);
          box-shadow: 0px 4px 6px rgba(234, 49, 12, 0.493);
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.contact-btn a:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(234, 49, 12, 0.793);
          box-shadow: 0px 4px 10px rgba(234, 49, 12, 0.793);
}

.contact-btn a .contact-send {
  width: 15px;
  height: 5px;
}

.contact-btn a .contact-send img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* CONTACT PAGE REGISTER FORM END*/
/*MODALS */
.modals {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.67);
}

.modals .modal-register {
  position: relative;
  padding: 74px 0;
  width: 572px;
  margin: auto;
  background-color: white;
}

.modals .modal-register h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #082a38;
}

.modals .modal-register .close {
  display: inline-block;
  font-size: 35px;
  position: absolute;
  top: 10px;
  right: 23px;
  color: #9a9a9a;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.modals .modal-register .close:hover, .modals .modal-register .close:focus {
  color: #666666;
}

.modals .modal-register .register-fields {
  position: relative;
  width: 315px;
  height: 60px;
  margin: 0px auto 9px;
  border: 1px solid #dededf;
}

.modals .modal-register .register-checkbox {
  border: none;
  margin-top: 16px;
  margin-bottom: 35px;
}

.modals .modal-register .register-checkbox input[type="checkbox"] {
  width: 17px;
  height: 17px;
  position: relative;
  top: 3px;
  left: 3px;
}

.modals .modal-register .register-checkbox label {
  font-size: 14px;
  color: #4992fc;
  margin-left: -13px;
}

.modals .modal-register .register-checkbox input[type="checkbox"]:checked + .register-checkmark::before {
  border-color: #4992fc;
}

.modals .modal-register .register-checkbox .register-checkmark {
  position: relative;
  display: inline-block;
  top: 3px;
  left: -20px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid #dededf;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
  pointer-events: none;
}

.modals .modal-register .register-checkbox .register-checkmark::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid transparent;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: bottom;
}

.modals .modal-register .register-btn {
  width: 315px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #ea320c;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 4px;
  margin: auto;
}

.modals .modal-register .login-btn {
  background-color: #ea320c;
  -webkit-box-shadow: 0 4px 6px rgba(234, 49, 12, 0.48);
          box-shadow: 0 4px 6px rgba(234, 49, 12, 0.48);
}

.modals .modal-register .login-btn a {
  width: 100%;
  color: white;
  display: inline-block;
}

.modals .modal-register .login-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modals .modal-register .signup-btn {
  background-color: white;
}

.modals .modal-register .signup-btn a {
  width: 100%;
  color: #ea320c;
  display: inline-block;
}

.modals .modal-register .signup-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modals .modal-register .forgotPasswordLink {
  position: absolute;
  right: 0;
}

.modals .modal-register .forgotPasswordLink a {
  color: #9a9a9a;
  font-size: 14px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.modals .modal-register .forgotPasswordLink a:hover {
  color: #2f2f2f;
}

.modals .modal-register .register-hr {
  position: relative;
}

.modals .modal-register .register-hr hr {
  background-color: #9a9a9a;
  width: 226px;
  margin: 30px auto;
}

.modals .modal-register .register-hr span {
  display: inline-block;
  position: absolute;
  top: -12px;
  padding: 0 15px;
  background-color: white;
  left: calc(50% - 30px);
  font-size: 14px;
  color: #9a9a9a;
}

/*MODALS END */
/* RESPONSIVENESS */
@media only screen and (max-width: 1200px) {
  .desktop-nav .nav-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -30px;
  }
  .desktop-nav .nav-menu a {
    margin: 0;
  }
  .desktop-nav .nav-contact {
    margin-left: -35px;
  }
  .desktop-nav .nav-contact a {
    font-size: 11px;
  }
  .desktop-nav .nav-contact a .nav-img {
    width: 13px;
  }
  #slide .slide-main .slide-word {
    font-size: 14px;
    padding-top: 23px;
  }
  #statistics .stat-about {
    width: 260px;
  }
}

@media only screen and (max-width: 992px) {
  .desktop-nav,
  .desktop-main {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .index-main-important {
    display: block;
    height: 220px;
  }
  .main-important .main-mobile-white h1 {
    font-size: 22px;
    margin: 0;
  }
  .main-important .main-mobile-white h4 {
    font-size: 18px;
    margin: 0;
  }
  .main-important .main-mobile-white .main-btn {
    font-size: 14px;
    padding: 7px 0;
    width: 221px;
    border: 1px solid #ea320c;
    color: #ea320c;
  }
  .main-important .main-mobile-white .main-btn:focus {
    color: white;
    background-color: #ea320c;
  }
  #datepicker {
    top: -30px;
  }
  #datepicker .date-style {
    margin-bottom: 7px;
  }
  #filter {
    margin-top: 0;
  }
  #photos .photos-about {
    margin-top: 30px;
  }
  #slide .owl-main {
    margin: 0 auto;
  }
  footer {
    padding: 30px 0;
  }
  footer .footer-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-text {
    text-align: center;
  }
  .about-content {
    padding-top: 0;
  }
  .about-content .about-text {
    padding: 0 0 100px;
  }
  .about-content .about-text p {
    padding: 12px 15px;
  }
  .filter-ctgry {
    height: 210px;
    background-color: transparent;
    margin-top: 0 !important;
    padding-top: 0;
    margin-bottom: 50px;
  }
  #photos-ctgry #ctgry {
    height: 100%;
    margin-top: 0;
  }
  #photos-ctgry #ctgry ul {
    padding-bottom: 20px;
  }
  #photos-ctgry #ctgry h5 {
    position: relative;
    margin: 0;
    padding: 0 0 0 28px;
    height: 64px;
    line-height: 64px;
  }
  #photos-ctgry #ctgry h5::after {
    content: url("../img/up.png");
    position: absolute;
    top: -2px;
    right: 37px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  #photos-ctgry #ctgry h5.h5-active::after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: 2px;
  }
  #photos-ctgry #ctgry ul,
  #photos-ctgry #ctgry .ctgry-hr {
    display: none;
  }
  #details {
    top: 0;
  }
  #details .details-design .details-info,
  #details .details-design .details-price {
    margin-top: 30px;
  }
  #details .details-design .details-info .details-hr {
    display: none;
  }
  #details .details-design .details-info .details-share-icon {
    margin-top: 10px;
  }
  #details .details-design .details-price {
    border-left: 1px solid #9a9a9a;
  }
  #details .details-design .owl-details .details-img {
    height: 250px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #datepicker .date-style label {
    padding: 0;
  }
  #datepicker .date-style .form-control {
    font-size: 12px;
    padding: 0;
  }
  #datepicker .date-style .location-date .custom-select {
    padding: 8px 0 0 0;
  }
  #datepicker .date-style .location-date .select-selected {
    font-size: 14px;
    padding-left: 12px;
  }
  #details .details-design .details-price p {
    font-size: 12px !important;
  }
  #details .details-design .details-price .details-link {
    width: 140px;
  }
}

@media only screen and (max-width: 767px) {
  #filter .filter-checkbox .check-item {
    margin: 0px 25px 13px -6px;
  }
  .main-important .main-mobile-white .contact-btn-desktop {
    display: block;
  }
  .modals {
    background-color: white;
    padding-top: 0;
  }
  .modals .modal-register {
    width: auto;
    padding: 44px 0;
  }
  footer .footer-hr {
    display: block;
  }
  .about-content {
    padding-bottom: 50px;
  }
  .about-content .about-img {
    height: 227px;
  }
  .about-content .about-left {
    padding-right: 15px;
  }
  .about-content .about-right {
    padding-left: 15px;
  }
  .about-content .about-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-content .about-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-content .about-text {
    border-radius: 0 0 21px 21px;
  }
  .about-content .about-text p {
    font-size: 12px;
  }
  .about-content .about-img img {
    border-radius: 21px 21px 0px 0px;
  }
  .contact-page .contact-area {
    margin-bottom: 60px;
    padding-bottom: 100px;
  }
  .contact-page .contact-area .contact-flex-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-page .contact-area .contact-name,
  .contact-page .contact-area .contact-email {
    margin: 0 0 10px 0;
  }
  .contact-page .contact-area .contact-message {
    height: 290px;
    margin: 0 0 20px 0;
  }
  .contact-page .contact-area .contact-btn {
    left: 0;
  }
  .contact-page .contact-area .contact-btn a .contact-send {
    display: none;
  }
  #details .details-design .owl-details {
    position: relative;
    top: 60px;
  }
  #details .details-design .details-info {
    margin-top: 0;
  }
  #details .details-design .details-info .details-name {
    position: relative;
    top: -260px;
  }
  #details .details-design .details-info h6 {
    margin: 25px 0 0px;
  }
  #details .details-design .details-price {
    border-left: none;
    border-top: 1px solid #9a9a9a;
    padding-left: 0;
  }
  #details .details-design .details-price .details-offered-price {
    margin-top: 15px;
  }
  #details .details-design .details-price .details-link {
    width: 100%;
  }
  #details .details-design .details-price .details-send-email {
    margin-bottom: 15px;
    margin-top: 13px;
  }
  #subscribe .mobile-subscribe-1 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  #subscribe .mobile-subscribe-1 .padding-r {
    padding: 0;
  }
  #subscribe .mobile-subscribe-1 .subscribe-mobile-btn {
    width: 50%;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  #subscribe .mobile-subscribe-1 .subscribe-mobile-btn .btn-outline-secondary {
    width: 100%;
    border-radius: 5px;
  }
  #subscribe .mobile-subscribe-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
  }
  #subscribe .mobile-subscribe-3 {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important;
    text-align: center;
  }
  #subscribe .mobile-subscribe-3 .padding-t {
    padding: 0;
  }
  #subscribe .mobile-subscribe-3 .subscribe-text {
    padding-left: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .mobile-nav .nav-mobile-navbar .mobile-menu li a {
    padding-left: 35px;
  }
  .mobile-nav .hidden-logo .icon-hidden {
    width: 90px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 577px) {
  .main-important .main-mobile-white .main-btn {
    width: 100%;
  }
  #datepicker {
    top: -30px;
  }
  #datepicker .date-style {
    margin-bottom: 7px;
  }
  #datepicker .date-search {
    height: 42px;
  }
  #datepicker .date-search a {
    line-height: 42px;
  }
  #filter .filter-checkbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #filter .filter-checkbox .check-item {
    margin: 0px 15px 13px -6px;
  }
  .pagination .p-left {
    margin-left: 5px;
  }
  .pagination li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .pagination .p-left {
    margin-left: 5px;
  }
  .pagination li a {
    width: 19px;
    height: 19px;
    line-height: 19px;
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */