﻿@model UTEP.Web.Areas.Admin.Models.SiteTextViewModels.EditSiteTextViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["about"];
    var imageHeader = Model.ImagePath1;
    var imageMiddle = Model.ImagePath2;
    var imageBottom = Model.ImagePath3;
}

<!-- MAIN -->
@*<main class="main-important">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-mobile-white about-white">
                        <h1>Biz nə edirik? UTEP nə üçün lazımdır?</h1>
                        <a href="" class="main-btn">Elan Yerləşdir</a>
                    </div>
                </div>
            </div>
        </div>
    </main>*@
@await Component.InvokeAsync("DesktopMain")
<!-- MAIN ENDS -->
<!-- ABOUT-CONTENT -->
<section class="about-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 about-left about-order-2">
                <div class="about-text">
                    <p>
                        @await Component.InvokeAsync("About")
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-12 about-right about-order-1">
                <div class="about-img">
                    <img src="~/v2/img/utep-bg-about.png" alt="About Page main photos of Utep">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT-CONTENT END -->