﻿@model UTEP.Web.Models.HomeViewModels.ContactViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["contact"];
}
@section Styles{
    <style>
        .desktop-nav .nav-right {
            background-color: #ea320c !important;
        }

        .desktop-nav .nav-left .nav-space {
            border-left: 50px solid !important;
            border-left-color: white !important;
            border-bottom: 71px solid !important;
            position: absolute !important;
            right: 0px !important;
            top: 0px !important;
            width: 60px !important;
            border-bottom-color: #ea320c !important;
            -webkit-transition: 0.1s linear !important;
            transition: 0.1s linear !important;
        }
        .contact-btn button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            padding: 7px;
            font-size: 14px;
            color: white;
            background-color: #ea320c;
            border: 1px solid #ea320c;
            -webkit-box-shadow: 0px 4px 6px rgba(234, 49, 12, 0.493);
            box-shadow: 0px 4px 6px rgba(234, 49, 12, 0.493);
            border-radius: 4px;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }
    </style>
}

<!-- MAIN -->

<main class="main-important">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-mobile-white ">
                    <h1>@Model.Title </h1>
                    <h4>@Model.Description</h4>
                    @if (ViewData["M"] != null)
                    {
                        <h4 style="color:darkgreen !important;">@ViewData["M"]</h4>
                    }
                    <a href="" class="main-btn contact-btn-desktop">Elan Yerləşdir</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- MAIN ENDS -->
<!-- CONTACT PAGE -->
<section class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-11 col-sm-12 mx-auto contact-area">
                <form asp-action="Contact" method="post">

                    <div class="row">

                        <div class="col-12 col-md-3 ">
                            <div class="row contact-flex-sm">
                                <div class="col-11 mx-auto">

                                    <div class="contact-name contact-form">
                                        <label for="contactName">@Localizer["name"]</label>
                                        <input type="text" id="contactName" placeholder="@Localizer["name"]" asp-for="Name">
                                    </div>

                                </div>
                                <div class="col-11 mx-auto">

                                    <div class="contact-email contact-form">
                                        <label for="contactEmail">@Localizer["e-mail"]</label>
                                        <input type="email" id="contactEmail" placeholder="@Localizer["e-mail"]" asp-for="Email">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12  col-md-8">
                            <div class="row">
                                <div class="col-11 mx-auto ">

                                    <div class="contact-message contact-form">
                                        <label for="contactMessage">@Localizer["message"]</label>
                                        <textarea id="" cols="30" rows="10"
                                                  placeholder="@Localizer["message"]" asp-for="Message"></textarea>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <div class="contact-btn">
                                            <button type="submit">
                                                <div class="contact-send">
                                                    <img src="img/send.png" alt="">
                                                </div>
                                                <span class="pl-2">@Localizer["send"]</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT PAGE END -->
