﻿@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Error";
}

<div class="text-center" style="height:500px; padding-top:200px;">
    <h2 style="color:red;">@Localizer["error"]</h2>
</div>
