﻿@model UTEP.Web.Models.IndexViewModels.IndexViewModel
@using Microsoft.AspNetCore.Http
@using System;
@using UTEP.Settings

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["home"];
}

@section Styles{
    <style>
        .select-items {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>
}

@await Component.InvokeAsync("DesktopMain")
<!-- DATEPICKER -->
@await Component.InvokeAsync("Search")
<!-- DATEPICKER END -->
@if (Model.CompanyOrders != null)
{
    <!-- FILTER -->
    <section id="filter">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 mb-2">
                    <div class="filter-text">
                        <h3>@Localizer["recent_announces"]</h3>
                        <hr>
                    </div>
                </div>


                <!-- filters -->
                <!-- <div class=" col-md-1 col-2">
                    <span>Filtr</span>
                </div>

                <div class=" col-md-9  col-lg-8 col-7">
                    <ul class="filter-checkbox">
                        <li>
                            <label class="check-item">Breakfast tacos
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">Tacos
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">Not a Taco
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">Chips & Dips
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">Sides
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">Eats & Treats
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">Kids
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2 col-3">
                    <div class="filter-clear">
                        <a href="" class="btn-underline">
                            Clear All
                        </a>
                    </div>
                </div> -->

            </div>
        </div>
    </section>
    <!-- FILTER ENDS -->

    <!-- PHOTOS -->
    <section id="photos">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.CompanyOrders)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <a asp-controller="Order" asp-action="Detail" asp-route-id="@item.Id" class="photos-about">
                            <div class="photos-img">
                                <img src="~/uploads/company/product/medium/@item.Products.FirstOrDefault().ProductImages.FirstOrDefault().MediumPath" alt="@item.Products.FirstOrDefault().Name">
                            </div>
                            <div class="photos-text">
                                <h5>
                                    @if (item.Products.FirstOrDefault().Name.Length > 28)
                                    {
                                        @(item.Products.FirstOrDefault().Name.Substring(0, 28) + "...");
                                    }
                                    else
                                    {
                                        @item.Products.FirstOrDefault().Name
                                    }
                                </h5>
                                <span class="photos-location">
                                    <img src="~/v2/img/location-grey.png" alt="@item.Products.FirstOrDefault().Name">
                                    @item.CountryFrom (@item.From) - @item.CountryTo (@item.To)
                                </span>
                                <p>
                                    @if (item.ProporsalPrice > 0 || item.ProporsalPrice != 0m)
                                    {
                                        @item.ProporsalPrice.ToString("0.##") @UTEP.Settings.Currency.GetCurrency(item.Currency)
                                    }
                                    else
                                    {
                                        @("---")
                                    }
                                </p>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- PHOTOS END -->
}
<input asp-for="External" class="external" style="display:none;" />
<input asp-for="Token" class="token" style="display:none;" />
<input asp-for="UserId" class="userId" style="display:none;" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    @*<script>
            var ComponentsDateTimePickers = function () {
                var t = function () {
                    jQuery().datepicker && $(".date-picker").datepicker({
                        rtl: App.isRTL(),
                        orientation: "right",
                        autoclose: !0
                    }),
                        $(document).scroll(function () {
                            $("#form_modal2 .date-picker").datepicker("place")
                        })
                };
                return {
                    init: function () {
                        t()
                    }
                }
            }();
            App.isAngularJsApp() === !1 &&
                jQuery(document).ready(function () {
                    ComponentsDateTimePickers.init()
                });
        </script>*@
    <script src="~/js/project/getCities.js"></script>

    <script>
        var lang = location.pathname.split("/")[1];

        $(document).ready(function () {
            var external = $(".external").val();
            if (external != "") {
                $.ajax({
                    url: "/" + lang + "/account/login",
                    data: { returnUrl: external },
                    method: "get"
                })
                    .done(function (data) {
                        $(".modal-section").append(data);
                    });
            }
        });

        $(document).ready(function () {
            var token = $(".token").val();
            var userId = $(".userId").val();
            if (token != "" && userId != 0) {
                $.ajax({
                    url: "/" + lang + "/account/resetpassword",
                    data: { code: token, userId },
                    method: "get"
                })
                    .done(function (data) {
                        $(".modal-section").append(data);
                    });
            }
        });

    </script>
}