﻿@model bool
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["subscribe"];
}

<div style="text-align:center; height:500px;">
    @{
        if (Model)
        {
            <img src="~/uploads/icons/success.png" style="width:200px; margin-top:100px;" />
            <p style="font-size:30px;color:green; margin-top:20px;">@Localizer["subscribed"]</p>
        }
        else
        {
            <img src="~/uploads/icons/error.png" style="width:200px; margin-top:100px;" />
            <p style="font-size:30px;color:red; margin-top:20px;">@Localizer["just_done"]</p>
        }
    }
</div>

@*@section Scripts{
        <script>
            setTimeout(function () { history.back(); }, 2000);
        </script>
    }*@

