﻿@model UTEP.Web.Areas.Admin.Models.TrailerViewModels.CreateTrailerViewModel

@{
    ViewData["Title"] = "Trailer Yeni";
}



@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Trailer</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div id="trailerImage" class="text-center">
                                        <img src="" width="300" height="150" style="object-fit:contain; display:none; border:1px solid #dddddd" />
                                        <hr />
                                    </div>
                                    <form asp-controller="Trailer" asp-action="create" asp-area="admin" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Ölçü</label>
                                            <input asp-for="Size" asp-is-invariant="true" class="form-control" required />
                                            <span asp-validation-for="Size" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Tonaj</label>
                                            <input asp-for="Tonnage" asp-is-invariant="true" class="form-control" required />
                                            <span asp-validation-for="Tonnage" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Say</label>
                                            <input asp-for="PaletteCount" min="0" class="form-control" required />
                                            <span asp-validation-for="PaletteCount" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Qeydiyyat sertifatı</label>
                                            <input asp-for="RegistrationCertificate" accept=".jpg, .jpeg, .png" onchange="showImage.call(this)" class="form-control" required />
                                            <span asp-validation-for="RegistrationCertificate" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Qeydiyyat nömrəsi</label>
                                            <input asp-for="RegistrationNumber" class="form-control" required />
                                            <span asp-validation-for="RegistrationNumber" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Trailer tipi</label>
                                            <select asp-for="TrailerTypeId" asp-items="Model.TrailerTypes" class="form-control" required>
                                                <option value="">...</option>
                                            </select>
                                            <span asp-validation-for="TrailerTypeId" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nəqliyyat Modeli</label>
                                            <select asp-for="VehicleModelId" asp-items="Model.VehicleModels" class="form-control" required>
                                                <option value="">...</option>
                                            </select>
                                            <span asp-validation-for="VehicleModelId" class="text-danger" required></span>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="Admin" asp-controller="Trailer" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function showImage() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("trailerImage");
                    image.src = data.target.result;
                    image.style.display = "inline";
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
    </script>
}

