﻿@model UTEP.Web.ViewModels.Language.LanguageViewModel
@*<ul class="top_links">
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                @if (Model.ExistLanguage == "az")
                {
                    <img src="~/uploads/languages/az.png" style="width:20px;height:20px;" />
                }
                else
                {
                    <img src="~/uploads/languages/ru.png" style="width:20px;height:20px;" />
                }
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @foreach (var item in Model.Languages)
                {
                    if (Model.ExistLanguage == item.LanguageCode)
                    {
                        <li class="active">
                            <a asp-area="" asp-controller="Language" asp-action="SetCulture" asp-route-selectedCulture="@item.LanguageCode" asp-route-returnUrl="@Context.Request.Host" style="color:black">
                                <img src="~/uploads/languages/@item.LangFlag" style="width:20px;height:20px;margin:5px 0 5px 0px;" />
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="" asp-controller="Language" asp-action="SetCulture" asp-route-selectedCulture="@item.LanguageCode" asp-route-returnUrl="@Context.Request.Host" style="color:black">
                                <img src="~/uploads/languages/@item.LangFlag" style="width:20px;height:20px;margin:5px 0 5px 0px;" />
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
    </ul>*@

<li>
    <form asp-controller="Language" asp-action="SetCultureFromJS" method="get" id="langForm">
        <div class="custom-select">
            <select name="selectedCulture">
                <option value="@Model.ExistLanguage"><span>@Model.ExistLanguage.ToUpper()</span></option>
                @foreach (var item in Model.Languages.Where(x => x.LanguageCode != Model.ExistLanguage))
                {
                    <option value="@item.LanguageCode"><a asp-controller="Language" asp-action="SetCulture" asp-route-selectedCulture="@item.LanguageCode"> @item.LanguageCode.ToUpper() </a></option>
                }
            </select>
        </div>
    </form>
</li>