﻿@model UTEP.Web.Areas.Admin.Models.SiteLanguageViewModels.EditSiteLanguageViewModel

@{
    ViewData["Title"] = "SiteLanguage Edit";
}


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Edit</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Sayt Dili</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <form asp-controller="sitelanguage" asp-action="edit" asp-area="admin" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Adı</label>
                                            <input asp-for="Name" class="form-control" required />
                                            <span asp-validation-for="Name" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Kodu</label>
                                            <input asp-for="Code" class="form-control" required />
                                            <span asp-validation-for="Code" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Sıralama indeksi</label>
                                            <input asp-for="OrderIndex" class="form-control" min="0" required />
                                            <span asp-validation-for="OrderIndex" class="text-danger" required></span>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                        @*<input type="hidden" asp-for="@Model.UserId" />*@
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}