﻿@model UTEP.Web.Areas.CompanyProfile.Models.ProductViewModels.CreateProductViewModel

@{
    ViewData["Title"] = "Product Yeni";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Product</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-area="companyprofile" asp-controller="Product" asp-action="Create" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Ad</label>
                                            <input asp-for="Name" autofocus class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Ölçü</label>
                                            <input asp-for="Size" asp-is-invariant="true" class="form-control">
                                            <span asp-validation-for="Size" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Ağırlıq</label>
                                            <input asp-for="Tonnage" asp-is-invariant="true" class="form-control">
                                            <span asp-validation-for="Tonnage" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Say</label>
                                            <input asp-for="PaletteCount" class="form-control">
                                            <span asp-validation-for="PaletteCount" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət</label>
                                            <select asp-for="CompanyId" asp-items="Model.Companies" class="form-control"></select>
                                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Məhsul Tipi</label>
                                            <select asp-for="ProducTypeId" asp-items="Model.ProductTypes" class="form-control"></select>
                                            <span asp-validation-for="ProducTypeId" class="text-danger"></span>
                                        </div>
                                        <div class="form-actions text-right">
                                            <button id="btn-validate-spinner" type="button" class="btn green">Təsdiqlə</button>
                                            <a asp-area="CompanyProfile" asp-controller="Product" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                        </div>

                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script>
            var ComponentsDateTimePickers = function () {

                var handleDatePickers = function () {

                    if (jQuery().datepicker) {
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });
                        //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                    }

                    /* Workaround to restrict daterange past date select: http://stackoverflow.com/questions/11933173/how-to-restrict-the-selectable-date-ranges-in-bootstrap-datepicker */

                    // Workaround to fix datepicker position on window scroll
                    $(document).scroll(function () {
                        $('#form_modal2 .date-picker').datepicker('place'); //#modal is the id of the modal
                    });
                }

                return {
                    //main function to initiate the module
                    init: function () {
                        handleDatePickers();
                    }
                };

            }();

            if (App.isAngularJsApp() === false) {
                jQuery(document).ready(function () {
                    ComponentsDateTimePickers.init();
                });
            }
        </script>
    }

}
