﻿
@{
    ViewData["Title"] = "Ana Sehife";
}

@*<html xmlns="http://www.w3.org/1999/xhtml">*@
<title></title>

@section Styles{ <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />

    <link href="~/Plugins/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css" rel="stylesheet" />
    
}

@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>

    <script src="~/Plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/date/formatdate.js"></script>
    <script src="~/js/admin/product.js"></script>
}

<div class="row margin-top-10">
    <div class="col-md-12 text-center">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fab fa-product-hunt"></i>
                    <span class="caption-subject bold">
                        Məhsul
                    </span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table id="productIndexTable" class="table table-hover table-striped table-bordered nowrap text-center" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center"><b>Ad</b></th>
                            <th class="text-center"><b>Ölçü</b></th>
                            <th class="text-center"><b>Ağırlıq</b></th>
                            <th class="text-center"><b>Sayı</b></th>
                            <th class="text-center"><b>Şirkət Adı</b></th>
                            <th class="text-center"><b>Product Tipi</b></th>
                            <th class="text-center"><b>Əlavə olunma tarixi</b></th>
                            <th class="text-center"><b>Əməliyyatlar</b></th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>