﻿<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="400" style="padding-top: 20px">
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a asp-controller="Home" asp-action="Index" asp-area="" class="nav-link ">
                            <i class="fa fa-reply"></i>
                            <span class="title">Sayta Geri Dön</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="heading">
                <h3 class="uppercase">Sections</h3>
            </li>

            <!--Driver Response-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-credit-card"></i>
                    <span class="title">Sürücü Cavabı</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a asp-controller="DriverResponse" asp-action="Create" asp-area="DriverProfile" class="nav-link ">
                            <span class="title">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DriverResponse" asp-action="Index" asp-area="DriverProfile" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    @*
                <li class="nav-item  ">
                    <a asp-controller="Company" asp-action="Trash" asp-area="Admin" class="nav-link ">
                        <span class="title">Trash</span>
                    </a>
                </li>*@
                </ul>
            </li>


            <!--Offer To Driver-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-credit-card"></i>
                    <span class="title">Təkliflər</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a asp-controller="OfferToDriver" asp-action="Create" asp-area="DriverProfile" class="nav-link ">
                            <span class="title">Yeni</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="OfferToDriver" asp-action="Index" asp-area="DriverProfile" class="nav-link ">
                            <span class="title">Siyahı</span>
                        </a>
                    </li>
                    @*
                <li class="nav-item  ">
                    <a asp-controller="Company" asp-action="Trash" asp-area="Admin" class="nav-link ">
                        <span class="title">Trash</span>
                    </a>
                </li>*@
                </ul>
            </li>



        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
