﻿@model UTEP.Web.Areas.Admin.Models.ProductTypeViewModels.CreateProductTypeViewModel

@{
    ViewData["Title"] = "ProductType Yeni";
}



@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">ProductType</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    @foreach (var language in Model.SiteLanguages)
                                    {
                                        if (language.LanguageCode == Model.LanguageCode)
                                        {
                                            <a asp-area="admin" asp-controller="ProductType" asp-action="Create" asp-route-language="@language.LanguageCode" class="btn btn-success" style="text-transform:none;"> @language.Name</a>
                                        }
                                        else
                                        {
                                            <a asp-area="admin" asp-controller="ProductType" asp-action="Create" asp-route-language="@language.LanguageCode" class="btn btn-default" style="text-transform:none;"> @language.Name</a>
                                        }
                                    }
                                    <form asp-area="admin" asp-controller="ProductType" asp-action="create" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Tip adı</label>
                                            <input asp-for="Name" class="form-control" required />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şəkil</label>
                                            <input type="file" name="file" onchange="showImage.call(this)" class="form-control" required />
                                            @*<span asp-validation-for="Image" class="text-danger"></span>*@
                                        </div>
                                        <div class="row">
                                            <div style="text-align:center;">
                                                <img id="productTypeImage" src="" alt="@Model.Name" style="width:200px;" />
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="admin" asp-controller="ProductType" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="LanguageCode" />
                                        @*<input type="hidden" asp-for="@Model.UserId" />*@
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function showImage() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("productTypeImage");
                    image.src = data.target.result;
                    image.style.display = "inline";
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
    </script>
}

