﻿@model UTEP.Web.Models.AccountViewModels.ResetPasswordViewModel
@inject IViewLocalizer Localizer

@{
    var enter = Localizer["submit"];
}

<div class="modals modal-new-password" style="display:block;">
    <div class="modal-register">
        <span class="close">&times;</span>
        <h3>@Localizer["reset_pass"]</h3>
        <form asp-controller="Account" asp-action="ResetPassword" id="resetPasswordForm">

            <div id="mes" style="margin: 0 auto; text-align:center;"></div>

            <div class="register-fields register-form">
                <label for="newPassword">@Localizer["new_pass"]</label>
                <input type="password" id="newPassword" placeholder="@Localizer["enter_new_pass"]" asp-for="Password" required>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>


            <div class="register-fields register-form">
                <label for="newPasswordAgain">@Localizer["new_pass_confirm"]</label>
                <input type="password" id="newPasswordAgain" placeholder="@Localizer["enter_new_pass_confirm"]" asp-for="ConfirmPassword" required>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

            </div>


            <div class="register-fields register-checkbox">
                <input type="checkbox" id="rememberMeNewPassword" asp-for="RememberMe">
                <span class="register-checkmark"></span>
                <label for="rememberMeNewPassword">@Localizer["remember"]</label>
            </div>

            <div class="register-btn login-btn">
                <a href="javascript:void(0);" id="submitResetPasswordForm">@Localizer["submit"]</a>
            </div>

            <div class="register-hr">
                <hr>
                <span>@Localizer["or"]</span>
            </div>

            <div class="register-btn signup-btn">
                <a href="javascript:void(0);">@Localizer["register"]</a>
            </div>

            <input type="hidden" asp-for="Code" />
            <input type="hidden" asp-for="UserId" />
        </form>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(".close").click(function closeForm() {
        $(".modal-section").html("");
    });

    $mes = $("#mes");

    $("#submitResetPasswordForm").click(function () {
        $mes.empty();
        if ($("#resetPasswordForm").valid()) {
            var url = $(this).parent().parent().attr('action');
            $("#submitResetPasswordForm").html('<i class="fa fa-spinner fa-pulse" style="font-size:16px"></i>');
            $.ajax({
                url: url,
                method: "post",
                data: $("#resetPasswordForm").serialize()
            })
                .done(function (data) {
                    if (data.status) {
                        window.location.href = "@Context.Request.Scheme://@Context.Request.Host" //data.url;
                        //$mes.css("color", "green").css("display", "block").append(data.message.Value);
                    } else {
                        $mes.css("color", "red").css("display", "block").append(data.message);
                        $("#submitResetPasswordForm").html("@enter");
                    }
                });
        }
    });

</script>
