﻿@model UTEP.Web.ViewModels.SearchViewModel

@inject IViewLocalizer Localizer

<section id="datepicker">
    <div class="container">
        <div class="row">
            <!-- SELECT TIME AND LOCATION PART -->
            <div class="col-lg-9">
                <form asp-controller="Order" asp-action="Search" id="searchForm" method="get">
                    <div class="row">
                        <!-- START DATE -->
                        <div class="col-lg-4 z-index  col-sm-4">
                            <div class="date-style">
                                <div class="start-date date-main">

                                    <label for="date-picker-start">
                                        <div class="date-img">
                                            <img src="~/v2/img/calendar.png" alt="">
                                        </div>
                                        <span>@Localizer["begin_date"]</span>
                                    </label>

                                    <input placeholder="@Localizer["enter_begin_date"]" name="startDate" type="text" id="date-picker-start" class="form-control datepicker">

                                </div>
                            </div>
                        </div>

                        <!-- END DATE -->
                        <div class="col-lg-4 z-index col-sm-4">
                            <div class="date-style">
                                <div class="end-date date-main">

                                    <label for="date-picker-end">
                                        <div class="date-img">
                                            <img src="~/v2/img/calendar-1.png" alt="">
                                        </div>
                                        <span> @Localizer["end_date"]</span>
                                    </label>

                                    <input placeholder="@Localizer["enter_end_date"]" name="startDate" type="text" id="date-picker-end" class="form-control datepicker">

                                </div>
                            </div>
                        </div>

                        <!-- LOCATION -->
                        <div class="col-lg-4 z-index col-sm-4">
                            <div class="date-style">
                                <div class="location-date date-main">

                                    <label for="date-picker-location">
                                        <div class="date-img">
                                            <img src="~/v2/img/location.png" alt="">
                                        </div>
                                        <span> @Localizer["direction"]</span>
                                    </label>

                                    <div class="">

                                        <select id="Cities" asp-for="FromId" class="form-control">
                                            <option value="0">@Localizer["choose_direction"]</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- SEARCH BUTTON -->
            <div class="col-lg-3 col-sm-12">
                <div class="date-search">
                    <a href="javascript:void(0)" id="searchBtn">
                        <span>
                            <i class="fas fa-search pr-2"></i>
                        </span>
                        @Localizer["search"]
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
