﻿@model ForgotPasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["title"];
    var submitBtn = Localizer["submit"];
}

<div class="modals modal-forgot-password" style="display:block;">
    <div class="modal-register">
        <span class="close">&times;</span>
        <h3>@Localizer["forgot_password"]</h3>
        <form asp-controller="Account" asp-action="ForgotPassword" id="forgotPasswordForm">

            <div id="mes" style="margin: 0 auto; text-align:center;"></div>

            <div class="register-fields register-form">
                <label for="registerEmail">@Localizer["email"]</label>
                <input type="email" id="registerEmail" placeholder="@Localizer["enter_email"]" asp-for="Email" required>
            </div>

            <div class="register-btn login-btn">
                <a href="javascript:void(0);" id="submitBtnFPForm">@Localizer["submit"]</a>
            </div>

            <div class="register-hr">
                <hr>
                <span>@Localizer["or"]</span>
            </div>

            <div class="register-btn signup-btn goToRegisterFromFS">
                <a href="javascript:void(0);">@Localizer["register"]</a>
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>

    var lang = window.location.pathname.split("/")[1];
    var $mes = $("#mes");

    $(".close").click(function closeForm() {
        $(".modal-section").html("");
    });

    $(".login-btn").click(function () {
        $mes.html('');
        var url = $(this).parent().attr('action');
        $("#submitBtnFPForm").html('<i class="fa fa-spinner fa-pulse" style="font-size:16px"></i>');
        $("#submitBtnFPForm").off("click");

        $.ajax({
            url: url,
            method: "post",
            data: $("#forgotPasswordForm").serialize()
        })
            .done(function (data) {
                if (data.status) {
                    $mes.css("color", "green").css("display", "block").append(data.message.Value);
                } else {
                    $mes.css("color", "red").css("display", "block").append(data.message.Value);
                }
                $("#submitBtnFPForm").html("@submitBtn");
                $("#submitBtnFPForm").on("click");
            });
    });

    $(".goToRegisterFromFS").click(function () {
        $(".modal-section").html("");
        $.ajax({
            url: "/" + lang + "/account/registerCompany",
            method: "get"
        })
            .done(function (data) {
                $(".modal-section").append(data);
            });
    });

</script>