﻿@model UTEP.Web.Models.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "CreateAdmin";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Admin</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-controller="User" asp-action="createadmin" asp-area="admin" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>


                                        <div class="form-group">
                                            <label class="control-label">Adı</label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Soyadı</label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şifrə</label>
                                            <input asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şifr təkrar</label>
                                            <input asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>


                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="Admin" asp-controller="User" asp-action="Admin" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<input type="hidden" asp-for="@Model.UserId" />*@
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}