﻿@model UTEP.Web.Areas.CompanyProfile.Models.CompanyOrderViewModels.CreateCompanyOrderViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["new_announces"];
}
@section Styles{
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Plugins/imagepreview/jpreview.css" rel="stylesheet" />
    <style>
        .jpreview-image {
            width: 100px;
            height: 100px;
            margin: 10px;
            position: relative;
            float: left;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .jpreview-container::after {
            content: ".";
            visibility: hidden;
            display: block;
            clear: both;
        }

        .jpreview-image img {
            max-width: 100%;
            max-height: 100%
        }
    </style>
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">@Localizer["new"]</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">@Localizer["announce"]</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form asp-area="CompanyProfile" asp-controller="companyorder" asp-action="Create" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["price"] </label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input asp-for="ProporsalPrice" value="@Model.ProporsalPrice.ToString("0.##")" min="0" autofocus class="form-control" />
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" asp-for="Currency">
                                                        <option value="1">@Localizer["azn"]</option>
                                                        <option value="2">@Localizer["usd"]</option>
                                                        <option value="3">@Localizer["euro"]</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="ProporsalPrice" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">@Localizer["start_place"] <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <select lang="az" asp-items="Model.FromCountries" asp-for="FromCountryId" required class="form-control select2">
                                                        <option value="">Ölkə</option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select lang="az" asp-items="Model.FromCities" asp-for="FromCityId" required class="form-control select2">
                                                        <option value="">Şəhər</option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.FromCountryId" class="text-danger">
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">@Localizer["info_start_place"]</label>
                                            <input asp-for="FromDescription" class="form-control" />
                                            <span asp-validation-for="FromDescription" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">@Localizer["end_place"] <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <select lang="az" asp-items="Model.ToCountries" asp-for="ToCountryId" required class="form-control select2">
                                                        <option value="">Ölkə</option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select lang="az" asp-items="Model.ToCities" asp-for="ToCityId" required class="form-control select2">
                                                        <option value="">Şəhər</option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.ToCountryId" class="text-danger">
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">@Localizer["info_end_place"]</label>
                                            <input asp-for="ToDescription" class="form-control" />
                                            <span asp-validation-for="FromDescription" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">@Localizer["name"] <span style="color:red; font-size:20px;">*</span></label>
                                            <input asp-for="CreateProduct.Name" required class="form-control" />
                                            <span asp-validation-for="CreateProduct.Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["description"]</label>
                                            <textarea asp-for="CreateProduct.Description" rows="6" class="form-control"></textarea>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="control-label">Məhsulun ölçüsü (KubMetr) <span style="color:red; font-size:20px;">*</span></label>
                                                <input asp-for="CreateProduct.Size" value="@Model.CreateProduct.Size.ToString("#")" asp-is-invariant="true" class="form-control">
                                                <span asp-validation-for="CreateProduct.Size" class="text-danger"></span>
                                            </div>*@
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["tonnage"] <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input asp-for="CreateProduct.Tonnage" value="@Model.CreateProduct.Tonnage.ToString("#")" required asp-is-invariant="true" class="form-control">
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" asp-for="@Model.Weight">
                                                        <option value="1">@Localizer["kg"]</option>
                                                        <option value="2">@Localizer["ton"]</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="CreateProduct.Tonnage" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["count"] <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input asp-for="CreateProduct.PaletteCount" class="form-control" min="1" value="@Model.CreateProduct.PaletteCount" required>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" asp-for="WeightType">
                                                        <option value="1">@UTEP.Settings.WeightType.GetWeightType(UTEP.Settings.WeightType.Palet, Model.Lang)</option>
                                                        <option value="2">@UTEP.Settings.WeightType.GetWeightType(UTEP.Settings.WeightType.Yeşik, Model.Lang)</option>
                                                        <option value="3">@UTEP.Settings.WeightType.GetWeightType(UTEP.Settings.WeightType.Kisə, Model.Lang)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="CreateProduct.PaletteCount" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">@Localizer["type"] <span style="color:red; font-size:20px;">*</span></label>
                                            <select asp-for="CreateProduct.ProducTypeId" asp-items="Model.CreateProduct.ProductTypes" class="form-control" required></select>
                                            <span asp-validation-for="CreateProduct.ProducTypeId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">@Localizer["start_date"] <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                <input type="text" class="form-control" asp-for="DealDate" readonly="" value="@DateTime.Now.ToString("dd-MM-yyyy")">
                                                <span class="input-group-btn">
                                                    <button class="btn default green" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span asp-validation-for="DealDate" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">@Localizer["end_date"] <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                <input type="text" class="form-control" asp-for="DeadLine" readonly="" value="@DateTime.Now.AddDays(7).ToString("dd-MM-yyyy")">
                                                <span class="input-group-btn">
                                                    <button class="btn default green" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span asp-validation-for="DeadLine" class="text-danger"></span>
                                        </div>



                                        @*<div class="form-group">
                                                <label class="control-label">Məhsulun Şəkilləri (<b> ən az 1, ən çox 6 </b>) <span style="color:red; font-size:20px;">*</span></label>
                                                <input type="file" class="form-control" name="collection" accept="image/*" multiple>
                                            </div>*@

                                        <div class="form-group">
                                            <label class="control-label">@Localizer["images"] <span style="color:red; font-size:20px;">*</span></label>
                                            <input type="file"
                                                   class="demo form-control"
                                                   name="collection"
                                                   accept="image/*"
                                                   multiple
                                                   data-jpreview-container="#preview-container">
                                            <div id="preview-container"
                                                 class="jpreview-container">
                                            </div>
                                        </div>

                                        <input type="hidden" asp-for="CreateProduct.CompanyId" />

                                        <div class="form-actions text-right">
                                            <button id="btn-validate-spinner" type="button" class="btn green">@Localizer["confirm"]</button>
                                            <a asp-area="CompanyProfile" asp-controller="companyorder" asp-action="Index" asp-route-id="" class="btn default">@Localizer["cancel"]</a>
                                        </div>
                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @*<script src="~/uploader/js/jquery.fileuploader.min.js"></script>
        <script src="~/uploader/js/custom.js"></script>*@
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/pages/scripts/components-select2.min.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Plugins/imagepreview/jpreview.js"></script>
    <script>
        $('.demo').jPreview();
    </script>


    <script>
        $(function () {
            $("input[type='file']").on('change', function () {
                var $fileUpload = $("input[type='file']");
                if (parseInt($fileUpload.get(0).files.length) > 6) {
                    alert("Ən çox 6 şəkil yükləyə bilərsiniz");
                }
            });
        });
    </script>

    <script>
        var ComponentsDateTimePickers = function () {
            var t = function () {
                jQuery().datepicker && $(".date-picker").datepicker({
                    rtl: App.isRTL(),
                    orientation: "left",
                    autoclose: !0
                }),
                    $(document).scroll(function () {
                        $("#form_modal2 .date-picker").datepicker("place")
                    })
            };
            return {
                init: function () {
                    t()
                }
            }
        }();
        App.isAngularJsApp() === !1 &&
            jQuery(document).ready(function () {
                ComponentsDateTimePickers.init()
            });
    </script>

    <script>
        $(document).ready(function () {
            $("#FromCountryId").change(function () {
                var countryId = $("#FromCountryId").val();
                $.getJSON("/az/companyprofile/companyorder/GetCities/", { id: countryId }, function (data) {
                    $("#FromCityId option").remove();

                    $.each(data, function () {
                        $("#FromCityId").append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                });
            });


            $("#ToCountryId").change(function () {
                var countryId = $("#ToCountryId").val();
                $.getJSON("/az/companyprofile/companyorder/GetCities/", { id: countryId }, function (data) {
                    $("#ToCityId option").remove();

                    $.each(data, function () {
                        $("#ToCityId").append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                });
            });
        });
    </script>

}