﻿@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Təsdiq olunmayanlar məhsullar";
}

@section Styles{ <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    @*<link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />*@
    <link href="~/Plugins/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @*<script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>*@
    <script src="~/Plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/date/formatdate.js"></script>
    <script src="~/js/admin/companyOrder.js"></script>
}


<div class="row margin-top-10">
    <div class="col-md-12 text-center">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-briefcase font-dark"></i>
                    <span class="caption-subject bold">
                        @Localizer["my_announces"]
                        <a asp-controller="CompanyOrder" asp-action="Create" class="btn blue btn-xs  btn-outline">
                            @Localizer["new"] <i class="fa fa-plus"></i>
                        </a>
                        <a asp-controller="CompanyOrder" asp-action="Trash" class="btn red btn-xs  btn-outline">
                            @Localizer["deleted"] <i class="fa fa-remove"></i>
                        </a>
                        <a asp-controller="CompanyOrder" asp-action="Index" class="btn yellow btn-xs  btn-outline">
                            @Localizer["list"] <i class="fa fa-list-ul"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <table id="companyorderWaitedTable" class="table table-hover table-striped table-bordered nowrap text-center" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center"><b>@Localizer["proporsalprice"]</b></th>
                            <th class="text-center"><b>@Localizer["valuta"]</b></th>
                            <th class="text-center"><b>@Localizer["start_place"]</b></th>
                            <th class="text-center"><b>@Localizer["end_place"]</b></th>
                            <th class="text-center"><b>@Localizer["name"]</b></th>
                            <th class="text-center"><b>@Localizer["tonnage"]</b></th>
                            <th class="text-center"><b>Sabit</b></th>
                            <th class="text-center"><b>@Localizer["count"]</b></th>
                            <th class="text-center"><b>@Localizer["start_date"]</b></th>
                            <th class="text-center"><b>@Localizer["end_date"]</b></th>
                            <th class="text-center"><b>@Localizer["add_date"]</b></th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>