﻿@model UTEP.Web.Areas.Admin.Models.VehicleTypeViewModels.EditVehicleTypeViewModel

@{
    ViewData["Title"] = "VehicleType Edit";
}



@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Edit</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">VehicleType</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    @foreach (var language in Model.SiteLanguages)
                                    {
                                        if (language.LanguageCode == Model.LanguageCode)
                                        {
                                            <a asp-area="Admin" asp-controller="VehicleType" asp-action="Edit" asp-route-language="@language.LanguageCode" class="btn btn-success" style="text-transform:none;"> @language.Name</a>
                                        }
                                        else
                                        {
                                            <a asp-area="Admin" asp-controller="VehicleType" asp-action="Edit" asp-route-language="@language.LanguageCode" class="btn btn-default" style="text-transform:none;"> @language.Name</a>
                                        }
                                    }
                                    <h1>@Model.LanguageCode</h1>
                                    <form asp-controller="VehicleType" asp-action="edit" asp-area="admin" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Ad</label>
                                            <input asp-for="Name" class="form-control" required />
                                            <span asp-validation-for="Name" class="text-danger" required></span>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="Admin" asp-controller="VehicleType" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="LanguageCode" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

