﻿@model UTEP.Web.Areas.Admin.Models.DriverViewModels.AddDriverViewmodel

@{
    ViewData["Title"] = "Add";
}


@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Create</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Driver</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-controller="Driver" asp-action="Add" asp-area="admin" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Adı</label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Soyadı</label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Telefon nömrəsi</label>
                                            <input asp-for="PhoneNumber" class="form-control">
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">Şirkət</label>
                                            <select asp-for="CompanyId" asp-items="Model.Companies" class="form-control"></select>
                                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Truck</label>
                                            <select asp-for="TruckId" asp-items="Model.Trucks" class="form-control"></select>
                                            <span asp-validation-for="TruckId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Trailer Nömrəsi</label>
                                            <select asp-for="TrailerId" asp-items="Model.Trailers" class="form-control"></select>
                                            <span asp-validation-for="TrailerId" class="text-danger"></span>
                                        </div>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="Admin" asp-controller="Driver" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}