﻿@using Microsoft.AspNetCore.Identity
@using UTEP.Data.Domain.Models.Tables.SiteBasedGroup

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    //var user = UserManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
    //var confirm = UserManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name).TypeOfUser == 1;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keyword"
          content="utep, texnologiya, yük, transport, yük daşıma,yük daşıma xidməti, çatdırılma, daşıma şirkətləri, daşıma xidmətləri, beynəlxalq daşıma, nəqliyyat, elektronika, tikinti">

    <meta name="description"
          content="Utep transport ekspedisiya platformasıdır.Utep beynəlxalq yük daşımanı texnologiya ilə birləşdirərək daha rahat və əlverişli edir. ">

    @RenderSection("Meta", false)

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/v2/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/v2/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css"
          rel="stylesheet">

    <link rel="shortcut icon" href="~/v2/img/utep-logo.png">
    <link rel="stylesheet" href="~/v2/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/v2/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
            border: none !important;
        }
    </style>


    @RenderSection("Styles", false)

    <title>UTEP | @*Transport Ekspedisiya Platforması -*@ @ViewData["Title"] </title>
</head>

<body class="index-body">
    <!-- NAV -->
    <nav class="desktop-nav  " id="desktop-index-nav">
        <div class="container">
            <div class="row">

                <!-- LOGO AND DESKTOP MENU -->
                <div class="nav-left nav-home  col-md-7 col-lg-7">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <div class="nav-logo">
                                <a asp-controller="Home" asp-action="Index">
                                    <img src="~/v2/img/utep-logo.png" alt="This is Utep's Logo">
                                    <span class="tep">tep</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10">
                            <ul class="nav-menu">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="utep-deactive">
                                        @SharedLocalizer["home"]
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Order" asp-action="List" class="utep-deactive">
                                        @SharedLocalizer["all_announces"]
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="About" class="utep-deactive">
                                        @SharedLocalizer["about"]
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="utep-deactive">
                                        @SharedLocalizer["contact"]
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-space nav-home">

                    </div>
                </div>


                <!-- EXTRA INFO, SIGN IN  AND LANGUAGE -->
                <div class="nav-right nav-home col-md-5 col-lg-5">
                    <ul class="nav-contact">
                        <li>
                            <a href="tel:+994777779696">
                                <div class="nav-img">
                                    <img src="~/v2/img/utep-phone-desktop.png" alt="This is Phone icon in Utep's Navbar">
                                </div>
                                <span> +994 77 777 96 96</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:support@utep.az" class="arroba">
                                <div class="nav-img ">
                                    <img src="~/v2/img/utep-arroba-desktop.png" alt="This is Arroba icon in Utep's Navbar">
                                </div>
                                <span> support@utep.az</span>
                                <hr>
                            </a>
                        </li>

                        @Html.Partial("_LoginPartial")

                        @await Component.InvokeAsync("Language")
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <nav class="mobile-nav">
        <div class="container">
            <div class="row justify-content-between">
                <!-- MOBILE SCREEN LOGO -->
                <div class="col-4">
                    <div class="nav-logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/v2/img/utep-logo.png" alt="This is Utep's Logo">
                            <span class="tep">tep</span>
                        </a>
                    </div>
                </div>

                <!-- MOBILE SCREEN MENU ICON -->
                <div class="col-6 icon-place ">
                    <div class="nav-menu-icon">

                        <hr class="long-hr-1">
                        <hr class="long-hr-2">

                        <div class="short-hr">
                            <hr>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- MOBILE MENU NAVBAR -->
        <div class="nav-mobile-navbar">
            <div class="hidden-layer">

            </div>
            <!-- ACTIVE MOBILE MENU -->
            <div class="hidden-logo  ">
                <div class="mobile-language">

                    <ul class="d-flex">
                        <li>
                            <a asp-controller="Language" asp-action="SetCulture" asp-route-selectedCulture="az">AZ</a>
                        </li>
                        <li>
                            <a asp-controller="Language" asp-action="SetCulture" asp-route-selectedCulture="ru">RU</a>
                        </li>
                    </ul>

                </div>
                <div class="pr-3 icon-place  icon-hidden">

                    <div class="nav-menu-icon nav-menu-icon-hidden">

                        <hr class="long-hr-1">
                        <hr class="long-hr-2">

                        <div class="short-hr">
                            <hr>
                        </div>
                    </div>

                </div>
            </div>

            <!-- MOBILE SIGN IN AND LOG IN -->
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="nav-mobile-login ">
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-mobile-a">
                            Admin
                        </a>
                    }
                    else if (User.IsInRole("Manager"))
                    {
                        <a asp-area="CompanyProfile" asp-controller="Home" asp-action="Index" class="nav-mobile-a">
                            @SharedLocalizer["private_cabinet"]
                        </a>
                    }
                    <a onclick="document.getElementById('logout').submit();" class="nav-mobile-sign">
                        @SharedLocalizer["logout"]
                    </a>
                    <form asp-controller="Account" asp-action="Logout" id="logout" method="post"></form>
                </div>
            }
            else
            {
                <div class="nav-mobile-login ">
                    <a href="javascript:void(0);" class="nav-mobile-a nav_login">
                        @SharedLocalizer["login"]
                    </a>
                    <a href="javascript:void(0);" class="nav-mobile-sign nav_register">
                        @SharedLocalizer["register"]
                    </a>
                </div>
            }

            <!-- MENU  LİSTS-->
            <div class="mobile-menu-ul">
                <hr class="mobile-hr">

                <ul class="mobile-menu">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-mobile-a utep-deactive-mobile">
                            @SharedLocalizer["home"]
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Order" asp-action="List" class="nav-mobile-a utep-deactive-mobile">
                            @SharedLocalizer["all_announces"]
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="nav-mobile-a utep-deactive-mobile">
                            @SharedLocalizer["about"]
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-mobile-a utep-deactive-mobile">
                            @SharedLocalizer["contact"]
                        </a>
                    </li>
                </ul>

                <hr class="mobile-hr">


                <!-- MOBILE EXTRA INFO -->

                <ul class="mobile-menu-extra">
                    <li>
                        <a href="tel:+994777779696" class="mobile-extra-a">
                            <div class="nav-mobile-img mr-1">
                                <img src="~/v2/img/utep-phone-mobile.png" alt="This is Phone icon in Utep's Navbar">
                            </div>
                            <span> +994 77 777 96 96</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:support@utep.az" class="mobile-extra-a">
                            <div class="nav-mobile-img mr-1 ">
                                <img src="~/v2/img/utep-arroba-mobile.png" alt="This is Arroba icon in Utep's Navbar">
                            </div>
                            <span> support@utep.az</span>
                            <hr>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- NAV ENDS -->

    @RenderSection("Modal", false)

    <div class="modal-section"></div>


    @RenderBody()

    @await Component.InvokeAsync("Slide")

    @await Component.InvokeAsync("Statistics")

    <!-- FOOTER -->
    <footer class="bg-white">
        <div class="container">
            <div class="row justify-content-between">

                <!-- FOOTER LOGO AND TEXT -->
                <div class=" col-md-4 col-12">
                    <div class="footer-main">
                        <div class="footer-img">
                            <div class="footer-logo">
                                <a href="">
                                    <img src="~/v2/img/utep-logo.png" alt="This is Utep's Logo">
                                    <span class="tep">tep</span>
                                </a>
                            </div>
                        </div>
                        <div class="footer-text">
                            <p>
                                @await Component.InvokeAsync("AboutFooter")
                            </p>
                        </div>
                        <hr class="footer-hr">
                    </div>
                </div>

                <!-- FOOTER MENU  -->
                <div class="col-md-5  col-12">
                    <div class="row">

                        <!-- FOOTER MENU LIST -->
                        <div class=" col-md-6 col-lg-4 col-6 order-mobile-2">
                            <h6>@SharedLocalizer["useful_links"]</h6>
                            <ul>
                                <li>
                                    <a asp-controller="Home" asp-action="Index">@SharedLocalizer["home"]</a>
                                </li>
                                <li>
                                    <a asp-controller="Order" asp-action="List">@SharedLocalizer["all_announces"]</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="About">@SharedLocalizer["about"]</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">@SharedLocalizer["contact"]</a>
                                </li>
                            </ul>
                        </div>

                        <!-- FOOTER INFO -->
                        <div class=" col-md-6 col-6 order-mobile-1">
                            <h6>@SharedLocalizer["contact_with_us"]</h6>
                            <ul>
                                <li>
                                    <a href="tel:+994777779696">+994 77 777 96 96</a>
                                </li>
                                <li>
                                    <a href="mailto:support@utep.az">support@utep.az</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">www.utep.az</a>
                                </li>
                                <li>
                                    <address>
                                        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.0534367274854!2d49.82645441531956!3d40.385508265461745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d9be60052ab%3A0xd7852fa710c6b11a!2sCaspian+Plaza!5e0!3m2!1sen!2s!4v1548164423912"
                                           target="_blank">
                                            @SharedLocalizer["own_address"]
                                        </a>
                                    </address>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
    <!-- SEBSCRIBE -->
    <section id="subscribe">
        <div class="container">
            <div class="row padding-t justify-content-between">

                <!-- PRIVACY -->
                <div class="mt-2 col-md-4 mobile-subscribe-3">
                    <div class="subscribe-text ">
                        <p>UTEP.az © 2019 @SharedLocalizer["copyright"]</p>
                    </div>
                </div>

                <!-- SHARE ICONS -->
                @*<div class="col-md-3 col-lg-2 mb-4 col-6 mx-auto mt-2 mobile-subscribe-1">
                    <div class="subscribe-icons">
                        <ul class="d-flex justify-content-center">
                            <li>
                                <a href="">
                                    <img src="~/v2/img/facebook-logo.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/v2/img/instagram.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/v2/img/youtube.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/v2/img/whatsapp.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/v2/img/twitter.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>*@

                <!-- SUBSCRIBE EMAIL AND BUTTON -->
                <div class="col-md-5 mobile-subscribe-2 ">
                    <form asp-controller="Home" asp-action="Subscribe" method="post" class="input-group mb-3 padding-r">
                        <input type="text" class="form-control" name="email" placeholder="@SharedLocalizer["email"]" aria-label="E-mail"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append subscribe-mobile-btn">
                            <button class="btn btn-outline-secondary" type="submit">@SharedLocalizer["subscribe"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- SEBSCRIBE END -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="/v2/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
    <script src="/v2/fancybox/jquery.fancybox.min.js"></script>
    <script src="/v2/js/main.js" type="text/javascript" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

    <script>
        function submitForm(obj, formId) {
            var per = $(formId).valid();
            if (per) {
                $(obj).closest("form").submit();
            }
        }

        var lang = window.location.pathname.split("/")[1].toString();
        $(".nav_login, .order_btn").click(function () {
            $.ajax({
                url: "/" + lang + "/account/login",
                method: "get"
            })
                .done(function (data) {
                    $(".modal-section").append(data);
                });
        });

        $(".nav_register").click(function () {
            $.ajax({
                url: "/" + lang + "/account/registerCompany",
                method: "get"
            })
                .done(function (data) {
                    $(".modal-section").append(data);
                });
        });

        $("#searchBtn").on("click", function () {
            $("#searchForm").submit();
        });

        $(".select-items").click(function () {
            var nextLang = $(".same-as-selected")[0].innerHTML.toLowerCase().split(" ")[1];
            $.ajax({
                url: $("#langForm").attr("action"),
                data: { selectedCulture: nextLang }
            }).done(function (data) {
                window.location.href = data;
            });
        });

        $(document).ready(function () {
            var action = window.location.pathname.split("/")[2];
            var num;
            switch (action) {
                case "order":
                    num = 1;
                    break;
                case "about":
                    num = 2;
                    break;
                case "contact":
                    num = 3;
                    break;
                case "":
                default:
                    num = 0;
            }
            $(".utep-deactive").eq(num).addClass("active");
            $(".utep-deactive-mobile").eq(num).addClass("active");
        });

        function getCity() {
            var val = $(this).data("value");
            var text = $(this).text();

            $(".select-selected").empty();
            $(".select-selected").append(text);
            $(".select-items").addClass("select-hide").css("display", "none");
            $("#Cities option[value='" + val + "']").attr("selected", "selected");
        };

        $(document).ready(function () {
            $('#Cities').select2({
                placeholder: {
                    id: 0,
                    text: lang === "az" ? "İstiqamət seçin" : "Выберите направление"
                }
            });
        });

    </script>


    @RenderSection("Scripts", false)
</body>

</html>
