@using Microsoft.AspNetCore.Identity
@using UTEP.Web.Models
@*@using System.Security.Claims*@
@{
    var user = UserManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
}

@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><span> @Localizer["admin"]</span></a> </li>
    }
    @if (User.IsInRole("Manager"))
    {
        <li><a asp-area="CompanyProfile" asp-controller="Home" asp-action="Index"><span> @Localizer["private"]</span></a> </li>
    }
    @if (User.IsInRole("Driver"))
    {
        <li><a asp-area="DriverProfile" asp-controller="Home" asp-action="Index"><span> @Localizer["private"]</span></a> </li>
    }
    @*@User.Identity.Name*@
    @*@User.FindFirst(ClaimTypes.Email)?.Value*@
    <li><a onclick="document.getElementById('logout').submit();" style="cursor:pointer;color:white;"><span>@Localizer["logout"]</span></a></li>
}
else
{
    @*<li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock" aria-hidden="true"></i> @Localizer["login"] </a> </li>
        <li><a asp-controller="Account" asp-action="RegisterCompany"><i class="fa fa-lock" aria-hidden="true"></i>@Localizer["register"]</a> </li>*@
    <li>
        <a href="javascript:void(0);" class="nav_login">
            <span> @Localizer["login"]</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" class="nav_register">
            <span> @Localizer["register"]</span>
        </a>
    </li>
}

<form asp-controller="Account" asp-action="Logout" id="logout" method="post"></form>