﻿@model UTEP.Web.Areas.Admin.Models.CompanyClientAdminViewModels.CreateCompanyClientAdminViewModel

@{
    ViewData["Title"] = "CompanyClient Yeni";
}



@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Company Client</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-controller="CompanyClientAdmin" asp-action="create" asp-area="Admin" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <h2 style="text-align:center">Şirkət</h2>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Adı</label>
                                            <input asp-for="CompanyName" class="form-control" required />
                                            <span asp-validation-for="CompanyName" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Emali</label>
                                            <input asp-for="CompanyEmail" class="form-control" required />
                                            <span asp-validation-for="CompanyEmail" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Telefonu</label>
                                            <input asp-for="CompanyPhone" class="form-control" required />
                                            <span asp-validation-for="CompanyPhone" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Adresi</label>
                                            <input asp-for="CompanyAddress" class="form-control" required />
                                            <span asp-validation-for="CompanyAddress" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">VÖEN</label>
                                            <input asp-for="VOEN" class="form-control" required />
                                            <span asp-validation-for="VOEN" class="text-danger" required></span>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">Şirkət tipi</label>
                                            <select asp-for="CompanyTypeId" asp-items="Model.CompanyTypes" class="form-control" required>
                                                <option value="">...</option>
                                            </select>
                                            <span asp-validation-for="CompanyTypeId" class="text-danger" required></span>
                                        </div>

                                        <h2 style="text-align:center">Menecer (şirkət təmsilcisi)</h2>

                                        <div class="form-group">
                                            <label class="control-label">Ad</label>
                                            <input asp-for="CreateUsers.FirstName" class="form-control" required />
                                            <span asp-validation-for="CreateUsers.FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Soyad</label>
                                            <input asp-for="CreateUsers.LastName" class="form-control" required />
                                            <span asp-validation-for="CreateUsers.LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input asp-for="CreateUsers.Email" class="form-control" required />
                                            <span asp-validation-for="CreateUsers.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şifrə</label>
                                            <input asp-for="CreateUsers.Password" class="form-control" required />
                                            <span asp-validation-for="CreateUsers.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şifrə təkrar</label>
                                            <input asp-for="CreateUsers.ConfirmPassword" class="form-control" required />
                                            <span asp-validation-for="CreateUsers.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Telefon nömrəsi</label>
                                            <input asp-for="CreateUsers.PhoneNumber" class="form-control" required>
                                            <span asp-validation-for="CreateUsers.PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="admin" asp-controller="CompanyClientadmin" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}