﻿
@{
    ViewData["Title"] = "Ana Sehife";
}

<title></title>


@section Styles{ <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />

    <link href="~/Plugins/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css" rel="stylesheet" />

}
@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/date/formatdate.js"></script>
    <script src="~/js/admin/companyClientAdmin.js"></script>
}


<div class="row margin-top-10">
    <div class="col-md-12 text-center">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fas fa-building font-dark"></i>
                    <span class="caption-subject bold">
                        Şirkət Sifarişçi
                        <a asp-controller="CompanyClientAdmin" asp-action="Create" class="btn blue  btn-xs  btn-outline">
                            New <i class="fa fa-plus"></i>
                        </a>
                        <a asp-controller="CompanyClientAdmin" asp-action="Trash" class="btn red  btn-xs  btn-outline">
                            Trash <i class="fa fa-times"></i>
                        </a>
                        <a asp-controller="CompanyClientAdmin" asp-action="Index" class="btn yellow  btn-xs  btn-outline">
                            List <i class="fas fa-list-ul"></i>
                        </a>
                    </span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table id="companyclientadminWaitedTable" class="table table-hover table-hover table-striped table-bordered nowrap text-center" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center"><b>Şirkət Adı</b></th>
                            <th class="text-center"><b>Şirkət Emaili</b></th>
                            <th class="text-center"><b>Şirkət Telefonu</b></th>
                            <th class="text-center"><b>Şirkət Adresi</b></th>
                            <th class="text-center"><b>Şirkət tipi</b></th>
                            <th class="text-center"><b>İstifadəçi Adı</b></th>
                            <th class="text-center"><b>İstifadəçi soyadı</b></th>
                            <th class="text-center"><b>İstifadəçi Emaili</b></th>
                            <th class="text-center"><b>İstifadəçi Nömrəsi</b></th>
                            <th class="text-center"><b>Əlavə olunma tarixi</b></th>
                            <th class="text-center"><b>Əməliyyatlar</b></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="DataTableForm">@Html.AntiForgeryToken()</form>
