﻿@using Microsoft.AspNetCore.Identity
@using UTEP.Data.Domain.Models.Tables.UserBasedGroup

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    Layout = null;
}
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="@SharedLocalizer["language"]">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>UTEP Company Profile | @ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/layouts/layout/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Arial",sans-serif;
        }
        .private_cabinet a{
            color: white;
        }
        .private_cabinet a:hover, a:active, a:focus{
            background-color: transparent !important;
        }
    </style>

    @RenderSection("Styles", false)
    <!-- END THEME LAYOUT STYLES -->

    <link rel="shortcut icon" href="~/logo/UTEP3.png">
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a asp-area="CompanyProfile" asp-controller="Home" asp-action="Index">
                        <img src="~/v2/img/utep-logo.png" alt="logo" height="40" width="40" style="margin: 5px 0 0;" />
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="private_cabinet">
                            <a href="javascript:void(0);">
                                @SharedLocalizer["private_cabinet"]
                            </a>
                        </li>
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                <img alt="" class="img-circle" src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/layouts/layout/img/avatar.png" />
                                <span class="username username-hide-on-mobile"> @UserManager.GetUserName(User)  </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                @*<li class="divider"> </li>
                                    <li>
                                        <a href="page_user_lock_1.html">
                                            <i class="icon-lock"></i> Lock Screen
                                        </a>
                                    </li>*@
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="icon-logout"></i> @SharedLocalizer["logout"]
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="CompanyProfile" asp-controller="User" asp-action="ChangePassword">
                                        <i class="fa fa-key"></i> @SharedLocalizer["change_password"]
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form id="logoutForm" asp-controller="Account" asp-action="Logout" asp-area="" method="post"></form>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            @Html.Partial("_SidebarPartial")
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE CONTENT-->
                    @RenderBody()
                    <!-- END PAGE CONTENT-->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        @Html.Partial("_FooterPartial")
        <!-- END FOOTER -->
    </div>
    <!--[if lt IE 9]>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/respond.min.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    @RenderSection("Scripts", false)
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>

</html>