﻿@using Microsoft.AspNetCore.Identity
@using UTEP.Data.Domain.Models.Tables

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject IViewLocalizer Localizer

@{
    var user = UserManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
    var confirmedCompany = UserManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name).TypeOfUser == 1;
    //var clientCompany = UserManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name).Company.TypeOfCompany == 1;
}

<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="400" style="padding-top: 20px">
            <li class="nav-item start ">
                <a asp-controller="Home" asp-action="Index" asp-area="" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">@Localizer["back_to_site"]</span>
                    @*<span class="arrow"></span>*@
                </a>
                @*<ul class="sub-menu">
                    <li class="nav-item start ">
                        <a asp-controller="Home" asp-action="Index" asp-area="CompanyProfile" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Ana Səhifə</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a asp-controller="Home" asp-action="Index" asp-area="" class="nav-link ">
                            <i class="fa fa-reply"></i>
                            <span class="title">Sayta Geri Dön</span>
                        </a>
                    </li>
                </ul>*@
            </li>

            <li class="heading">
                <h3 class="uppercase">Sections</h3>
            </li>


            <!--Company Order-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-briefcase font-dark"></i>
                    <span class="title">@Localizer["my_announces"]</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-controller="CompanyOrder" asp-action="Create" asp-area="CompanyProfile" class="nav-link ">
                            <span class="title">@Localizer["new"]</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a asp-controller="CompanyOrder" asp-action="Index" asp-area="CompanyProfile" class="nav-link ">
                            <span class="title">@Localizer["list"]</span>
                        </a>
                    </li>
                </ul>
            </li>




            <!--Own-->
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-briefcase font-dark"></i>
                    <span class="title">@Localizer["my_profile"]</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a asp-area="CompanyProfile" asp-controller="Home" asp-action="OwnPage" class="nav-link ">
                            <span class="title">@Localizer["list"]</span>
                        </a>
                    </li>
                </ul>
            </li>

            @*}*@

            <!--Driver Response-->
            @*<li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-credit-card"></i>
                        <span class="title">Sürücü Cavabı</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a asp-controller="DriverResponse" asp-action="Create" asp-area="CompanyProfile" class="nav-link ">
                                <span class="title">Yeni</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a asp-controller="DriverResponse" asp-action="Index" asp-area="CompanyProfile" class="nav-link ">
                                <span class="title">Siyahı</span>
                            </a>
                        </li>
                    </ul>
                </li>*@


        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
