﻿@model UTEP.Web.Areas.Admin.Models.CooperationViewModels.EditCooperationViewModel

@{
    ViewData["Title"] = "Yeni Tərəfdaş";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Tərəfdaş</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">

                                    <form asp-controller="cooperation" asp-action="edit" asp-area="admin" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Tərəfdaş Adı</label>
                                            <input asp-for="Name" class="form-control" required />
                                            <span asp-validation-for="Name" class="text-danger" required></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Şirkət Logosu</label>
                                            <input asp-for="Logo" onchange="UploadPhoto(this)" class="form-control" accept="image/*" />
                                            @*<span asp-validation-for="Fax" class="text-danger" required></span>*@
                                        </div>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="text-right col-md-12">
                                                    <button id="btn-validate-spinner" type="button" class="btn green">Submit</button>
                                                    <a asp-area="Admin" asp-controller="cooperation" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<input type="hidden" asp-for="@Model.UserId" />*@
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function UploadPhoto(inp) {
            if (inp.files && inp.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#logo + img').remove();
                    $('#logo').after('<img src= "' + e.target.result + '" width="100" height="100" style="text-align:center;" />');
                }
                reader.readAsDataURL(inp.files[0]);
            }
        }
    </script>
}