﻿@model UTEP.Web.Areas.Admin.Models.TruckViewModels.CreateTruckViewModel

@{
    ViewData["Title"] = "Truck Create";
}
@section Styles{ <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Create</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Truck</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <div id="truckImage" style="text-align:center">
                                        <img src="" id="truckImage" width="300" height="150" style="object-fit:contain; display:none; border:1px solid #dddddd" />
                                        <hr />
                                    </div>
                                    <form asp-area="Admin" asp-controller="Truck" asp-action="Create" method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Qeydiyyat Sertifikatı</label>
                                            <input asp-for="RegistrationCertificate" value="RegistrationCertificate.FileName" accept="image/png, image/jpeg, image/png, image/gif" onchange="showImage.call(this)" class="form-control" />
                                            <span asp-validation-for="RegistrationCertificate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Qeydiyyat Nömrəsi</label>
                                            <input asp-for="RegistrationNumber" class="form-control"/>
                                            <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Istehsal tarixi</label>
                                            <div class="input-group input-medium date date-picker" data-date-format="dd.mm.yyyy" data-date-start-date="">
                                                <input type="text" class="form-control" asp-for="YearOf" value="@DateTime.Now.ToString("dd.MM.yyyy")">
                                                <span class="input-group-btn">
                                                    <button class="btn default green" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span asp-validation-for="YearOf" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nəqliyyat Markası</label>
                                            <select asp-for="VehicleMarkId" asp-items="Model.VehicleMarks" class="form-control">
                                                <option value="">...</option>
                                            </select>
                                            <span asp-validation-for="VehicleMarkId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nəqliyyat Modeli</label>
                                            <select asp-for="VehicleModelId" class="form-control"></select>
                                            <span asp-validation-for="VehicleModelId" class="text-danger"></span>
                                        </div>
                                        <div class="form-actions text-right">
                                            <button id="btn-validate-spinner" type="button" class="btn green">Təsdiqlə</button>
                                            <a asp-area="Admin" asp-controller="Truck" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                        </div>
                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
          function loadData(){
            var selectCreateem = $("#VehicleMarkId").val();
            var ddlVehicleModels = $("#VehicleModelId");
            $.ajax({
                cache: false,
                type: "GET",
                url:"@Url.Action("GetVehicleModels", "VehicleModel", new { area = "Admin" })",
                data: { "id": selectCreateem },
                success: function (data) {
                    ddlVehicleModels.html('');
                    $.each(data, function (id, option) {
                        ddlVehicleModels.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve vehicle models.');
                }
            });
          }

        $(function () {
            loadData();

            $("#VehicleMarkId").change(function () {
                loadData();
            });
        });
    </script>
    <script>
        function showImage() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("truckImage");
                    image.src = data.target.result;
                    image.style.display = "inline";
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
    </script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        var ComponentsDateTimePickers = function () {

            var handleDatePickers = function () {

                if (jQuery().datepicker) {
                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        orientation: "left",
                        autoclose: true
                    });
                    //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                }

                /* Workaround to restrict daterange past date select: http://stackoverflow.com/questions/11933173/how-to-restrict-the-selectable-date-ranges-in-bootstrap-datepicker */

                // Workaround to fix datepicker position on window scroll
                $(document).scroll(function () {
                    $('#form_modal2 .date-picker').datepicker('place'); //#modal is the id of the modal
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleDatePickers();
                }
            };

        }();

        if (App.isAngularJsApp() === false) {
            jQuery(document).ready(function () {
                ComponentsDateTimePickers.init();
            });
        }
    </script>

}
