﻿@model UTEP.Web.Areas.Admin.Models.CompanyOrderAdminViewModels.CreateCompanyOrderAdminViewModel

@{
    ViewData["Title"] = "Yeni Sifariş";
}
@section Styles{ <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

    <!-- Google Fonts -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">*@
    <!-- styles -->
    @*<link href="~/uploader/css/jquery.fileuploader.css" rel="stylesheet" />
        <link href="~/uploader/css/jquery.fileuploader-theme-thumbnails.css" rel="stylesheet" />*@

    @*<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Sifariş</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form asp-area="Admin" asp-controller="companyorderAdmin" asp-action="Create" method="post" enctype="multipart/form-data">

                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Təklif edilən qiymət </label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input asp-for="ProporsalPrice" value="@Model.ProporsalPrice.ToString("0.##")" autofocus class="form-control" />
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" asp-for="Currency">
                                                        <option value="1">AZN</option>
                                                        <option value="2">USD</option>
                                                        <option value="3">EUR</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="ProporsalPrice" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Başlanğıc Yeri ( Ölkə, Şəhər )<span style="color:red; font-size:20px;">*</span></label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <select lang="az" asp-items="Model.FromCountries" asp-for="FromCountryId" class="form-control select2" required>
                                                        <option value="">Ölkə</option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select lang="az" asp-items="Model.FromCities" asp-for="FromCityId" class="form-control select2" required>
                                                        <option value="">Şəhər</option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.FromCountryId" class="text-danger">
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Başlanğıc Yeri Haqqında Ətraflı Məlumat</label>
                                            <input asp-for="FromDescription" class="form-control" />
                                            <span asp-validation-for="FromDescription" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">Təhvil Yeri ( Ölkə, Şəhər )<span style="color:red; font-size:20px;">*</span></label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <select lang="az" asp-items="Model.ToCountries" asp-for="ToCountryId" class="form-control select2" required>
                                                        <option value="">Ölkə</option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <select lang="az" asp-items="Model.ToCities" asp-for="ToCityId" class="form-control select2" required>
                                                        <option value="">Şəhər</option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.ToCountryId" class="text-danger">
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Təhvil Yeri Haqqında Ətraflı Məlumat</label>
                                            <input asp-for="ToDescription" class="form-control" />
                                            <span asp-validation-for="FromDescription" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Məhsulun adı <span style="color:red; font-size:20px;">*</span></label>
                                            <input asp-for="CreateProduct.Name" autofocus class="form-control" required />
                                            <span asp-validation-for="CreateProduct.Name" class="text-danger"></span>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="control-label">Məhsulun ölçüsü (KubMetr) <span style="color:red; font-size:20px;">*</span></label>
                                                <input asp-for="CreateProduct.Size" value="@Model.CreateProduct.Size.ToString("#")" asp-is-invariant="true" class="form-control">
                                                <span asp-validation-for="CreateProduct.Size" class="text-danger"></span>
                                            </div>*@
                                        <div class="form-group">
                                            <label class="control-label">Məhsulun ağırlığı (ümumi çəki) <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input asp-for="CreateProduct.Tonnage" value="@Model.CreateProduct.Tonnage.ToString("#")" asp-is-invariant="true" class="form-control" required>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" asp-for="Weight">
                                                        <option value="1">Kq</option>
                                                        <option value="2">Ton</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="CreateProduct.Tonnage" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Məhsul sayı (neçə ədəd, qutu və ya palet) <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input asp-for="CreateProduct.PaletteCount" class="form-control" min="1" value="@Model.CreateProduct.PaletteCount" required>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" asp-for="CreateProduct.WeightType">
                                                        <option value="0">Seçin</option>
                                                        <option value="1">@UTEP.Settings.WeightType.GetWeightType(UTEP.Settings.WeightType.Palet, Model.Lang)</option>
                                                        <option value="2">@UTEP.Settings.WeightType.GetWeightType(UTEP.Settings.WeightType.Yeşik, Model.Lang)</option>
                                                        <option value="3">@UTEP.Settings.WeightType.GetWeightType(UTEP.Settings.WeightType.Kisə, Model.Lang)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span asp-validation-for="CreateProduct.PaletteCount" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Məhsul Tipi <span style="color:red; font-size:20px;">*</span></label>
                                            <select asp-for="CreateProduct.ProducTypeId" asp-items="Model.CreateProduct.ProductTypes" class="form-control" required></select>
                                            <span asp-validation-for="CreateProduct.ProducTypeId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Şirkət</label>
                                            <select asp-for="CreateProduct.CompanyId" asp-items="@Model.CreateProduct.Companies" class="form-control" required>
                                                <option value="">Şirkət seçin</option>
                                            </select>
                                            <span asp-validation-for="CreateProduct.CompanyId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Sifarişin Başlama Vaxtı <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                <input type="text" class="form-control" asp-for="DealDate" readonly="" value="@DateTime.Now.ToString("dd-MM-yyyy")">
                                                <span class="input-group-btn">
                                                    <button class="btn default green" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span asp-validation-for="DealDate" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Sifarişin Bitmə Vaxtı <span style="color:red; font-size:20px;">*</span></label>
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                <input type="text" class="form-control" asp-for="DeadLine" readonly="" value="@DateTime.Now.AddDays(7).ToString("dd-MM-yyyy")">
                                                <span class="input-group-btn">
                                                    <button class="btn default green" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span asp-validation-for="DeadLine" class="text-danger"></span>
                                        </div>



                                        <div class="form-group">
                                            <label class="control-label">Məhsulun Şəkilləri (<b> ən az 1, ən çox 6 </b>) <span style="color:red; font-size:20px;">*</span></label>
                                            <input type="file" class="form-control" name="collection" accept="image/*" multiple>
                                        </div>

                                        <input type="hidden" asp-for="CreateProduct.CompanyId" />

                                        <div class="form-actions text-right">
                                            <button id="btn-validate-spinner" type="button" class="btn green">Təsdiqlə</button>
                                            <a asp-area="Admin" asp-controller="companyorderadmin" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                        </div>
                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @*<script src="~/uploader/js/jquery.fileuploader.min.js"></script>
        <script src="~/uploader/js/custom.js"></script>*@
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/pages/scripts/components-select2.min.js"></script>
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/select2/js/select2.full.min.js"></script>

    <script>
        $(function () {
            $("input[type='file']").on('change', function () {
                var $fileUpload = $("input[type='file']");
                if (parseInt($fileUpload.get(0).files.length) > 6) {
                    alert("Ən çox 6 şəkil yükləyə bilərsiniz");
                }
            });
        });
    </script>

    <script>
        var ComponentsDateTimePickers = function () {
            var t = function () {
                jQuery().datepicker && $(".date-picker").datepicker({
                    rtl: App.isRTL(),
                    orientation: "left",
                    autoclose: !0
                }),
                    $(document).scroll(function () {
                        $("#form_modal2 .date-picker").datepicker("place")
                    })
            };
            return {
                init: function () {
                    t()
                }
            }
        }();
        App.isAngularJsApp() === !1 &&
            jQuery(document).ready(function () {
                ComponentsDateTimePickers.init()
            });
    </script>

    <script>
        $(document).ready(function () {
            $("#FromCountryId").change(function () {
                var countryId = $("#FromCountryId").val();
                $.getJSON("/admin/az/companyorderadmin/GetCities/", { id: countryId }, function (data) {
                    $("#FromCityId option").remove();

                    $.each(data, function () {
                        $("#FromCityId").append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                });
            });


            $("#ToCountryId").change(function () {
                var countryId = $("#ToCountryId").val();
                $.getJSON("/admin/az/companyorderadmin/GetCities/", { id: countryId }, function (data) {
                    $("#ToCityId option").remove();

                    $.each(data, function () {
                        $("#ToCityId").append('<option value=' +
                            this.Value + '>' + this.Text + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                });
            });
        });
    </script>
}



