﻿
@{
    ViewData["Title"] = "Ana Sehife";
}
<title></title>

@section Styles{
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    @*<link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />*@
    <link href="~/Plugins/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/Plugins/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/date/formatdate.js"></script>
    <script src="~/js/admin/companyOrderAdmin.js"></script>
}


<div class="row margin-top-10">
    <div class="col-md-12 text-center">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="fa fa-briefcase font-dark"></i>
                    <span class="caption-subject bold">
                        Şirkət Sifarişi - Admin
                        <a asp-controller="CompanyOrderAdmin" asp-action="Create" class="btn blue  btn-xs  btn-outline">
                            Yeni <i class="fa fa-plus"></i>
                        </a>
                        <a asp-controller="CompanyOrderAdmin" asp-action="Trash" class="btn red  btn-xs  btn-outline">
                            Silinən - Admin tərəfindən<i class="fa fa-times"></i>
                        </a>
                        <a asp-controller="CompanyOrderAdmin" asp-action="TrashbyCompany" class="btn red  btn-xs  btn-outline">
                            Silinən - Şirkət tərəfindən<i class="fa fa-times"></i>
                        </a>
                        <a asp-controller="CompanyOrderAdmin" asp-action="Waited" class="btn dark  btn-xs  btn-outline">
                            Təsdiq olunmayan <i class="fas fa-ban"></i>
                        </a>
                    </span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table id="companyorderadminIndexTable" class="table table-hover table-striped table-bordered nowrap text-center" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center"><b>Təklif Edilən Qiymət</b></th>
                            <th class="text-center"><b>Valyuta</b></th>
                            <th class="text-center"><b>Başlanğıc Nöqtəsi</b></th>
                            <th class="text-center"><b>Təhvil Nöqtəsi</b></th>
                            <th class="text-center"><b>Ad</b></th>
                            @*<th class="text-center"><b>Ölçü</b></th>*@
                            <th class="text-center"><b>Ağırlıq</b></th>
                            <th class="text-center"><b>Sabit</b></th>
                            <th class="text-center"><b>Sayı</b></th>
                            <th class="text-center"><b>Şirkət Adı</b></th>
                            @*<th class="text-center"><b>Product Tipi</b></th>*@
                            <th class="text-center"><b>Başlama tarixi</b></th>
                            <th class="text-center"><b>Bitmə tarixi</b></th>
                            <th class="text-center"><b>Əlavə olunma tarixi</b></th>
                            <th class="text-center"><b>Əməliyyatlar</b></th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="DataTableForm">@Html.AntiForgeryToken()</form>