﻿@model UTEP.Web.Areas.Admin.Models.DeliveryDetailViewModels.CreateDeliveryDetailViewModel

@{
    ViewData["Title"] = "DeliveryDetail Yeni";
}
@section Styles{ <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Yeni</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Delivery Detail</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!--  INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form asp-area="Admin" asp-controller="DeliveryDetail" asp-action="Create" method="post">

                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label class="control-label">Təhvil Verilən Məhsul</label>
                                            <select asp-for="DeliveryId" asp-items="Model.Deliveries" autofocus class="form-control"></select>
                                            <span asp-validation-for="DeliveryId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">En</label>
                                            <input asp-for="DestinationTownLatitude" class="form-control" />
                                            <span asp-validation-for="DestinationTownLatitude" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Uzunluq</label>
                                            <input asp-for="DestinationTownLongitude" class="form-control" />
                                            <span asp-validation-for="DestinationTownLongitude" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Bitmə tarixi</label>
                                            <div class="input-group input-medium date date-picker" data-date-format="dd.mm.yyyy" data-date-start-date="">
                                                <input type="text" class="form-control" asp-for="FinishDate" value="@Model.FinishDate">
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span asp-validation-for="FinishDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-actions text-right">
                                            <button id="btn-validate-spinner" type="button" class="btn green">Təsdiqlə</button>
                                            <a asp-area="Admin" asp-controller="DeliveryDetail" asp-action="Index" asp-route-id="" class="btn default">Ləğv et</a>
                                        </div>
                                    </form>
                                </div>
                                <!-- End  TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{ <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/datatables/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/952A9DBE-18BC-4A9E-8B71-8E4E2AE4C6C2/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script>
            var ComponentsDateTimePickers = function () {

                var handleDatePickers = function () {

                    if (jQuery().datepicker) {
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });
                        //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                    }

                    /* Workaround to restrict daterange past date select: http://stackoverflow.com/questions/11933173/how-to-restrict-the-selectable-date-ranges-in-bootstrap-datepicker */

                    // Workaround to fix datepicker position on window scroll
                    $(document).scroll(function () {
                        $('#form_modal2 .date-picker').datepicker('place'); //#modal is the id of the modal
                    });
                }

                return {
                    //main function to initiate the module
                    init: function () {
                        handleDatePickers();
                    }
                };

            }();

            if (App.isAngularJsApp() === false) {
                jQuery(document).ready(function () {
                    ComponentsDateTimePickers.init();
                });
            }
        </script>
    }
}
